:root{
    --primary : cadetblue;
    --secondary : white;
    --tertiary : cadetblue;
    --tableheader : rgba(0, 0, 0, 0.589);
    --tabletext : rgb(2, 0, 0);
}

.body {
    background-color: var(--secondary);
}

.nav-link {
    color: #fff;
}

#logoutclass {
    position: relative !important;
    left: 1150px !important;
    border: none !important;
    cursor: pointer !important;
    background-color: transparent;
    color: #fff;
}

.right-justify{
    text-align: right;
}


.btn-main {
    border-color: var(--primary);
    background-color: var(--primary) !important;
    color: var(--secondary)
}
.navbar {
    background: var(--primary);
    vertical-align: center;
    text-align: center;
    color: #fff;
    box-shadow: 0px 4px lightgrey;
}

.navbar-nav .nav-link {
    padding-left: 10px;
}

.navbar-brand-custom {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: auto;
    padding-right: 30px;
}

/* #modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  } */
#dropdownList {
    display: none;
    background-color: #fff;

}

.dummy {
    border: 0px solid black;
}

#footer_root{
    position: fixed;
    bottom: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.flex-align-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-align-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#modal {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 86vw;
    height: 17vh;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-size: 1.5rem;
    animation-name: animatemodal;
    animation-duration: 0.4s;
    z-index: 20;
}

#close-btn {
    position: relative;
    margin-left: 130rem;
    font-size: 25px;
    font-weight: bold;
}

#close-btn:hover {
    cursor: pointer;
    color: #ff0000;
}

/* modal part end */

/* animation part */
@keyframes animatemodal {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 3%;
        opacity: 1;
    }
}

/* css for department multiselect */
.container {
    max-width: 50vw;
    margin: 0 auto;
}

select[data-multi-select-plugin] {
    display: none !important;
}
.material-icon{
    font-family: 'Material Icons' !important;
    font-size: 18px !important;
}

.multi-select-component {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 3px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    padding-bottom: 0px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.autocomplete-list {
    border-radius: 4px 0px 0px 4px;
}

.multi-select-component:focus-within {
    box-shadow: inset 0px 0px 0px 2px #78ABFE;
}

.multi-select-component .btn-group {
    display: none !important;
}

.multiselect-native-select .multiselect-container {
    width: 100%;
}

.selected-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #d9d9d9;
    background-color: #ededed;
    white-space: nowrap;
    margin: 1px 5px 5px 0;
    height: 22px;
    vertical-align: top;
    cursor: default;
}

.selected-wrapper .selected-label {
    max-width: 514px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4px;
    vertical-align: top;
}

.selected-wrapper .selected-close {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.49em;
    margin-left: 5px;
    padding-bottom: 10px;
    height: 100%;
    vertical-align: top;
    padding-right: 4px;
    opacity: 0.2;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    font-weight: 700;
}

.search-container {
    display: flex;
    flex-direction: row;
}

.search-container .selected-input {
    background: none;
    border: 0;
    height: 20px;
    width: 60px;
    padding: 0;
    margin-bottom: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-container .selected-input:focus {
    outline: none;
}

.dropdown-icon.active {
    transform: rotateX(180deg)
}

.search-container .dropdown-icon {
    display: inline-block;
    padding: 10px 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border: 0 !important;
    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* SVG background image */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23818181%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23818181%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
}

.search-container ul {
    position: absolute;
    list-style: none;
    padding: 0;
    z-index: 3;
    margin-top: 29px;
    width: 100%;
    right: 0px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.search-container ul :focus {
    outline: none;
}

.search-container ul li {
    display: block;
    text-align: left;
    padding: 8px 29px 2px 12px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    min-height: 31px;
}

.search-container ul li:first-child {
    border-top: 1px solid #ccc;
    border-radius: 4px 0px 0 0;
}

.search-container ul li:last-child {
    border-radius: 4px 0px 0 0;
}


.search-container ul li:hover.not-cursor {
    cursor: default;
}

.search-container ul li:hover {
    color: #333;
    background-color: rgb(251, 242, 152);
    ;
    border-color: #adadad;
    cursor: pointer;
}

/* Adding scrool to select options */
.autocomplete-list {
    max-height: 130px;
    overflow-y: auto;
}

.modal {
    display: none;
    /* Hidden by default */
    background-color: #fff;

}


/* Modal Content */
.modal-content {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 86vw;
    height: 17vh;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-size: 1.5rem;
    animation-name: animatemodal;
    animation-duration: 0.4s;
    z-index: 20;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 100rem
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.frame {
    width: 70vw;
    height: 180vh;
    padding: 0em;
    position:absolute;
    z-index: 10 ;
    

}

.open-button {
    border-bottom-style: groove;
    background-color: rgb(225 229 203);
    border-radius: 5%;
    border: outset;

}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background:var(--tableheader);
    padding: .5rem .5rem;
    color: var(--tabletext);
     border: none !important;
}

.jqgh_usergrid-table_cb{
    display: none !important;
}
/* issue */
.ui-jqgrid-labels th[id*="_cb"]:first-child>div {
  display: none;
}
.ui-jqgrid-sortable{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size:14px !important;
    font-weight: bolder;
    color: #fff;
}
.ui-jqgrid-sortable:hover {
    
    color: #2e2a2a;
}
.ui-jqgrid-jquery-ui.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr{
    border-color: #ddd #ddd ;
    height: 37px !important;
    text-align: center;
}

.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr>td{
    border-right-width: 0px;
    
}

.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr>td{
    padding-left: 8px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
}
.ui-jqgrid .jqgrow>td>.cbox {
    height: 17px !important;
    width: 13px !important;
    margin-left: -6px !important;
    cursor: pointer;
}
.p-2{
    margin-top: 8px !important;
}
.ui-jqgrid-jquery-ui.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr:hover{
    color: black !important;
}
ui-widget-content ui-row-ltr ui-state-highlight{
height: 40px !important;
}

.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels th div{
    position: relative;
    height: 37px;
    margin-right: 15px;
    overflow: initial;
    padding-top: 9px;
    

}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: 1 !important;  
}
.ui-jqgrid-btable .ui-widget-content.ui-state-hover {
    background-image: none;
    background-color:rgba(0, 0, 0, 0.075);
    opacity: 1;
}

.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary {
    background-image: none;
    opacity: 1;
   
}
label{
font-weight: 200 !important;
}

.margin-10{
    margin-right: 10%;
    margin-left:10%;
}
.margin-location{
    margin-right: 30%;
    margin-left:30%; 
}

.margin-user{
    margin-right: 34%;
    margin-left: 13%;
    margin-bottom: 7px;
}
.margin-police{
    margin-right: 41.5%;
    margin-left: 19%;
    margin-bottom: 7px;
}
.margin-subdivision{
    margin-right: 28%;
    margin-left: 30%;
}
.col-lg-4 {
    flex: 0 0 0 !important;
}

.grid-lnk{
    
    background: none;
    border: none;
    color:var(--tertiary);

}

.wid-100{
    width: 100%;
}
.location{
 margin-bottom: 12px;   
}

.frame-border{
    border :rgba(167, 56, 56, 0.175);
    box-shadow: rosybrown;
}

.row{
    flex-wrap: inherit !important;
}

.grid-table_value{
    width: 600px !important;
}