<div class="p-2 flex flex-col">
    <div *ngIf="editState && !readOnly" class="w-full flex items-center justify-end">
        <button type="button" matTooltip="Add Link">
            <mat-icon color="primary" (click)="createHyperlink()">add_circle</mat-icon>
        </button>
    </div>
    <ng-container *ngIf="links && links.length; else addLinks">
        <div class="w-full flex justify-between items-center" [ngStyle]="{'justify-content': _filePositioning}" *ngFor="let link of links; let linkIndex = index">
            <a class="flex items-center cursor-pointer" [href]="link.link" target="_blank">

                <mat-icon class="mr-2" color="primary">link</mat-icon> link <span
                    class="underline hover:underline-offset-4">{{ link.name }}</span>
            </a>
            <mat-icon class="ml-4" color="primary" *ngIf="editState" (click)="removeLinkHandler(linkIndex)">cancel</mat-icon>
        </div>
    </ng-container>
    <ng-template #addLinks>
        <p>Please Add Links</p>
    </ng-template>
</div>