<div class="field">
  <div class="html_text_editor_wrapper example-full-width">
      <!-- <ngx-editor-menu class="editor-menu-floating" [toolbar]="toolbar" [editor]="editor"> </ngx-editor-menu>
      <ngx-editor minHeight="30px" [editor]="editor" [(ngModel)]="item.html" [disabled]="false" [placeholder]="'Type here...'">
      </ngx-editor> -->
      <ejs-richtexteditor (focus)="onFocusEditor(true)" (blur)="onFocusEditor(false)" [fontSize]="fontSize" [fontFamily]="fontFamily" (focus)="toggleToolbar(true)" (blur)="toggleToolbar(false)" [toolbarSettings]='tools' [insertImageSettings]="imageSettings" #textEditorRef [(ngModel)]="item.html" [id]='item.id'>
      </ejs-richtexteditor>
    </div>
  
    <div class="actions-buttons">
      <span dndHandle class="material-icons-outlined">
        drag_indicator
        </span>
        <span (click)="removeEmitted.emit(item)" style="color: rgb(218, 108, 108);" class="material-icons-outlined">
          clear
        </span>
    </div>
  </div>
  