.example-full-width {
    border: 1px solid transparent;
    padding: 0.5rem;
    transition: 0.2s all;
}

::ng-deep .field .mat-form-field-wrapper {
    padding-bottom: 0!important;
}

.editor-menu-floating {
    position: absolute;
    top: -39px;
    right: 0;
    z-index: 10000;
    border: 1px solid rgb(238, 238, 238);
    display: none;
}




.html_text_editor_wrapper {
    position: relative;
    // padding-bottom: 0!important;
}

.actions-buttons {
    position: absolute;
    right: 1rem;
    bottom: -2.2rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid rgb(238, 238, 238)!important;
    padding: 0.5rem;
    transition: 0.2s all;
    & span {
        color: #499B90;
        // margin-left: 1rem;
        font-size: 1.2rem;
        cursor: pointer;
    }
    
    background-color: #fff;
    z-index: 20;
    display: flex;
    flex-direction: row!important;
    border-top: 1px solid transparent!important;
    opacity: 0;

}
    .field:hover {
    
        & .actions-buttons {
            opacity: 1;
        }
    
        & .example-full-width {
            border: 1px solid #499b906e;
        }
    
        & .editor-menu-floating {
            display: block;
        }
    }

.field {
    position: relative;
    padding: 0.3rem;
}

.html_text_editor_wrapper .e-toolbar-wrapper {
    position: absolute!important;
    top: -42px!important;
    left: 0!important;
    width: 100%;
    display: block;
    visibility: hidden;
}



.html_text_editor_wrapper:hover .e-toolbar-wrapper {
    visibility: visible;
}


::ng-deep .html_text_editor_wrapper .e-richtexteditor .e-rte-content .e-content {
    min-height: 39px;
    padding: 10px
}

::ng-deep .html_text_editor_wrapper .e-richtexteditor.e-rte-tb-expand .e-rte-content{
    border: none!important;
}

.e-dropdown-popup:hover .e-toolbar-wrapper {
    visibility: visible!important;
}

.visibleClass {
    visibility: visible;
}

.hiddenClass {
    visibility: hidden;
}