<div class="card w-full p-4">
    <div class="w-full flex justify-between mb-4">
        <button mat-stroked-button color="primary"><a (click)="downloadFile()" class="flex items-center">
                <mat-icon class="mr-2">download</mat-icon> Download
            </a></button>
        <button mat-stroked-button (click)="goBack()" color="accent">Cancel</button>
    </div>

    <div class="w-full flex mt-15 justify-center">
        <mat-progress-spinner *ngIf="loading" [diameter]="100" class="spinner" color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>

    <ngx-doc-viewer [url]="(url | async)" viewer="google" googleCheckContentLoaded=true  googleCheckInterval=3000 (loaded)="loaded()" style="width:100%;height:85vh;">
    </ngx-doc-viewer>
</div>