<div exaiMoveable [draggableOnly]="true" class="card-items-wrapper">
    <ul class="card-items">
        <li (click)="actionClicked(item)" #items [attr.actionBtn]="item.actionBtn" *ngFor="let item of elements" class="card-item">

            <div [ngSwitch]="item.elementType">

                <div *ngSwitchCase="'divide'">
                    <span class="divide"></span>
                </div>

                <div *ngSwitchCase="'form-multiple'">
                    <mat-icon [matTooltip]="item.label" mat-button [matMenuTriggerFor]="menu" fontSet="material-icons-outlined">{{ item.icon }}</mat-icon>
                
                    <mat-menu class="providers-menu" #menu="matMenu">
                        <ul class="form-list">
                            <li [matTooltip]="el.label" (click)="actionClicked(el)" *ngFor="let el of item.elements">
                                <mat-icon fontSet="material-icons-outlined">{{ el.icon }}</mat-icon>
                            </li>
                        </ul>
                    </mat-menu>
                </div>

                <div *ngSwitchCase="'card-configuration'">
                    <mat-icon  [matTooltip]="item.label" [ngClass]="{ 'active-style': cardBuilderElementsService.cardSizeConfigurationStatus }" fontSet="material-icons-outlined">
                        {{ item.icon }}
                    </mat-icon>
                </div>

                <div *ngSwitchCase="'save'">
                    <mat-icon  [matTooltip]="item.label"  class="save-button-icon" color="primary" fontSet="material-icons-outlined">
                        {{ item.icon }}
                    </mat-icon>
                </div>

                <div *ngSwitchDefault>
                    <mat-icon  [matTooltip]="item.label"  fontSet="material-icons-outlined">{{ item.icon }}</mat-icon>
                </div>
              </div>
           
        </li>
    </ul>
    <div class="loading-spinner-card">
        <mat-spinner *ngIf="loading$ | async" [diameter]="20"></mat-spinner>
    </div>
</div>