.card-items-wrapper {
    width: 3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    right: 2rem;
    top: calc(50% - 10rem);
    height: 20rem;
    z-index: 1000;
}

.card-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.35rem 0;

    & mat-icon {
        color: rgb(126, 126, 126);
        transition: 0.2s all;
    }

    text-align: center;
    justify-content: center;

    & h3 {
        font-size: 0.65rem;
        color: rgb(116, 116, 116);
        transition: 0.2s all;
    }

    transition: 0.2s all;
    cursor: pointer;

    &:hover {

        & mat-icon, h3 {
            color: rgb(251, 162, 162);

        }
    }
}

.divide {
    height: 1px;
    width: 3rem;
    background-color: rgb(225, 225, 225);
    display: block;
}

mat-icon.active-style {
    color: rgb(251, 162, 162)!important;
}

.form-list {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;

    & .mat-menu-panel {
        min-height: 40px!important;
    }

    & li {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    & mat-icon {
        font-size: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
        color: rgb(126, 126, 126);

        // margin-right: 0.5rem;

        &:hover {
            color: rgb(251, 162, 162);
        }
    }
}

::ng-deep .mat-menu-panel.providers-menu {
    min-height: 30px!important;
}

::ng-deep .mat-menu-panel {
    min-height: 30px!important;
    min-width: 40px!important;
}

.save-button-icon {
    color: var(--toolbar-icon-color)!important;
}

.loading-spinner-card {
    display: flex;
    justify-content: center;
    align-items: center;
}