<div class="flex justify-between" fxLayout="auto">
    <div class="flex justify-start">
        <h1 mat-dialog-title>Edit password</h1>
    </div>
    <div class="flex justify-end" (click)="onCancel()">
        <mat-icon class="cursor-pointer">close</mat-icon>
    </div>
</div>
<div mat-dialog-content>
    <form [formGroup]="passwordForm" class="grid-container">
        <mat-form-field appearance="outline">
            <mat-label>Current password*</mat-label>
            <input matInput type="password" formControlName="password"
                matTooltip="Password needs to be in format: Minimum 6 and maximum 16 characters."
                matTooltipPosition="after">
            <mat-error *ngIf="passwordForm.controls['password'].invalid">
                {{ getErrorMessages('password') }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>New password*</mat-label>
            <input matInput type="password" formControlName="newPassword"
                matTooltip="Password needs to be in format: Minimum 6 and maximum 16 characters."
                matTooltipPosition="after">
            <mat-error *ngIf="passwordForm.controls['newPassword'].invalid">
                {{ getErrorMessages('newPassword') }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Repeat new password*</mat-label>
            <input matInput type="password" formControlName="repeatNewPassword"
                matTooltip="Password needs to be in format: Minimum 6 and maximum 16 characters."
                matTooltipPosition="after">
            <mat-error *ngIf="passwordForm.controls['repeatNewPassword'].invalid">
                {{ getErrorMessages('repeatNewPassword') }}
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div class="flex justify-between w-full" mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button [disabled]="passwordForm.invalid" cdkFocusInitial (click)="savePassword()">Save</button>
</div>