.card-result-wrapper {
    display: block;
    width: 100%;
    // display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .card-wrapping-childs {
    // display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
  }


  .card {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    position: relative;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
  }
  
  .face {
    overflow: hidden;
    margin-bottom: 2rem;
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }

.loading-spinner {
    width: 100%;
    min-height: calc(80vh - 4rem);
    display: flex;
    padding-top: 5rem;
    justify-content: center;
}

.card-side-child {
    background-color: #fff;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
