<mat-progress-bar class="globalProgress" *ngIf="loadingUserData" mode="indeterminate"></mat-progress-bar>
<div class="card-result-wrapper" [id]="printRandomId"  [ngClass]="{ 'readonly-form': true }">
<div class="card-wrapping-childs">

    <!-- FRONT AND BACK SIDE -->
    <ng-container *ngFor="let part of cardParts">

        <div
        class="card-side-child"
        [style.backgroundRepeat]="part.imageData.imageRepeat"
        [style.backgroundPosition]="part.imageData.imagePosition"
        [style.backgroundSize]="part.imageData.imageSize"
        [style.backgroundImage]="'url('+ part.imageData?.imageContent +')'"
        [style.borderColor]="part.borderColor"
        [style.borderWidth.px]="part.borderWidth"
        [ngStyle]="{ 'width.mm': cardSizeConfiguration.width, 'height.mm': cardSizeConfiguration.height, 'border-radius.mm': cardSizeConfiguration.borderRadius}"
        [formGroup]="generatedForm" >

            <!-- ELEMENTS OF CARD SIDE -->
            <ng-container *ngFor="let element of part.elements">
                
                <ng-container [ngSwitch]="element.elementType">
    
                    <ng-container *ngSwitchCase="'card-image'">
                        <exai-card-builder-result-elements [item]="element">
                        </exai-card-builder-result-elements>
                    </ng-container>

                    <ng-container *ngSwitchCase="'editor'">
                        <exai-card-builder-result-elements [item]="element">
                        </exai-card-builder-result-elements>
                    </ng-container>

                    <ng-container *ngSwitchCase="'form'">
                        <exai-card-builder-control [formControlName]="element | controlName" [item]="element">
                        </exai-card-builder-control>
                    </ng-container>

                </ng-container>

            </ng-container>


        </div>

    </ng-container>
</div>


<button  [style.display]="'none'" #buttonPrint mat-raised-button class="ml-3"  styleSheetFile="assets/print-styles/print-styles-card.css"  [useExistingCss]="true" [printSectionId]="printRandomId" ngxPrint>
    <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
        print
    </mat-icon>
    <span>Print</span>
</button> 

</div>