<mat-progress-bar *ngIf="loadingUserData" mode="indeterminate"></mat-progress-bar>
<div id="section-to-print" class="form-wrapper" [ngClass]="{ 'readonly-form': isPreview }">

  <form [formGroup]="generatedForm" (ngSubmit)="submitForm()">
    <ng-template #recursiveList let-list>

      <div style="width: 100%" *ngFor="let item of list">

        <div *ngIf="item.content" class="dnd-content">
          {{ item.content }}
        </div>

        <ng-container [ngSwitch]="item.elementType">

          <div *ngSwitchCase="'primaryKey'">
            <exai-form-builder-element-primary-key [view]="true" [item]="item"></exai-form-builder-element-primary-key>
          </div>

          <div *ngSwitchCase="'form'">
            <app-form-builder-control [hidden]="item.hide" [formControlName]="item.id" [itemData]="item">
            </app-form-builder-control>
          </div>

          <div *ngSwitchCase="'image'">
            <exai-form-builder-image [view]="true" [item]="item"></exai-form-builder-image>
          </div>

          <div *ngSwitchCase="'table'">
            <exai-form-builder-element-table [item]="item" [formControlName]="item.id" [view]="true">
            </exai-form-builder-element-table>
          </div>

        <div *ngSwitchCase="'excel'">
          <exai-form-builder-excel [view]="true" [formControlName]="item.id" [item]="item"></exai-form-builder-excel>
        </div>
          
          <div *ngSwitchCase="'tableForm'">
            <exai-table-form-view [item]="item" [formControlName]="item.id"></exai-table-form-view>
          </div>

          <div class="example-full-width submit-button-form" *ngSwitchCase="'button'">
            <button style="display: flex;justify-content: center;padding: 0.2rem;" class="submit-button" *ngIf="item.buttonType === 'submit'" [disabled]="!generatedForm.valid || submittingForm"
              type="submit" mat-raised-button color="primary">
              <span *ngIf="!submittingForm">Submit</span>

              <mat-progress-spinner *ngIf="submittingForm" [diameter]="30" color="accent"
                mode="indeterminate">
              </mat-progress-spinner>
            </button>
          </div>

        </ng-container>

        <ng-container *ngIf="item.html">
          <div class="html" [innerHtml]="item.html | sanitizeHtml"></div>
        </ng-container>

        <ng-container *ngIf="item?.children">

          <div [class]="item.class" class="layout-padding">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>

          </div>


        </ng-container>


      </div>

    </ng-template>

    <div class="generalDropzone">

      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: pageBuilder }"></ng-container>


    </div>
  </form>
</div>