:host {
    display: block;
    box-sizing: border-box;
  }

  .row-indicator {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    // padding: 10px;
    height: 100%;
    position: relative;
  }
  
  .col-indicator {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
    height: 100%;
    border-radius: 6px;
    position: relative;
  }
  
  .dnd-content {
    border: 1px solid rgb(241, 241, 241);
    height: auto;
    border-radius: 6px;
    padding: 0.4rem;
  }
  
  .generalDropzone {
    width: 100%;
    min-height: calc(80vh - 4rem);
    padding: 1rem;
    // padding-top: 2.5rem;
  }
  
  .col-indicator {
  
    & .actions-buttons {
      right: 1.4rem;
    }
  }

.html {
  padding: 0 0.3rem;
  
  & p {
    min-height: 20px;
    margin: 0 0 10px!important;
    font-size: 12px;
  }

  & h1 {
    font-size: 30px;
  }

  & h2 {
    font-size: 25px;
  }

  & h3 {
    font-size: 20px;
  }

  & h4 {
    font-size: 15px;
  }

  overflow: hidden;

  img {
    display: inline;
  }
}


.example-full-width {
  padding: 0.3rem;
  transition: 0.2s all;
  width: 100%;
}

.submit-button {
  width: 100%;
}

::ng-deep .form-wrapper .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0!important;
}

.form-wrapper {
  position: relative;

}

.form-wrapper.readonly-form::after {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  content: '';
  top: 0;
  left: 0;
  cursor: not-allowed;
}

.min-h-10 {
  // min-height: 2.5rem;
  // height: 2.5rem;
}
// .min-h-10 {

//   & img {

//     min-height: 2.5rem;
//   }
// }
 
.field .mat-form-field-wrapper {
  padding-bottom: 0!important;
}
