<h2 mat-dialog-title>Please confirm</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{ message }}</h3>
</mat-dialog-content>
<mat-dialog-actions class="flex w-full justify-end">
  <button type="button" mat-button mat-dialog-close>Cancel</button>
  <button type="button" mat-button (click)="confirmDialog()" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>