<div class="" gdColumns="1fr" gdColumns.lt-md="1fr" gdColumns.lt-sm="1fr" gdGap="12px" exaiContainer>
    <div class="card shadow-none w-full pb-1" gdColumn="1 / -1" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1">
        <div class="flex justify-between" fxLayout="row">
            <div class="flex justify-center text submit" fxLayout="column">
                <h3>{{this.languageService.language?.popup.add_comment}}</h3>
            </div>
            <div class="flex justify-end cursor-pointer" fxLayout="column" mat-dialog-close>
                <mat-icon>close</mat-icon>
            </div>
        </div>
    </div>
    <div class="card shadow-none w-full" gdColumn="1 / -1" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1">
        <div class="edit-dropdown" fxLayout="column">
            <mat-form-field appearance="outline">
                <textarea [(ngModel)]="comment" matInput [formControl]="commentControl" cols="60" rows="8"
                    placeholder="Enter comment"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="px-24" gdColumns="1fr 1fr" gdColumns.lt-md="1fr" gdColumns.lt-sm="1fr" gdGap="16px">
        <div class="card shadow-none w-full" gdColumn="1 / 2" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1">
            <div class="" fxLayout="column">
                <button mat-dialog-close class="applicationbutton" mat-stroked-button type="button"
                    color="warn">{{this.languageService.language?.button.cancel}}</button>

            </div>
        </div>
        <div class="card shadow-none w-full" gdColumn="2 / -1" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1">
            <div class="" fxLayout="column">
                <button (click)="submitApp()" class="applicationbutton add-new" mat-raised-button type="button"
                    color=primary>{{this.languageService.language?.button.submit}}</button>
            </div>
        </div>
    </div>
</div>