<div class="settings-modal" [@transformPopover] >
    <mat-tab-group>
        <mat-tab label="General Settings">
            <div class="settings-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Title</mat-label>
                    <input [required]="true" [(ngModel)]="item.title" type="text" matInput>
                </mat-form-field>

                <div class="color-picker-filed">
                  <label>Border Color</label>
                  <div class="color-picker-field-part">
                      <div (click)="toggleBorderPicker = !toggleBorderPicker" [style.backgroundColor]="item.borderColor" class="color-presentation"></div>
                      <input [(cpToggle)]="toggleBorderPicker" disabled [(colorPicker)]="item.borderColor" type="text">
                  </div>
              </div>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Border Width px</mat-label>
                <input pattern="[0-9]*" [(ngModel)]="item.borderWidth" type="number" matInput>
            </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Background Position</mat-label>
                    <mat-select [(value)]="item.imageData.imagePosition"> 
                      <mat-option *ngFor="let option of imagePosition" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Background Size</mat-label>
                    <mat-select [(value)]="item.imageData.imageSize"> 
                      <mat-option *ngFor="let option of imageSize" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Background Repeat</mat-label>
                    <mat-select [(value)]="item.imageData.imageRepeat"> 
                      <mat-option *ngFor="let option of imageRepeat" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                  </mat-form-field>

            </div>
        </mat-tab>
    </mat-tab-group>
</div>