.settings-modal {
    width: 350px;
    min-height: 400px;
    background-color: var(--background-card);
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.settings-form {
    width: 100%;
    height: 350px;
    padding: 2rem 0.8rem;
}

.example-full-width {
    width: 100%;
}

.color-picker-filed {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    margin-bottom: 0.6rem;
}
.color-picker-field-part {
    display: flex;

    & input {
        // display: none;
        height: 0;
        width: 0;
    }
}

.color-presentation {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 50%;
}