<ng-container *ngIf="{
    divisionOptions: divisionOptions$ | async,
    subDivisionOptions: subDivisionOptions$ | async,
    policeStationOptions: policeStationOptions$ | async
} as obs">

    <div class="flex justify-between" fxLayout="auto">
        <div class="flex justify-start">
            <h1 mat-dialog-title>{{ dialogTitle }}</h1>
        </div>
        <div class="flex justify-end" (click)="onCancel()">
            <mat-icon class="cursor-pointer">close</mat-icon>
        </div>
    </div>

    <div class="center-loading" *ngIf="loadingDataForDropdown">
        <mat-progress-spinner [diameter]="30" class="spinner" color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>

    <div *ngIf="!loadingDataForDropdown">
        <form [formGroup]="formGroup">
            <div class="style-form">
                <div class="style-form-custom">

                    <mat-label>{{this.languageService.language?.popup.role}} <span class="required-star">*</span>
                    </mat-label>
                    <mat-form-field appearance='outline'>
                        <mat-select placeholder='Role' formControlName="role">
                            <mat-option *ngFor="let n of roles" [value]="n.id" (click)='click(n.id)'>
                                {{n.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="style-form-custom">
                    <mat-label>Division <span *ngIf="divisionStar" class="required-star">*</span></mat-label>
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-select formControlName="division" [placeholder]="'Select Division'" required>
                            <mat-option *ngFor="let option of divisionOptions$ | async" [value]="option.id">
                                {{option.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="style-form-custom">
                    <mat-label>Sub Division <span *ngIf="subDivisionStar" class="required-star">*</span></mat-label>
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-select formControlName="subDivision" [placeholder]="'Select Sub Division'" required>
                            <mat-option *ngFor="let option of subDivisionOptions$ | async" [value]="option.id">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="style-form-custom">
                    <mat-label>Police Stations <span *ngIf="policeStationStar" class="required-star">*</span></mat-label>
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-select formControlName="policeStation" [placeholder]="'Select Police Stations'" required>
                            <mat-option *ngFor="let option of policeStationOptions$ | async" [value]="option.id">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="style-form-custom">
                    <mat-label>{{this.languageService.language?.popup.user_name}} <span class="required-star">*</span>
                    </mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder='user Name' readonly formControlName="username">
                        <mat-error>
                            <div *ngIf="formGroup.get('username').touched && formGroup.get('username').invalid"
                                class='invalid-feedback'>
                                <div *ngIf="formGroup.get('username').errors.required">Username is required.</div>
                                <div *ngIf="formGroup.get('username').errors.noWhitespace">Only whitespace is not
                                    allowed.</div>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="style-form-custom">
                    <mat-label>{{this.languageService.language?.popup.first_name}} <span class="required-star">*</span>
                    </mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder='First Name' formControlName="firstname" maxlength="40">
                        <mat-error>
                            <div *ngIf="formGroup.get('firstname').touched && formGroup.get('firstname').invalid"
                                class='invalid-feedback'>
                                <div *ngIf="formGroup.get('firstname').errors.required">First Name is required.</div>
                                <div *ngIf="formGroup.get('firstname').errors.noWhitespace">Only whitespace is not
                                    allowed.</div>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="style-form-custom">
                    <mat-label>{{this.languageService.language?.popup.last_name}} <span class="required-star">*</span>
                    </mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder='Last Name' formControlName="lastname" maxlength="40">
                        <mat-error>
                            <div *ngIf="formGroup.get('lastname').touched && formGroup.get('lastname').invalid"
                                class='invalid-feedback'>
                                <div *ngIf="formGroup.get('lastname').errors.required">Last Name is required.</div>
                                <div *ngIf="formGroup.get('lastname').errors.noWhitespace">Only whitespace is not
                                    allowed.</div>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="style-form-custom">
                    <mat-label>{{this.languageService.language?.popup.phone_number}} <span
                            class="required-star">*</span></mat-label>
                    <mat-form-field appearance="outline">
                        <ngx-mat-intl-tel-input #phoneNumber class="phone-input" [onlyCountries]="['in']" [enablePlaceholder]="true"
                            inputPlaceholder='Phone Number' name="phone" describedBy="phoneInput"
                            formControlName="phone"></ngx-mat-intl-tel-input>
                            <mat-error>
                                <div *ngIf="formGroup.get('phone').touched && formGroup.get('phone').invalid" class='invalid-feedback'>
                                  <div *ngIf="formGroup.get('phone').errors.required">
                                    {{this.languageService.language?.error.phone_number_required}}</div>
                                  <div *ngIf="formGroup.get('phone').errors.pattern">
                                    Only numbers allowed</div>
                                </div>
                                <div *ngIf="formGroup.get('phone').touched && formGroup.get('phone').invalid" class='invalid-feedback'>
                                  <div *ngIf="formGroup.get('phone').errors.noWhitespace">Only whitespace is not allowed.
                                  </div>
                                  <div *ngIf="formGroup.hasError('maxlength', 'phone')">Max 10 digits allowed.
                                  </div>
                                  <div *ngIf="formGroup.hasError('minlength', 'phone')">Not a valid phone number. It should have 10 digits.
                                  </div>
                                </div>
                              </mat-error>

                        
                    </mat-form-field>
                </div>
            </div>
            <div class="style-form-custom">
                <mat-label>{{this.languageService.language?.popup.email}}
                </mat-label>
                <mat-form-field appearance="outline">
                    <input type='email' matInput placeholder='Email Id' formControlName="emailId">
                    <mat-error>
                        <div *ngIf="formGroup.get('emailId').invalid" class='invalid-feedback'>
                            Enter valid Email
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="flex justify-between w-full" mat-dialog-actions>
                <button type="button" mat-button
                    (click)="onCancel()">{{this.languageService.language?.popup.cancel}}</button>
                <button type="submit" *ngIf="!isLoading" mat-button color="primary" (click)="onSubmitForm()">
                    {{data?.editing ?
                    this.languageService.language?.button.update :this.languageService.language?.popup.submit}}
                </button>

                <mat-progress-spinner *ngIf="isLoading" [diameter]="30" class="spinner mr-4" color="primary"
                    mode="indeterminate">
                </mat-progress-spinner>
            </div>

        </form>
    </div>
</ng-container>