.key-content{
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    border-radius: 7px;
    
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    color: rgb(93, 93, 93);
}
