<div class="dropdown-header">
    <h3>Primary Key</h3>
    
    <mat-icon mat-dialog-close class="close-icon">
      close
      </mat-icon>
    </div>
<div class="primary-key-dropdown">
    <h4>Pick Primary Key <span class="required-star">*</span></h4>
    <mat-form-field style="width: 100%" class="mt-2" appearance="outline">
        <mat-label>Primary Key</mat-label>
        <mat-select required [(ngModel)]="pickedPrimaryKey">
            <mat-option *ngFor="let primaryKey of primaryKeyList$ | async" [value]="primaryKey">
                {{primaryKey.keyHeadName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="pickedPrimaryKey" class="key-content">
        <h3 class="mb-2">Content</h3>
        {{ pickedPrimaryKey.content }}
    </div>
</div>

<div class="flex justify-between w-full" mat-dialog-actions>
    <button type="button" color="warning" mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-raised-button  color="primary"
    [mat-dialog-close]="pickedPrimaryKey">
        Save
    </button>
</div>