<div class="p-4">
<div class="card">
    <exai-basic-table
    [layoutCtrl]="layoutCtrl"
    [isLoading]="isLoading"
    [searchValues]="searchValues"
    [addButtonTooltip]="'Add Sub Division'"
    [searchCtrl]="searchCtrl"
    [dataSource]="dataSource"
    [columns]="columns"
    [trackByProperty]="trackByProperty"
    [subDivisionActions]="true"
    [visibleColumns]="visibleColumns"
    [buttonModifyLabel]="this.languageService.language?.button.modify"
    [tableTitle]="this.languageService.language?.subdivision.sub_div"
    (removeEvent)="remove($event)"
    (addEvent)="add($event)"
    (updateStatusEvent)="updateStatus($event)"
    (createSubDivisionEvent)="createSubDivision($event, 'create')"
    (updateSubDivisionEvent)="createSubDivision($event, 'update')"
    (appendToSearchEvent)="appendToSearch($event)"
    (dropEvent)="drop($event)"
    (downloadWordEvent)="downloadWord($event)"
    (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)"
    ></exai-basic-table>
    <mat-paginator #paginator [length]="length" [pageSize]="10"
    [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
</div>
</div>