<div class="toolbar w-full cardBorder" fxLayout="row" fxLayoutAlign="start center" exaiContainer>
  <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button">
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button>

  <a *ngIf="isVerticalLayout$ | async" [routerLink]="['/dashboard']" class="ltr:mr-4 rtl:ml-4 block p-2" fxLayout="row"
    fxLayoutAlign="start center">
    <div class="logo-side-title">
    <img style="width: 4rem" class="select-none nav-icon logo-size" src="../../../assets/img/demo/kp-logo.png">
    <h3>Multi number storage in one platform</h3>
      <h3>{{ roleName }}</h3>
    </div>
    <h1 [fxHide]="mobileQuery" class="title ltr:pl-4 rtl:pr-4 m-0 select-none"></h1>
  </a>

  <div *ngIf="(isVerticalLayout$ | async) && isNavbarInToolbar$ | async" [fxHide]="mobileQuery" class="px-gutter"
    fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
    <exai-navigation-item *ngFor="let item of navigationItems" [item]="item"></exai-navigation-item>
  </div>

  <span fxFlex></span>

  <div class="-mx-1 flex justify-end items-center">

    <button class="edit-dropdown mr-4 filter">
      <mat-form-field appearance="outline">
        <mat-label>Language</mat-label>
        <mat-select [formControl]="languageSelected">
          <mat-option value="kn">ಕನ್ನಡ</mat-option>
          <mat-option value="en">English</mat-option>
        </mat-select>
      </mat-form-field>
    </button>

    <div class="w-1/4 m-4">
      <img src="../../../assets/img/demo/ER-logo-f.svg" alt="ExamRoom_Logo">
    </div>

    <div>
      <exai-notifications-button></exai-notifications-button>
    </div>

    <div class="px-2">
      <exai-toolbar-user></exai-toolbar-user>
    </div>
  </div>


</div>

<exai-navigation *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async" [fxHide]="mobileQuery">
</exai-navigation>
