:host {
  background: var(--toolbar-background);
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--toolbar-z-index);
}

.toolbar {
  height: var(--toolbar-height);
}

.mat-icon {
  color: var(--toolbar-icon-color);
}

a {
  color: var(--toolbar-color);
  text-decoration: none;
}

.vl {
  border-left: 1px solid var(--toolbar-vl-color);
  height: 50px;
}

.logo {
  width: 13rem;
}

// .icon {
//   width: 1.5rem;
// }

.cardBorder {
  border-bottom: var(--border);
}

.toolbar-active{
  color: var(--toolbar-icon-color-active)
}


.logo-side-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  & h3 {
    
    font-size: 0.6rem;
  
  }

  & img {
    width: 3rem!important;
  }

  margin-left: 0.8rem;
  color: var(--navigation-color);
  
}

.exai-sidebar {
  z-index: 1000000;
}