<div class="logo m-4">
  <img src="../../../assets/img/demo/ER-logo-f.svg" alt="ExamRoom_Logo">
</div>
<div class="w-full h-full login bg-pattern" fxLayout="column" fxLayoutAlign="center center">
    <div class="card overflow-hidden w-full max-w-xs">
      <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
        <div class="login fill-current text-center">
          <img class="w-16" src="https://cracku.in/latest-govt-jobs/wp-content/uploads/2020/05/Karnataka-Police-Logo.png">
        </div>
      </div>
  
      <!-- <div class="text-center mt-4">
        <h2 class="title m-0">Welcome back</h2>
      </div> -->
  

<!-- <form class="example-form" [formGroup]="form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password" [errorStateMatcher]="passwordErrorMatcher">
          <mat-error>Error: {{ getErrorMessage('password') }}</mat-error>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Confirm" formControlName="confirm" [errorStateMatcher]="confirmErrorMatcher">
          <mat-error>Error: {{ getErrorMessage('confirm') }}</mat-error>
        </mat-form-field>
      </form> -->

      <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
        <div fxFlex="auto" fxLayout="column">
          <mat-form-field fxFlex="grow" appearance="outline">
            <mat-label>{{this.languageService.language?.popup.new_password}}</mat-label>
            <input  [type]="inputType" formControlName="password" matInput required>
            <mat-icon matSuffix></mat-icon>
            <mat-error *ngIf="password.touched && !password.valid">{{this.languageService.language?.login.new_pass_required}}</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="grow" appearance="outline">
            <mat-label>{{this.languageService.language?.popup.password_confirmation}} </mat-label>
            <input [type]="inputType" formControlName="_password" matInput required>
            <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
              <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
              <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
            </button>
            <!-- <mat-hint>Click the eye to toggle visibility</mat-hint> -->
            <mat-error *ngIf="_password.touched && !_password.valid">{{this.languageService.language?.error.both_pass}}</mat-error>
          </mat-form-field>
        </div>
        <button (click)="updatePassword(form.value)" color="primary" mat-raised-button type="button">
          {{this.languageService.language?.button.update}}
        </button>
      </div>
    </div>
  </div>