.login{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    }
    
    // .mat-form-field-appearance-fill 
    .mat-form-field{
        display: block;
    }
    .formFieldText{
        border-radius: 5px;
        border: 1px solid #c5b8b8;
    }
    .card{
        border-radius: 10px;
    }
    .mat-form-field-flex{
        ::ng-deep {
        
                &:last-child {
                    margin-right: 11px;
                }
        
        }
    }
    .logo{
        float: right;
        // max-width: 80% ;
    }
    img{
        max-width: 70% !important;
        float: right;
    }