<div class="mt-4 w-full h-full overflow-auto cardBorder" id="print-section">

  <div class="flex justify-between w-full mb-2 p-4">
    <button printSectionId="print-section" ngxPrint>print</button> 
    <div>
      <button mat-raised-button color="primary" *ngIf="!cantChange" class="mr-2 mb-2"
        (click)="createTable({ newTable: true})">Create New
        Table</button>
      <button mat-raised-button *ngIf="cantChange && !userFormId" color="primary" class="mr-2 mb-2" (click)="saveTable()">
        <mat-icon class="mr-2">save</mat-icon>Save as Draft
      </button>
      <button mat-raised-button *ngIf="hasSavedData && !cantChange" color="primary" class="mr-2 mb-2" (click)="loadTable()">
        <mat-icon class="mr-2">save</mat-icon>Load
      </button>

      <button *ngIf="!cantChange; else submitButton" mat-stroked-button color="primary" class="mb-2"
        (click)="publishData()">
        <mat-icon class="mr-2">publish</mat-icon> Save
      </button>

      <ng-template #submitButton>
        <button *ngIf="cantChange && !userFormId" mat-raised-button color="primary" class="mb-2" (click)="submitData()">
          <mat-icon class="mr-2">publish</mat-icon> Save
        </button>
      </ng-template>
    </div>

    <div *ngIf="!cantChange && userFormId">
      <button mat-raised-button color="primary" class="mr-2 mb-2" (click)="submitStatus('approve')">Approve</button>
      <button mat-raised-button color="accent" class="mr-2 mb-2" (click)="submitStatus('reject')">Reject</button>
    </div>
  </div>

  <vex-page-layout>
    <vex-page-layout>
      <div>
        <exai-grid-item-table-header [selection]="selection" [showEditSelected]="showEditSelected"
          [cantChange]="cantChange" [searchCtrl]="searchCtrl" [allFilterValues]="allFilterValues" [columns]="columns"
          [disableMergeButton]="disableMergeButton" (clearFilterRulesEvent)="clearFilterRules($event)"
          (clearAllFiltersEvent)="clearAllFilters()" [searchValues]="searchValues"
          (addNewFormEvent)="addNewFormHandler()" (downloadTableExcelFormatEvent)="downloadTableExcelFormat()"
          (mergeDataEvent)="mergeDataToggle()" (changeTableTextStyleEvent)="changeTableTextStyle($event)"
          (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)" (createTableEvent)="createTable($event)"
          (itemsActionEvent)="itemsAction($event)" (addRowEvent)="addRow()" (removeEvent)="remove($event)"
          (addEvent)="add($event)" (appendToSearchEvent)="appendToSearch($event)"
          (setVisibilityEvent)="setSummeryVisibility($event)"></exai-grid-item-table-header>

        <exai-merge-data *ngIf="showMergeDataComponent" [data]="dataForMerge"
          (applyMergeDataValuesEvent)="mergeDataValues($event)"
          (closeMergeDataComponentEvent)="closeMergeDataComponent()"></exai-merge-data>

        <div [ngClass]="{'hide': loadingTableData }">
          <exai-grid-item-table [selection]="selection" [dataSource]="dataSource" [selection]="selection"
            [cantChange]="cantChange" [showIndex]="showMergeDataComponent" [isAllSelected]="isAllSelected()"
            [summeryAlwaysVisible]="summeryAlwaysVisible" [columns]="columns" [visibleColumns]="visibleColumns"
            [tableTextStyle]="tableTextStyle" [rowNumber]="rowNumber" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (dropEvent)="drop($event)"
            (addEditPoliceStationEvent)="addEditPoliceStationHandler($event)"
            (updateFormEvent)="updateFormHandler($event)" (masterToggleEvent)="masterToggle()"
            (itemActionEvent)="itemAction($event)" (confirmRowEvent)="confirmRow($event)"
            (createColumnDataEvent)="createColumnData($event)" (disableEvent)="disableHandler($event)"
            (clearFilterRulesEvent)="clearFilterRules($event)"
            (applyFiltersEvent)="checkWhatRowsToFilter($event.column, false, $event.filterValue, $event.filterType)"
            (deleteColumnEvent)="deleteColumn($event)" (editColumnEvent)="editColumn($event)"
            (checkboxCheckedEvent)="checkboxChecked($event)" (setLabelValuesEvent)="setLabelValues($event)"
            (actionButtonEvent)="actionButton($event)" (openFileEvent)="openFile($event)"></exai-grid-item-table>

          <button class="w-full border add-row-button border-solid mt-2" mat-button (click)="addRow()">
            <mat-icon class="mr-2">add_circle</mat-icon> Add Row
          </button>

          <mat-paginator [length]="rowNumber.length" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
            class="sticky mt-2 left-0"></mat-paginator>
        </div>
      </div>
    </vex-page-layout>
  </vex-page-layout>

  <div class="w-full flex justify-center mt-4" *ngIf="loadingTableData">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>

</div>