<div *ngIf="itemData">
  <div class="field"  [ngClass]="{ 'mat-input-right-align': itemData.inputAlign === 'right', 'mat-input-center-align': itemData.inputAlign === 'center' }">
    <div *ngIf="
        [
          'password',
          'email',
          'number',
        ].includes(itemData.type)
      ">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{ itemData.label }}</mat-label>
        <input [formControl]="formControl" [type]="itemData.type" matInput [placeholder]="itemData.placeholder">
      </mat-form-field>
    </div>

    <div *ngIf="
        [
          'phone'
        ].includes(itemData.type)
      ">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{ itemData.label }}</mat-label>
        <input [mask]="itemData.phoneMask" [formControl]="formControl" [type]="itemData.type" matInput [placeholder]="itemData.placeholder">
      </mat-form-field>
    </div>

    <div *ngIf="
        [
          'text',
        ].includes(itemData.type)
      ">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{ itemData.label }}</mat-label>
        <input *ngIf="!itemData.mask?.enableMask" [formControl]="formControl" [type]="itemData.type" matInput [placeholder]="itemData.placeholder">
        <!-- ENABLED MASK -->
        <input *ngIf="itemData.mask?.enableMask" currencyMask
          [options]="{align: itemData.mask.align, nullable: true, precision: itemData.mask.decimals, prefix: itemData.mask.prefix, thousands: itemData.mask.thousandsSeparator, decimal: itemData.mask.decimalSeparator, suffix: itemData.mask.suffix }"
          [required]="itemData.validators.required" type="text" matInput
          [placeholder]="itemData.placeholder"  [formControl]="formControl" >
      </mat-form-field>
    </div>


    <div *ngIf="
        [
          'radio'
        ].includes(itemData.type)
      ">
      <div class="example-full-width flex flex-col">
        <label class="material-divide-input">{{itemData.label}} <span
            *ngIf="itemData.validators.required">*</span></label>
        <mat-radio-group [formControl]="formControl" class="flex flex-col">
          <mat-radio-button class="mb-2" *ngFor="let v of itemData.values" [value]="v.value" name="{{itemData.name}}">
            {{v.label}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <!-- FIX THIS THING... -->
    <div *ngIf="
        [
          'checkbox'
        ].includes(itemData.type)
      ">

      <div class="example-full-width  flex flex-col">
        <app-form-builder-element-multicheckbox [disabled]="disabledCheckbox" [item]="itemData"
          [formControl]="formControl"></app-form-builder-element-multicheckbox>
      </div>
    </div>

    <div *ngIf="
    [
      'date'
    ].includes(itemData.type)
  ">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{ itemData.label }}</mat-label>
        <input  max="2999-12-31" [formControl]="formControl" [required]="itemData.validators.required" matInput [matDatepicker]="picker"
          [placeholder]="itemData.placeholder">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div *ngIf="
    [
      'datetime-local'
    ].includes(itemData.type)
  ">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{ itemData.label }}</mat-label>
        <input  max="2999-01-14T00:00"  type="datetime-local" [formControl]="formControl" [required]="itemData.validators.required" matInput
          [placeholder]="itemData.placeholder">
      </mat-form-field>
    </div>

    <div *ngIf="
    [
      'textarea'
    ].includes(itemData.type)
  ">

      <!-- <mat-form-field class="example-full-width visibleOnPrint" appearance="outline">
        <mat-label>{{ itemData.label }}</mat-label>
        <textarea cdkTextareaAutosize [required]="itemData.validators.required" [formControl]="formControl" type="text" matInput
          [placeholder]="itemData.placeholder"></textarea>
      </mat-form-field> -->

      <exai-form-builder-element-textarea [item]="itemData" [formControl]="formControl" [view]="true">
      </exai-form-builder-element-textarea>


    </div>


    <div *ngIf="
    [
      'select'
    ].includes(itemData.type)
  ">
      <mat-form-field appearance="outline">
        <mat-label>{{ itemData.label }}</mat-label>
        <mat-select id="{{itemData.name}}" [formControl]="formControl">
          <mat-option *ngFor="let v of itemData.values" [value]="v.value">
            {{v.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div *ngIf="
    [
      'file'
    ].includes(itemData.type)
  ">
      <app-form-builder-element-file-upload [insideForm]="true" [item]="itemData" [formControl]="formControl">
      </app-form-builder-element-file-upload>
    </div>



    <ng-container *ngIf="formControl.invalid && 
        formControl.errors && 
        (formControl.dirty || formControl.touched)">
      <mat-error *ngIf="
        formControl.hasError('pattern') ||
        formControl.hasError('email') ||
        formControl.hasError('min') ||
        formControl.hasError('max') ||
        formControl.hasError('minlength') ||
        formControl.hasError('maxlength') 
        ">{{ itemData.errorText }}</mat-error>
      <mat-error *ngIf="formControl.hasError('required')">This field is required</mat-error>
    </ng-container>
  </div>
</div>