.field > div {
    display: flex;
    flex-direction: column;

    & label {
        margin-bottom: 0.8rem;
    }
}


.field {
    // padding: 0.5rem 1rem;
    padding: 0.3rem;
    position: relative;
}

.example-full-width {
    width: 100%;
}

.visibleOnPrint {
    display: none;
}

.hiddenOnPrint {
    display: block;
}

@media print {
    .visibleOnPrint {
        // padding: 30px;
    }
  }

::ng-deep .mat-input-right-align input {
    text-align: right!important;
}

::ng-deep .mat-input-center-align input {
    text-align: center!important;
}