<div class="settings-modal"  [@transformPopover]>
    <mat-tab-group>
        <mat-tab label="General Settings">
            <div class="settings-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Label</mat-label>
                    <input [required]="true" [(ngModel)]="item.label" type="text" matInput>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Suffix</mat-label>
                    <input [ngModel]="item.suffix" (input)="addedSuffix($event)" type="text" matInput>
                </mat-form-field>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>