<div>
    <mat-card >
        <div id="card-div">  Locations  </div>
        <div id="top">
            <mat-form-field appearance="outline" class="track-dialog">
                <mat-select  placeholder="Select Place Name" (selectionChange)="selectLocation($event.value)">
                    <mat-option  *ngFor="let location of deparments" [value]="location" >
                        {{location.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
          <input placeholder="Sub Division Name" id="departmentNametop" class="input">

          <button class="addbutton" (click)="addNewField()" > Add New </button>
        </div>

                <table>
                    <thead>
                        <tr class="head">
                        <th>  Department Name        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="entry" *ngFor="let id = index;let _subDiv of subdivsion" >
                             <!-- <td>{{_subDiv.id}}</td> -->
                            <!-- <td>{{_subDiv.name}}</td>  -->
                            <!-- <td>{{id}}</td> -->
                            <td>
                                <mat-form-field appearance="outline" class="track-dialog">
                                    <mat-select  placeholder="Select Place Name" (selectionChange)="selectTableDropdown($event.value)"[(value)]="_subDiv.parentId">
                                        <mat-option *ngFor="let location of deparments" [value]="location.id">
                                            {{location.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <input id="department_{{id}}" class="input" [(value)]="_subDiv.value">
                            </td>
                            <td>
                            <button class="tableButton" (click)="onSave(_subDiv.id, _subDiv.parentId,id)">Save</button>
                            <button class="tableButton" (click)="onDelete(_subDiv.id, _subDiv.parentId,id)">Delete</button>
                          </td>
                        </tr>
                    </tbody>
                </table>
          
        
    </mat-card>
  </div>
