<div class="scroll-dialog">
    <div class="flex justify-between" fxLayout="auto">
        <div class="flex justify-start">
            <h1 mat-dialog-title>{{ dialogTitle }}</h1>
        </div>
        <div class="flex justify-end" (click)="onCancel()">
            <mat-icon class="cursor-pointer">close</mat-icon>
        </div>
    </div>
    <div class="center-loading" *ngIf="loadingDataForDropdown">
        <mat-progress-spinner [diameter]="30" class="spinner" color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <form *ngIf="!loadingDataForDropdown" class="add-new-form form-style" [formGroup]="formGroup">
        <mat-label>Key Head Name <span class="required-star">*</span></mat-label>
        <mat-form-field class="relative w-full" appearance="outline">
            <input [maxLength]="64" formControlName="keyHeadName" matInput [placeholder]="'Enter Key Head Name'"
                required>
            <mat-hint [class.required-star]="this.formGroup.get('keyHeadName').value?.length > 64">
                {{this.formGroup.get('keyHeadName').value?.length || 0}}/64</mat-hint>
            <mat-error>
                <div *ngIf="formGroup.get('keyHeadName').touched && formGroup.get('keyHeadName').invalid"
                    class='invalid-feedback'>
                    <div *ngIf="formGroup.get('keyHeadName').errors.noWhitespace">Only whitespace is not allowed.</div>
                </div>
            </mat-error>
        </mat-form-field>
        <mat-label>Division <span class="required-star">*</span></mat-label>
        <mat-form-field class="w-full" appearance="outline">
            <mat-select formControlName="division" [placeholder]="'Select Division'" required>
                <mat-option *ngFor="let option of divisions" [value]="option.id">{{option.name}}
                </mat-option>
            </mat-select>
            <mat-error>
                <div *ngIf="formGroup.get('division').touched && formGroup.get('division').invalid"
                    class='invalid-feedback'>
                    <div *ngIf="formGroup.get('division').errors.required">Division is required.</div>
                </div>
            </mat-error>
        </mat-form-field>
        <mat-label>Sub Division <span class="required-star">*</span></mat-label>
        <mat-form-field class="w-full" appearance="outline">
            <mat-select formControlName="subDivision" [placeholder]="'Select Sub Division'" required>
                <mat-option *ngFor="let option of filteredSubDivisions | async" [value]="option.id">{{option.name}}
                </mat-option>
            </mat-select>
            <mat-error>
                <div *ngIf="formGroup.get('subDivision').touched && formGroup.get('subDivision').invalid"
                    class='invalid-feedback'>
                    <div *ngIf="formGroup.get('subDivision').errors.required">Sub Division is required.</div>
                </div>
            </mat-error>
        </mat-form-field>
        <mat-label>Content</mat-label>
        <mat-form-field class="w-full" appearance="outline">
            <textarea [maxLength]="4000" matInput placeholder="Enter primary key content"
                formControlName="content"></textarea>
            <mat-hint [class.required-star]="this.formGroup.get('content').value?.length > 4000">
                {{this.formGroup.get('content').value?.length || 0}}/4000</mat-hint>
            <mat-error>
                <div *ngIf="formGroup.get('content').touched && formGroup.get('content').invalid"
                    class='invalid-feedback'>
                    <div *ngIf="formGroup.get('content').errors.maxLength">Maximum length is 4000 characters.</div>
                </div>
            </mat-error>
        </mat-form-field>
        <div class="flex justify-between w-full" mat-dialog-actions>
            <button type="button" mat-button
                (click)="onCancel()">{{this.languageService.language?.popup.cancel}}</button>
            <button type="submit" [disabled]="formGroup.invalid" *ngIf="!isLoading" mat-button color="primary"
                (click)="onSubmitForm()">
                {{data?.editing ?
                this.languageService.language?.button.update :this.languageService.language?.popup.submit}}
            </button>
            <mat-progress-spinner *ngIf="isLoading" [diameter]="30" class="spinner mr-4" color="primary"
                mode="indeterminate">
            </mat-progress-spinner>
        </div>
    </form>
</div>