<div class="hero-copy">
    <div class="main-body mat-elevation-z15" style="padding:2rem 2rem;">
        <div style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin:1.7 0rem;">
            <mat-horizontal-stepper #stepper>
                <mat-step [completed]="stepsCompleted[0]">
                    <form [formGroup]="firstStepForm">
                        <ng-template matStepLabel>Enter Basic Details for the test</ng-template>
                        <div class="row">
                            <mat-form-field appearance="outline" style="width:84%;margin:0 2rem">
                                <mat-label>Test Name</mat-label>
                                <input type="text" autocomplete="off" placeholder="Test Name" formControlName="testName" matInput>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline" style="width:35%;margin:0 2rem;">
                                <mat-label>Baseline Ability</mat-label>
                                <input type="number" autocomplete="off" placeholder="Baseline Ability" formControlName="baselineAbility" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width:35%;margin:0 2rem;">
                                <mat-label>Stopping Ability</mat-label>
                                <input type="number" autocomplete="off" placeholder="Baseline Ability" formControlName="stoppingAbility" matInput>
                            </mat-form-field>
                        </div>
                        <div style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin:1.7 0rem;">
                        <button matRipple matButton matStepperNext (click)="createORupdateTest()"
                        class="button button-primary button-shadow mat-elevation-z2" [disabled]="!firstStepForm.valid">
                            {{stepsCompleted[0] ? 'Update' : 'Create'}} Test & Next
                        </button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [completed]="stepsCompleted[1]">
                    <ng-template matStepLabel>Generate Dummy Candidates</ng-template>
                    <form [formGroup]="DummyCandidatesGenForm">
                        <div class="row">
                            <mat-form-field appearance="outline" style="width:84%;margin:0 2rem">
                                <mat-label>Number of Candidates</mat-label>
                                <input type="number" autocomplete="off" placeholder="Number of Candidates to Generate" formControlName="numCandidates" matInput>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline" style="width:35%;margin:0 2rem;">
                                <mat-label>Min Ability</mat-label>
                                <input type="number" autocomplete="off" placeholder="Min Ability" formControlName="minAbility"
                                    matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width:35%;margin:0 2rem;">
                                <mat-label>Max Ability</mat-label>
                                <input type="number" autocomplete="off" placeholder="Max Ability" formControlName="maxAbility"
                                    matInput>
                            </mat-form-field>
                        </div>
                    </form>
                    <div *ngIf="generatedCandidates"style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin:1.7 0rem;">
                        <button matRipple matButton (click)="openViewDialog(generatedCandidates)"
                            class="button button-primary button-shadow mat-elevation-z2">
                            View Generated Candidates
                        </button>
                    </div>
                    <div style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin:1.7 0rem;">
                        <button matRipple matButton matStepperPrevious class="button button-primary button-shadow mat-elevation-z2">
                            Back
                        </button>
                        <button matRipple matButton matStepperNext (click)="generateDummyCandidates()" 
                        class="button button-primary button-shadow mat-elevation-z2" [disabled]="!DummyCandidatesGenForm.valid">
                            Generate 
                            {{DummyCandidatesGenForm.value 
                            && DummyCandidatesGenForm.value.numCandidates ? 
                            DummyCandidatesGenForm.value.numCandidates : ""}} 
                            Dummy Candidates.
                        </button>
                    </div>
                </mat-step>
                <mat-step [completed]="stepsCompleted[2]">
                    <ng-template matStepLabel>Generate Item Set</ng-template>
                    <form [formGroup]="ItemSetGenForm">
                        <div class="row">
                            <mat-form-field appearance="outline" style="width:84%;margin:0 2rem">
                                <mat-label>Name of Item Set</mat-label>
                                <input type="text" autocomplete="off" placeholder="Enter Name of Items Set"
                                    formControlName="questionItemSetName" matInput>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline" style="width:84%;margin:0 2rem">
                                <mat-label>Number of Items to generate:</mat-label>
                                <input type="number" autocomplete="off" placeholder="Enter Number of Items to generate in this set"
                                    formControlName="numQuestions" matInput>
                            </mat-form-field>
                        </div>
                    </form>
                    <div *ngIf="generatedItemSet" style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin:1.7 0rem;">
                        <button matRipple matButton (click)="openViewDialog(generatedItemSet)" 
                        class="button button-primary button-shadow mat-elevation-z2">
                            View Generated Items
                        </button>
                    </div>
                    <div style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin:1.7 0rem;">
                        <button matRipple matButton matStepperPrevious class="button button-primary button-shadow mat-elevation-z2">
                            Back
                        </button>
                        <button matRipple matButton matStepperNext (click)="generateItemSet()" 
                        class="button button-primary button-shadow mat-elevation-z2" [disabled]="!ItemSetGenForm.valid">
                            Generate Item Set.
                        </button>
                    </div>
                </mat-step>
                <mat-step [completed]="stepsCompleted[3]">
                    <ng-template matStepLabel>Simulation</ng-template>
                    <p style="text-align:center;">Generate Responses by Dummy Candidates(with known ability) on the generated Item Set, which later has to be used in the Calibration Step.</p>
                    <div *ngIf="!generatedResponses"
                        style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin:1.7 0rem;">
                        <button matRipple matButton (click)="generateAndSimulateResponses()"
                            class="button button-primary button-shadow mat-elevation-z5 button-sp">
                            Simulate & Generate Responses
                        </button>
                    </div>
                    <div *ngIf="generatedResponses"
                        style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin:1.7 0rem;">
                        <button matRipple matButton (click)="openViewDialog(generatedResponses)"
                            class="button button-primary button-shadow mat-elevation-z2">
                            View Generated Responses
                        </button>
                    </div>
                    <div style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin:1.7 0rem;">
                        <button matRipple matButton matStepperPrevious class="button button-primary button-shadow mat-elevation-z2">
                            Back
                        </button>
                        <button matRipple matButton matStepperNext
                            class="button button-primary button-shadow mat-elevation-z2" [disabled]="!generatedResponses">
                            Next
                        </button>
                    </div>
                </mat-step>
                <mat-step [completed]="stepsCompleted[4]">
                    <ng-template matStepLabel>Calibration</ng-template>
                    <p style="text-align:center;">Responses Generated by Dummy Candidates(with known ability) can now be used to calculate/caliberate the Item Set.</p>
                    <div *ngIf="!caliberatedItemSet"
                        style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin:1.7 0rem;">
                        <button matRipple matButton (click)="caliberateItemSet()"
                            class="button button-primary button-shadow mat-elevation-z5 button-sp">
                            Calibrate Item Set
                        </button>
                    </div>
                    <div *ngIf="caliberatedItemSet"
                        style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin:1.7 0rem;">
                        <button matRipple matButton (click)="openViewDialog(caliberatedItemSet)"
                            class="button button-primary button-shadow mat-elevation-z2">
                            View Caliberated Item Set
                        </button>
                    </div>
                    <div style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin:1.7 0rem;">
                        <button matRipple matButton matStepperPrevious class="button button-primary button-shadow mat-elevation-z2">
                            Back
                        </button>
                        <!-- <button matRipple matButton matStepperNext (click)="generateItemSet()"
                            class="button button-primary button-shadow mat-elevation-z2" [disabled]="!generatedResponses">
                            Next
                        </button> -->
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>