.placeholder {
    height: 17rem;
    width: 40rem;
    border: 2px dashed rgb(219, 219, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
    & h3 {
        color: rgb(107, 107, 107);
    }

    cursor: pointer;
}

.fileover {
    background-color: rgb(235, 235, 235);
}

.droppedImage {
    width: 40rem;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    border-radius: 7px;
    padding: 1rem;
    position: relative;
    cursor: pointer;

    & img {
        border-radius: 7px;
        // width: 100%;
        height: 100%;
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    color: rgb(114, 114, 114);
}

h2 {
    margin-top: 1rem;
    color: rgb(76, 76, 76);
}

.close-modal-header {
    color: rgb(114, 114, 114);
    cursor: pointer;
}

.actions-modal {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}


.error-upload {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(8, 8, 8, 0.687);
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  
    & p {
      margin-top: 0.8rem;
      color: #fff;
    }
  }

.dimensions {
    margin-top: 1rem;

    h3 {
        font-size: 0.8rem;
        margin-bottom: 0.8rem;
    }

}

.dimensions-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

// .suffix-input {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     position: absolute;
//     top: -10px;
//     left: -17px;

// }