<div class="modal-header">
    <h3>Select image</h3>
    <mat-icon class="close-modal-header" mat-dialog-close>close</mat-icon>
</div>
<div exaiFileDragDrop (filesDropped)="filesDropped($event)" (click)="fileUpload.click()">
    <div *ngIf="!uploadedFile || !uploadedFile?.imageContent" class="placeholder">
        <h3>Drop Files here or click for upload</h3>
    </div>
    <input accept="image/*" [hidden]="true" (change)="uploadFilesFromInput($event)" #fileUpload type="file" id="actual-btn"/>


    <div *ngIf="uploadedFile && uploadedFile?.imageContent" class="droppedImage">
        <div class="search-file">
          <div class="search-file-group">
          <div class="image-preview">
            <img [src]="uploadedFile.imageContent" alt="">
          </div>
          <div *ngIf="uploadedFile.error" class="error-upload">
            <mat-icon style="color: rgb(248, 86, 86);">error_outline</mat-icon>
            <p>{{ uploadedFile?.errorMessage }}</p>
          </div>
        </div>
    </div>
  </div>

  
  <!-- <mat-progress-bar *ngIf="uploadingFile" mode="indeterminate"></mat-progress-bar> -->
</div>

<div class="actions-modal">
  <div class="actions-modal-red">
    <button  mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
    <button (click)="removeImage()"  mat-button color="warn">Remove</button>
  </div>
  <div class="actions-modal-blue">
    <mat-checkbox *ngIf="backgroundImageSetting" [checked]="applyOnBothSides" (change)="applyOnBothImages($event)">Apply on both sides</mat-checkbox>
      <button class="ml-4" mat-flat-button [mat-dialog-close]="uploadedFile" color="primary">Save</button>
  </div>
</div>