<div [hidden]="!showSideMenu" class="form-builder-items" [disableClickOutside]="disableClickOutside"
    (clickOutside)="showSideMenu = false" [noTriggerElements]="[openButton]" exaiDragElement
    (dragEnd)="disableClickOutside = false" (dragStarted)="disableClickOutside = true"
    [noTriggerClasses]="['cdk-overlay-backdrop', 'mat-button-toggle-group', 'mat-menu-panel', 'mat-button-toggle-label-content']"
    [@slideInOut] [allowVertical]="false">

    <div class="form-builder-items-content">
        <div exaiDragHandlerElement class="form-builder-menu-header">
            <div class="form-builder-menu-header-drag">
                <span class="material-icons">
                    drag_handle
                </span>
                <span>Timeline</span>
            </div>
            <button (click)="showSideMenu = false" mat-icon-button>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <mat-card class="example-card">
            <mat-accordion *ngFor="let status of statusDetails?.statusHistoryList">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <div class="center-everything">
                            <mat-panel-title>
                                <span class="rounded-icon" [ngClass]="{
                                    'approved-icon': status?.statusName === 'Approved', 
                                    'rejected-icon': status?.statusName === 'Rejected', 
                                    'pending-icon': status?.statusName !== 'Approved' && 
                                    status?.statusName !== 'Rejected'}"></span>
                            </mat-panel-title>
                            <mat-panel-description>
                                <div class="p-description">
                                    <span class="p-description-name">{{ status?.actionByRoleName }}</span>
                                    <span class="p-description-status">{{ status?.statusName }}</span>
                                </div>
                            </mat-panel-description>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="p-summary">
                        <span class="p-summary-date">
                            {{ status?.actionOnDatetime | date: 'medium' }}
                        </span>
                        <span class="p-summary-name">
                            {{ status?.actionByFullName }}
                        </span>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>
    </div>
</div>

<div #openButton>
    <div [@slideInOut] [hidden]="showSideMenu" class="form-builder-menu-content-open">
        <div (click)="showSideMenu = true" class="build-button">
            <mat-icon>timeline</mat-icon>
        </div>
    </div>
</div>