<div class="w-full h-full p-4">
    <div class="w-full flex justify-between mb-4">
        <button type="button" mat-stroked-button color="primary"><a (click)="downloadFile()" class="flex items-center">
                <mat-icon class="mr-2">download</mat-icon> Download
            </a></button>
        <button type="button" mat-stroked-button mat-dialog-close color="accent">Cancel</button>
    </div>

    <div class="w-full flex mt-15 justify-center">
        <mat-progress-spinner *ngIf="loading" [diameter]="100" class="spinner" color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>

    <div class="h-full">
        <ngx-doc-viewer [url]="(url | async)" viewer="google" googleCheckContentLoaded=true googleCheckInterval=3000
            (loaded)="loaded()" style="width:100%;height:85vh;">
        </ngx-doc-viewer>
    </div>
</div>