@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
@import '~@syncfusion/ej2-base/styles/material.css';
@import '~@syncfusion/ej2-inputs/styles/material.css';
@import '~@syncfusion/ej2-buttons/styles/material.css';
@import '~@syncfusion/ej2-splitbuttons/styles/material.css';
@import '~@syncfusion/ej2-lists/styles/material.css';
@import '~@syncfusion/ej2-navigations/styles/material.css';
@import '~@syncfusion/ej2-popups/styles/material.css';
@import '~@syncfusion/ej2-dropdowns/styles/material.css';
@import '~@syncfusion/ej2-spreadsheet/styles/material.css';
@import '~@syncfusion/ej2-grids/styles/material.css';
// exai Core
// @import "./@exai/styles/core";
* {
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari, Edge */
  color-adjust: exact !important;                 /*Firefox*/
}

body {
  font-family: 'Arial Unicode MS' !important;
}

/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --sidenav-background: #333333;
  }

  All possible variables can be found in @exai/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/

/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */
:root {
  // --color-primary: blue;
  // --color-primary-contrast: white;

  // --color-accent: yellow;
  // --color-accent-contrast: black;

  // --color-warn: yellow;
  // --color-warn-contrast: black;
}

.nav-icon {
  width: 63px;
}


.w-80 {
  width: 400px;
}

div.mat-chip-list-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .mat-chip {
    flex: 0 0 auto;
  }
}

.mat-form-field-underline {
  display: none;
}

.add-new {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-primary-contrast));
  padding: 10px 10px;
}

.mat-header-cell {
  background-color: var(--table-header) !important;
  border-radius: var(--border-radius) !important;
  font-size: 14px !important;
  color: var(--header-font);
}


.w-700 {
  width: 700px;
  margin-bottom: 0;
}

.w-700 .mat-form-field-wrapper {
  padding-bottom: 0;
}

div.mat-chip-list-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .mat-chip {
    flex: 0 0 auto;
  }
}

.pb-0 .mat-form-field-wrapper {
  padding-bottom: 0;
  padding-top: 0;
}

// .mat-chip-list-wrapper .mat-chip {
//   background-color: rgb(var(--color-primary)) !important;
//   color: white !important;
// }

// .mat-chip-list-stacked .mat-chip-list-wrapper .mat-chip {
//   background-color: white !important;
//   color: black !important;
//   padding: 0;
//   margin-left: 0;
//   margin-right: 0;
//   border-radius: 0;
// }

// .mat-chip-list-stacked {
//   max-width: unset !important;
// }

.hide {
  display: none;
}

.mat-chip-list-stacked .mat-chip-list-wrapper {
  width: 100% !important;
  overflow: hidden
}

::ng-deep .mat-menu-panel .filter-menu {
  overflow: hidden !important;
}

::ng-deep div.mat-chip-list-wrapper .mat-chip:hover {
  background-color: white !important;
  color: black !important;

}

.mat-chip .filter-chip:hover {
  cursor: grab;
  background: white;
}

.mat-chip .filter-chip:active {
  background: white;
}

.center-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

.mat-tab-body-content {
  height: 100%;
  overflow: auto;
  padding-bottom: 3rem !important;
}

#js-licensing {
  display: none;
}

.rotate_image {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.progress-bar-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.required-star {
  color: rgb(255, 132, 132);
}

.mat-menu-panel {
  max-height: 30rem !important;
}


ngx-mat-intl-tel-input .country-selector {
  background-image: none !important;
  width: 70px !important;
  cursor: auto !important;
  color: black;
}

::ng-deep ngx-mat-intl-tel-input .country-selector:disabled {
  color: black;
}

ngx-mat-intl-tel-input .mat-button {
  background: none !important;
}

ngx-mat-intl-tel-input input {
  padding-left: 65px !important;
}

.inline-dates {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.e-arial-unicode-ms {
  font-family: 'Arial Unicode MS' !important;
}

// .country-selector {
//   opacity: 1 !important;
// }