<div class="form">
  <div class="form-content">
    
    
    <div class="action-save flex justify-center items-center noPrint">
      
      <button *ngIf="!(isFill || isPreview)" mat-raised-button class="ml-3" (click)="cloneForm()">
        <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
          copy_all
        </mat-icon>
        <span>Clone</span>
      </button>

      <button mat-raised-button class="ml-3" (click)="printDocument()">
        <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
          print
        </mat-icon>
        <span>Print</span>
      </button>

      <button [style.display]="'none'" #buttonPrint printSectionId="print-section" ngxPrint class="ml-3" styleSheetFile="assets/print-styles/print-styles.css" [useExistingCss]="true" mat-raised-button>
        <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
          print
        </mat-icon>
        <span>Print</span>
      </button>
      
      <button *ngIf="!isCreate" class="ml-3" (click)="backForm()"  mat-stroked-button color="warn">
        <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
          not_interested
        </mat-icon>
        <span>Cancel</span>
      </button>

      <div class="flex justify-center items-center" *ngIf="!(isFill || isPreview)">
  
        <button *ngIf="isCreate" class="ml-3" (click)="cancelForm()"  mat-stroked-button color="warn">
          <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
            not_interested
          </mat-icon>
          <span>Cancel</span>
        </button>

        
        <mat-progress-spinner *ngIf="savingForm" [diameter]="25" class="spinner ml-4" color="primary"
          mode="indeterminate">
        </mat-progress-spinner>
  
  
  
        <button class="ml-3" [disabled]="savingForm" (click)="saveForm()" mat-raised-button color="primary">
          <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
            save
          </mat-icon>
          <span>Save</span>
        </button>
  
        <!-- <button [matMenuTriggerFor]="menu" style="margin-left: 1rem;" mat-raised-button color="primary">
          <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
            file_download
          </mat-icon>
          <span>Document Export</span>
        </button>
  
        <mat-menu #menu="matMenu">
          <button (click)="generateDataForDownload('word')" mat-menu-item>Download As Word</button>
          <button (click)="generateDataForDownload('pdf')" mat-menu-item>Download As Pdf</button>
        </mat-menu> -->
  
      </div>

    </div>


    <mat-tab-group #tabGroup>
      <mat-tab *ngIf="!(isFill || isPreview)">
        <ng-template mat-tab-label>
          <mat-icon fontSet="material-icons-outlined" class="mr-3">edit</mat-icon>
          Form Builder
        </ng-template>
        <ng-template matTabContent>
          <div *ngIf="loadedData; else loading" class="form-content-component">
            <app-form-builder-content #formBuilderContent></app-form-builder-content>
          </div>

          <ng-template #loading>
            <div class="loading-spinner">
              <mat-spinner [diameter]="70"></mat-spinner>
            </div>
          </ng-template>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontSet="material-icons-outlined" class="mr-3">visibility</mat-icon>
          View Form
        </ng-template>
        <ng-template matTabContent>
          <div class="form-content-component">
            <app-form-builder-result  id="print-section" *ngIf="loadedData; else loading"></app-form-builder-result>
            <ng-template #loading>
              <div class="loading-spinner">
                <mat-spinner [diameter]="70"></mat-spinner>
              </div>
            </ng-template>
          </div>



        </ng-template>
      </mat-tab>

      <!-- Custom -->
      <mat-tab *ngIf="isCreate || isEdit">
        <ng-template mat-tab-label>
          <mat-icon fontSet="material-icons-outlined" class="mr-3">check_circle</mat-icon>
          Approve/Reject
        </ng-template>
        <ng-template matTabContent>
          <div class="form-content-component">
            <app-form-builder-approve-reject *ngIf="loadedData; else loading"></app-form-builder-approve-reject>
            <ng-template #loading>
              <div class="loading-spinner">
                <mat-spinner [diameter]="70"></mat-spinner>
              </div>
            </ng-template>
          </div>
        </ng-template>
      </mat-tab>
      <!-- Custom -->

    </mat-tab-group>

  </div>

  <div class="form-items">
    <div class="form-builder-menu-content">
      <app-form-builder-items (emitEvent)="eventEmittedFromItems($event)"></app-form-builder-items>
    </div>
  </div>

  <div [hidden]="!isPreview" *ngIf="isTimelineVisible" class="form-items noPrint">
    <div class="form-builder-menu-content">
      <exai-form-status-history></exai-form-status-history>
    </div>
  </div>

</div>