.form-content {
    min-height: calc(80vh - 4rem);
    width: calc(100vw - 4rem);

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    position: relative;
    background-color: var(--toolbar-background);
}

.action-save {
    position: absolute;
    right: 0;
    z-index: 48;
    top: 0.4rem;
    right: 1rem;
    font-size: 1rem;
}

.form {
    // min-height: 100vh;
    padding-top: 2rem;
    justify-content: center;
    display: flex;
}

.form-content-component {
    padding: 1.5rem;
}

.loading-spinner {
    width: 100%;
    min-height: calc(80vh - 4rem);
    display: flex;
    padding-top: 5rem;
    justify-content: center;
}