<div
  [ngStyle]="{
    'transform': positionStyles, 
    'width.px': item.styles.width, 
    'height.px': item.styles.height 
  }" class="moavable-element card-input">

  <ng-container [ngSwitch]="item.type">

    <ng-container *ngSwitchCase="'text'">
      <input [display]="formControl.errors?.length && (formControl.errors?.['minlength'] || formControl.errors?.['maxlength'] || formControl.errors?.['min'] || formControl.errors?.['max'] || formControl.errors?.['mask'] || formControl.errors?.['required'] || formControl.errors?.['pattern'])" [tooltip]="ErrorMessageTooltip" theme="light" contentType="template" *ngIf="item.mask" [mask]="item.mask"
      [style.borderRadius.px]="item.styles.borderRadius"
        [style.borderColor]="item.styles.borderColor" [style.color]="item.styles.textColor"
        [style.backgroundColor]="item.styles.backgroundColor" [placeholder]="item.placeholder"
        [style.padding.px]="item.styles.paddingSize" [style.fontSize.px]="item.styles.fontSize" type="text"
        [formControl]="formControl">

      <input [display]="formControl.errors?.length && (formControl.errors?.['minlength'] || formControl.errors?.['maxlength'] || formControl.errors?.['min'] || formControl.errors?.['max'] || formControl.errors?.['mask'] || formControl.errors?.['required'] || formControl.errors?.['pattern'])" [tooltip]="ErrorMessageTooltip" theme="light" contentType="template" *ngIf="!item.mask" [mask]="item.mask"
      [style.borderRadius.px]="item.styles.borderRadius"
        [style.borderColor]="item.styles.borderColor" [style.color]="item.styles.textColor"
        [style.backgroundColor]="item.styles.backgroundColor" [placeholder]="item.placeholder"
        [style.padding.px]="item.styles.paddingSize" [style.fontSize.px]="item.styles.fontSize" type="text"
        [formControl]="formControl">
    </ng-container>

    <ng-container *ngSwitchCase="'date'">
      <input [placeholder]="item.placeholder" type="date">
    </ng-container>

  </ng-container>
</div>

<ng-template #ErrorMessageTooltip>
  <div class="form-errors">
    <mat-error *ngIf="formControl.errors?.['minlength']">Please enter minimum of {{ item.validators.minLength }} characters.</mat-error>
      <mat-error *ngIf="formControl.errors?.['maxlength']">Please enter maximum of {{ item.validators.maxLength }} characters.</mat-error>
      <mat-error *ngIf="formControl.errors?.['min']">Please enter minimum {{ item.validators.maxLength }} number.</mat-error>
      <mat-error *ngIf="formControl.errors?.['max']">Please enter maximum {{ item.validators.maxLength }} number.</mat-error>
      <mat-error *ngIf="formControl.errors?.['required']">Field is required</mat-error>
      <mat-error *ngIf="formControl.errors?.['pattern']">Input is invalid</mat-error>
      <mat-error *ngIf="formControl.errors?.['mask']">Input is invalid</mat-error>

      <p *ngIf="!formControl.errors" style="color: rgb(117, 253, 93);font-size: 0.8rem;">Field is valid</p>
    </div>
</ng-template>