.card-input {
    padding: 0.2rem;
    border-radius: 6px;
}

.moavable-element {
    position: absolute;
    backface-visibility: hidden;
}


input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 1px solid rgb(240, 240, 240);   
    display: block;
    box-sizing: border-box;
    backface-visibility: hidden;
    &:focus {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
    }
}

.form-errors {
    // position: absolute;
    // bottom: -2.4rem;
    // left: 3px;
    // width: 11rem;
    // height: 100%;
    
    & mat-error {

        font-size: 0.7rem;
    }
}

.ng-invalid.ng-dirty.ng-touched {
    outline: 2px solid rgb(248, 120, 120)!important;
    outline-offset: 2px!important;
    
}