<div class="flex justify-between" fxLayout="auto">
  <div class="flex justify-start">
    <h1 mat-dialog-title>Add New User</h1>
  </div>
  <div class="flex justify-end" (click)="cancel()">
    <mat-icon class="cursor-pointer">close</mat-icon>
  </div>
</div>

<form [formGroup]='form'>
  <mat-dialog-content>
    <div class="py-4" fxLayout="column">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <div class="display w-full">
          <mat-label>{{this.languageService.language?.popup.role}} <span class="required-star">*</span></mat-label>
          <mat-form-field appearance='outline' fxFlex="auto">
            <mat-select placeholder='Role' formControlName="role">
              <mat-option *ngFor="let role of roles" [value]="role.id" (click)='click(role.id)'>
                {{role.name}}
              </mat-option>
            </mat-select>
            <mat-error>
              <div *ngIf="form.get('role').touched && form.get('role').invalid" class='invalid-feedback'>
                <div *ngIf="form.get('role').errors.required">{{this.languageService.language?.error.role_required}}
                </div>
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="display w-full">
          <mat-label>{{this.languageService.language?.division.div}} <span *ngIf="divisionStar" class="required-star">*</span></mat-label>
          <mat-form-field appearance='outline' fxFlex="auto">
            <mat-select placeholder='Division' formControlName="division"
              [ngClass]="{ 'is-invalid': form.get('division').touched && form.get('division').invalid }">
              <mat-option *ngFor="let exam of getDivision" [value]="exam">
                {{exam.value }}
              </mat-option>
            </mat-select>
            <mat-error>
              <div *ngIf="form.get('division').touched && form.get('division').invalid" class='invalid-feedback'>
                <div *ngIf="form.get('division').errors.required">
                  {{this.languageService.language?.error.division_required}}</div>
              </div>
            </mat-error>
          </mat-form-field>
        </div>


      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <div class="display w-full">
          <mat-label>{{this.languageService.language?.subdivision.sub_div}} <span *ngIf="subDivisionStar" class="required-star">*</span>
          </mat-label>
          <mat-form-field appearance='outline'>
            <mat-select placeholder='Sub Division' formControlName="subdivision"
              [ngClass]="{ 'is-invalid': form.get('subdivision').touched && form.get('subdivision').invalid }">
              <mat-option *ngFor="let exam of getSubdivison" [value]="exam">
                {{exam.name}}
              </mat-option>
            </mat-select>
            <mat-error>
              <div *ngIf="form.get('subdivision').touched && form.get('subdivision').invalid" class='invalid-feedback'>
                <div *ngIf="form.get('subdivision').errors.required">
                  {{this.languageService.language?.error.sub_div_required}}</div>
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="display w-full">
          <mat-label>{{this.languageService.language?.policestation.ps}} <span *ngIf="policeStationStar" class="required-star">*</span>
          </mat-label>
          <mat-form-field appearance='outline'>
            <mat-select placeholder='Police Station' formControlName="policestation"
              [ngClass]="{ 'is-invalid': form.get('policestation').touched && form.get('policestation').invalid }">
              <mat-option *ngFor="let exam of getPoliceStation" [value]="exam.id"
                (selectionChange)="selectStation($event)">
                {{exam.name}}
              </mat-option>
            </mat-select>
            <mat-error>
              <div *ngIf="form.get('policestation').touched && form.get('policestation').invalid"
                class='invalid-feedback'>
                <div *ngIf="form.get('policestation').errors.required">
                  {{this.languageService.language?.error.ps_required}}</div>
              </div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <div class='display w-full'>
          <mat-label>{{this.languageService.language?.popup.user_name}} <span class="required-star">*</span></mat-label>
          <mat-form-field appearance="outline">
            <input [maxLength]="40" matInput placeholder='User Name' formControlName="username"
              [ngClass]="{ 'is-invalid': form.get('username').touched && form.get('username').invalid }">
            <mat-error>
              <div *ngIf="form.get('username').touched && form.get('username').invalid" class='invalid-feedback'>
                <div *ngIf="form.get('username').errors.required">
                  {{this.languageService.language?.error.user_name_required}}</div>
              </div>
              <div *ngIf="form.get('username').touched && form.get('username').invalid" class='invalid-feedback'>
                <div *ngIf="form.get('username').errors.noWhitespace">Only whitespace is not allowed.
                </div>
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="display w-full">
          <mat-label>{{this.languageService.language?.popup.first_name}} <span class="required-star">*</span>
          </mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder='First Name' formControlName="firstname"
              [ngClass]="{ 'is-invalid': form.get('firstname').touched && form.get('firstname').invalid }"
              maxlength="40">
            <mat-error>
              <div *ngIf="form.get('firstname').touched && form.get('firstname').invalid" class='invalid-feedback'>
                <div *ngIf="form.get('firstname').errors.required">
                  {{this.languageService.language?.error.first_name_required}}</div>
              </div>
              <div *ngIf="form.get('firstname').touched && form.get('firstname').invalid" class='invalid-feedback'>
                <div *ngIf="form.get('firstname').errors.noWhitespace">Only whitespace is not allowed.
                </div>
              </div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <div class='display w-full'>
          <mat-label>{{this.languageService.language?.popup.last_name}} <span class="required-star">*</span></mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder='Last Name' formControlName="lastName" maxlength="40"
              [ngClass]="{ 'is-invalid': form.get('lastName').touched && form.get('lastName').invalid }">
            <mat-error>
              <div *ngIf="form.get('lastName').touched && form.get('lastName').invalid" class='invalid-feedback'>
                <div *ngIf="form.get('lastName').errors.required">
                  {{this.languageService.language?.error.last_name_required}}</div>
              </div>
              <div *ngIf="form.get('lastName').touched && form.get('lastName').invalid" class='invalid-feedback'>
                <div *ngIf="form.get('lastName').errors.noWhitespace">Only whitespace is not allowed.
                </div>
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="display w-full">
          <mat-label>{{this.languageService.language?.popup.phone_number}} <span class="required-star">*</span>
          </mat-label>
          <mat-form-field appearance="outline">
            <ngx-mat-intl-tel-input #phoneNumber [onlyCountries]="['in']" [enablePlaceholder]="true" inputPlaceholder='Phone Number'
              name="phone" describedBy="phoneInput" formControlName="phone"></ngx-mat-intl-tel-input>
            <mat-error>
              <div *ngIf="form.get('phone').touched && form.get('phone').invalid" class='invalid-feedback'>
                <div *ngIf="form.get('phone').errors.required">
                  {{this.languageService.language?.error.phone_number_required}}</div>
                <div *ngIf="form.get('phone').errors.pattern">
                  Only numbers allowed</div>
              </div>
              <div *ngIf="form.get('phone').touched && form.get('phone').invalid" class='invalid-feedback'>
                <div *ngIf="form.get('phone').errors.noWhitespace">Only whitespace is not allowed.
                </div>
                <div *ngIf="form.hasError('maxlength', 'phone')">Max 10 digits allowed.
                </div>
                <div *ngIf="form.hasError('minlength', 'phone')">Not a valid phone number. It should have 10 digits.
                </div>
              </div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" class="mt-2" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <div class='display w-full'>
          <mat-label>{{this.languageService.language?.popup.email}}</mat-label>
          <mat-form-field appearance="outline">
            <input type='email' matInput placeholder='Email' formControlName="email"
              [ngClass]="{ 'is-invalid': form.get('email').invalid }">
            <mat-error>
              <div *ngIf="form.get('email').invalid" class='invalid-feedback'>
                Enter valid Email
              </div>

              
            </mat-error>
          </mat-form-field>

        </div>
        <div class="display w-full">
          <mat-label>{{this.languageService.language?.popup.password}} <span class="required-star">*</span></mat-label>
          <mat-form-field appearance="outline">
            <input matInput type='password' placeholder='password' formControlName="password"
              matTooltip="Password needs to be in format: Minimum 6 and maximum 16 characters."
              matTooltipPosition="after">
            <mat-error *ngIf="form.hasError('required', 'password')">
              Please enter your new password
            </mat-error>
            <mat-error *ngIf="form.hasError('minlength', 'password')">
              Please enter minimum password of 6 characters.
            </mat-error>
            <mat-error *ngIf="form.hasError('maxlength', 'password')">
              Please enter maximum password of 25 characters.
            </mat-error>
            <mat-error *ngIf="form.hasError('noWhitespace', 'password')">
              Only whitespace is not allowed.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-label>{{this.languageService.language?.popup.password_confirmation}} <span class="required-star">*</span>
      </mat-label>
      <mat-form-field appearance="outline">
        <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword"
          [errorStateMatcher]="matcher"
          matTooltip="Password needs to be in format: Minimum 6 and maximum 16 characters." matTooltipPosition="after">
        <mat-error>
          <div
            *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').invalid && form.hasError('notSame')"
            class='invalid-feedback'>
            Passwords do not match
          </div>
        </mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="8px" class="flex justify-between">
        <button mat-button type="button" (click)='cancel()'>{{this.languageService.language?.button.cancel}}</button>
        <button *ngIf="!loadingData" color="primary" mat-button type="button" [disabled]='!form.valid'
          (click)='saveuser()'>{{this.languageService.language?.button.save}}</button>

        <mat-progress-spinner *ngIf="loadingData" [diameter]="30" class="spinner mr-4" color="primary"
          mode="indeterminate">
        </mat-progress-spinner>

      </div>
    </div>
  </mat-dialog-content>

</form>