<div class="settings-modal" [@transformPopover] >
    <mat-tab-group>
        <mat-tab label="General Settings">
            <div class="settings-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Label</mat-label>
                    <input [required]="true" [(ngModel)]="item.label" type="text" matInput>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Placeholder</mat-label>
                    <input [(ngModel)]="item.placeholder" type="text" matInput>
                </mat-form-field>

                <div *ngIf="item.type!='radio' || item.type!='checkbox' || item.type!='select' || item.type != 'textarea' ">
                <mat-form-field class="example-full-width"  appearance="outline">
                    <mat-label>Text Position</mat-label>
                    <mat-select [(ngModel)]="item.inputAlign">
                      <mat-option [value]="'left'">
                        Left
                      </mat-option>
                      <mat-option [value]="'right'">
                        Right
                      </mat-option>
                      <mat-option [value]="'center'">
                        Center
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  </div>

                <mat-form-field *ngIf="item.type === 'phone'" class="example-full-width" appearance="outline">
                    <mat-label>Phone Mask</mat-label>
                    <input [(ngModel)]="item.phoneMask" type="text" matInput>
                </mat-form-field>
                <div *ngIf="item.type=='radio' || item.type=='checkbox' || item.type=='select'">

                    <div *ngFor="let i of item.values; let valueIndex=index;" class="flex flex-auto items-center">
                        <div class="flex-1 w-50">
                            <div class="form-group pr-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Label</mat-label>
                                    <input [required]="true" [(ngModel)]="i.label" type="text" matInput
                                        [placeholder]="'Enter label value'">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex-1 w-50">
                            <div class="form-group pr-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Value</mat-label>
                                    <input [required]="true" [(ngModel)]="i.value" type="text" matInput
                                        [placeholder]="'Enter value'">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="center-button flex-none">
                            <div class="form-group" style="margin-top: -1.4rem;">
                                <button mat-icon-button color="warn" (click)="item.values.splice(valueIndex,1)"
                                    aria-label="Remove option">
                                    <mat-icon class="material-icons">delete_outline</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="flex flex-auto items-center">
                        <div class="flex-1 w-50">
                            <div class="form-group pr-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Label</mat-label>
                                    <input [(ngModel)]="value.label" type="text" matInput
                                        [placeholder]="'Enter label value'">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex-1 w-50">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Value</mat-label>
                                    <input [(ngModel)]="value.value" type="text" matInput [placeholder]="'Enter value'">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="center-button flex-none">
                            <div class="form-group" style="margin-top: -1.4rem;">
                                <button mat-icon-button (click)="addValue(item.values)" aria-label="Add option">
                                    <mat-icon class="material-icons">
                                        add
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="item.validators.required">Required</mat-checkbox>
                </section>

                <section class="example-section mt-4">
                    <mat-checkbox [checked]="disableCondition" (change)="disableConditionChanged($event)">Disable</mat-checkbox>
                </section>

                <!-- disable if -->
                <div *ngIf="disableCondition">
                    <div class="flex flex-wrap items-center mt-4">
                        <div class="w-1/2">
                            <div class="form-group pr-2">
                                <mat-form-field class="example-full-width"  appearance="outline">

                                    <mat-label>If</mat-label>
                                    <mat-select [compareWith]="objectComparisonFunction" id="if" [(ngModel)]="item.disabledCondition.field">
                                      <mat-option  *ngFor="let field of formElementsFiltered" [value]="field">
                                        {{field.label}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                        <div class="w-1/2">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Has Value</mat-label>
                                    <input [(ngModel)]="item.disabledCondition.value" type="text" matInput [placeholder]="'Enter value'">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </div>

                <section class="example-section mt-4">
                    <mat-checkbox [checked]="hideCondition" (change)="hideConditionChanged($event)">Hidden</mat-checkbox>
                </section>

                <div *ngIf="hideCondition">

                    <div class="flex flex-wrap items-center mt-4">
                        <div class="w-1/2">
                            <div class="form-group pr-2">
                                <mat-form-field class="example-full-width"  appearance="outline">
                                    <mat-label>Until</mat-label>
                                    <mat-select [compareWith]="objectComparisonFunction"  id="until" [(ngModel)]="item.hideCondition.field">
                                      <mat-option  *ngFor="let field of formElementsFiltered" [value]="field">
                                        {{field.label}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                        <div class="w-1/2">
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Value</mat-label>
                                    <input [(ngModel)]="item.hideCondition.value" type="text" matInput [placeholder]="'Enter value'">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </mat-tab>




        <mat-tab label="Validations">
            <div class="settings-form">

                <div *ngIf="item.type === 'file'">
                    <!-- <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Upload URL</mat-label>
                        <input [(ngModel)]="item.fileUpload.url" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Remove URL</mat-label>
                        <input [(ngModel)]="item.fileUpload.removeUrl" type="text" matInput>
                    </mat-form-field> -->

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Accept</mat-label>
                        <input placeholder=".png, .jpeg, .doc, .docx..." [(ngModel)]="item.fileUpload.accept" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Minimum File Size - MB</mat-label>
                        <input [(ngModel)]="item.fileUpload.minSize" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Maximum File Size - MB</mat-label>
                        <input [(ngModel)]="item.fileUpload.maxSize" type="text" matInput>
                    </mat-form-field>

                    <mat-checkbox [(ngModel)]="item.fileUpload.multiple">Allow Multiple</mat-checkbox>
                </div>

                <div *ngIf="item.type === 'text' || item.type === 'textarea' || item.type === 'number' || item.type === 'email' || item.type === 'phone' || item.type === 'password'"
                    class="form-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Regex</mat-label>
                        <input [(ngModel)]="item.validators.pattern" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Min Length</mat-label>
                        <input [(ngModel)]="item.validators.minLength" type="number" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Max Length</mat-label>
                        <input [(ngModel)]="item.validators.maxLength" type="number" matInput>
                    </mat-form-field>
                </div>

                <div *ngIf="item.type=='number'" class="grid grid-cols-2 gap-1.5">
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Min</mat-label>
                            <input [(ngModel)]="item.validators.min" type="text" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Max</mat-label>
                            <input [(ngModel)]="item.validators.max" type="text" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="item.type != 'file'">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Error text</mat-label>
                        <input [(ngModel)]="item.errorText" type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
        </mat-tab>
        <mat-tab *ngIf="item.mask" label="Mask">
            <div class="settings-form">
                <div 
                    class="form-group">
                    <section class="example-section mb-4">
                        <mat-checkbox [(ngModel)]="item.mask.enableMask">Enable Mask</mat-checkbox>
                    </section>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Prefix</mat-label>
                        <input [(ngModel)]="item.mask.prefix" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Suffix</mat-label>
                        <input [(ngModel)]="item.mask.suffix" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Thousands Separator</mat-label>
                        <input [(ngModel)]="item.mask.thousandsSeparator" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Decimal Separator</mat-label>
                        <input [(ngModel)]="item.mask.decimalSeparator" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Number Of Decimals</mat-label>
                        <input [(ngModel)]="item.mask.decimals" type="number" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width"  appearance="outline">
                        <mat-label>Text Position</mat-label>
                        <mat-select [(ngModel)]="item.mask.align">
                          <mat-option [value]="'left'">
                            Left
                          </mat-option>
                          <mat-option [value]="'right'">
                            Right
                          </mat-option>
                          <mat-option [value]="'center'">
                            Center
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>