.image-content {
    background-color: rgba(220, 220, 220, 0.626);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15rem;
    cursor: pointer;
    border-radius: 7px;
}

.image-preview {
    min-height: 15rem;
    

    & img { 
        width: 100%;
    }
}

.custom-icon {
    color: #fff;
    font-size: 3rem;
}

.actions-buttons {
    position: absolute;
    right: 1rem;
    bottom: -2.2rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid rgb(238, 238, 238) !important;
    padding: 0.5rem;
    transition: 0.2s all;

    & span {
        color: #499B90;
        // margin-left: 1rem;
        font-size: 1.2rem;
        cursor: pointer;
    }

    background-color: #fff;
    z-index: 20;
    display: flex;
    flex-direction: row !important;
    border-top: 1px solid transparent !important;
    opacity: 0;

}

.field:hover {

    & .actions-buttons {
        opacity: 1;
    }

    & .example-full-width {
        border: 1px solid #499b906e;
    }

    & .editor-menu-floating {
        display: block;
    }
}

.field {
    position: relative;
    padding: 0.3rem;
}

.editIndicator {
    display: none;
}

.field:hover .editIndicator {
    display: block;
    background-color: rgba(84, 84, 84, 0.247);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    & h3 {
        color: #fff;
        font-size: 0.8rem;
    }
}