<div class="field" (click)="openDialog()">

  <div *ngIf="!view" [ngClass]="{ 'editIndicator': !view }">
    <h3>Click to edit</h3>
  </div>

<div *ngIf="!item?.imageData?.imageContent" class="image-content">
    <span class="material-icons-outlined custom-icon">
        add_photo_alternate
    </span>
</div>

<div *ngIf="item.imageData?.imageContent" class="image-preview">
  <img [src]="item?.imageData?.imageContent">
</div>

<div *ngIf="!view" class="actions-buttons">
    <span dndHandle class="material-icons-outlined">
      drag_indicator
      </span>
      <span (click)="removeEmitted.emit(item)" style="color: rgb(218, 108, 108);" class="material-icons-outlined">
        clear
      </span>
  </div>
</div>