.mat-icon {
    color: var(--toolbar-icon-color);
}

.user-name-toolbar {
    font-size: 0.7rem;
    margin-left: 0.5rem;
    color: var(--navigation-color);
    max-width: 7rem;
    text-overflow: ellipsis;
    overflow: hidden;
}