<div #originRef
     (click)="showPopover(originRef)"
     [class.bg-hover]="dropdownOpen"
     class="flex items-center rounded cursor-pointer relative trans-ease-out select-none py-1 pr-1 pl-3">
  <!-- <div class="body-1 font-medium leading-snug ltr:mr-3 rtl:ml-3" fxHide.xs>David Smith</div> -->
  <div class="flex items-center">
    <mat-icon [icIcon]="icPerson"></mat-icon>
    <h3 matTooltip="{{ userName }}" class="user-name-toolbar">{{ userName }}</h3>
    <img class="ml-4" src="../../../../assets/img/Icons/down-arrow.svg">
    <!-- <ic-icon [icon]="icArrowDropDown" class="ltr:-mr-1 rtl:-ml-1" inline="true"></ic-icon> -->
  </div>
</div>