<table @stagger [dataSource]="dataSource" #table id="table" class="w-full h-full border rounded border-slate-900"
  mat-table matSort cdkDropList multiTemplateDataRows cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="dropHandler($event)">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="firstColumn">
    <th *matHeaderCellDef mat-header-cell cdkDrag [cdkDragDisabled]="true" [ngClass]="[tableTextStyle]">
      <mat-checkbox (change)="$event ? masterToggleHandler() : null" [checked]="selection.hasValue() && isAllSelected"
        [indeterminate]="selection.hasValue() && !isAllSelected" color="primary">
      </mat-checkbox>
    </th>
    <td *matCellDef="let row" [attr.rowspan]="row.actionsRowSpan" class="w-4" mat-cell
      [ngClass]="{'hide': row.actionsMergeStart === false}">
      <div class="flex items-center w-full" [ngClass]="[tableTextStyle]">
        <p class="mr-2 index-number" *ngIf="showIndex">{{ dataSource.filteredData.indexOf(row) + 1 }}</p>
        <mat-checkbox (change)="$event && !row.userCantChange ? selection.toggle(row) : null"
          (click)="$event.stopPropagation()" [checked]="selection.isSelected(row)" color="primary">
        </mat-checkbox>
      </div>
    </td>
    <td mat-footer-cell *matFooterCellDef [ngClass]="[tableTextStyle]">Total</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actionsColumn">
    <th *matHeaderCellDef mat-header-cell cdkDrag [cdkDragDisabled]="true" [ngClass]="[tableTextStyle]">Actions</th>
    <td *matCellDef="let row" [ngClass]="{'hide': row.actionsMergeStart === false}" [attr.rowspan]="row.actionsRowSpan"
      class="w-4" mat-cell>
      <div class="flex items-center w-full" [ngClass]="[tableTextStyle]">
        <button  type="button" mat-button [matMenuTriggerFor]="actionsMenu" *ngIf="!row.userCantChange || row.showActionButton"
          color="primary">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu" class="column-options">

          <div *ngIf="showConfirmRow">
            <button type="button" (click)="itemActionHandler(row, 'editSelected')" mat-icon-button *ngIf="!row.edit; else checkCircle"
              matTooltip="Edit Row">
              <mat-icon class="mr-2">edit</mat-icon> Edit Row
            </button>

            <ng-template #checkCircle>
              <button type="button" (click)="confirmRowHandler(row)" mat-icon-button>
                <mat-icon class="mr-2">check_circle</mat-icon> Confirm Changes
              </button>
            </ng-template>
          </div>

          <ng-template #checkCircle>
            <button type="button"  (click)="confirmRowHandler(row)" mat-icon-button>
              <mat-icon class="mr-2">check_circle</mat-icon> Confirm Changes
            </button>
          </ng-template>

          <button  (click)="itemActionHandler(row, 'deleteSelected')" mat-icon-button type="button">
            <mat-icon class="mr-2 ">delete</mat-icon> Delete Row
          </button>

          <button type="button" *ngIf="showAlignButton" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="alignMenu" type="button">
            <mat-icon class="mr-2">vertical_align_top</mat-icon> Align Vertically
          </button>

          <mat-menu #alignMenu="matMenu">
            <ng-container *ngFor="let column of columns">
              <button type="button" class="block" (click)="$event.stopPropagation()">
                <mat-checkbox color="primary" (change)="alignCell($event, row, column.property)"
                  *ngIf="(column.property !== 'firstColumn' && column.property !== 'actionsColumn') && row[column.property]">
                  {{ column.label }}</mat-checkbox>
              </button>
            </ng-container>
          </mat-menu>
        </mat-menu>
      </div>
    </td>
    <td mat-footer-cell *matFooterCellDef ></td>

  </ng-container>


  <!-- Rows -->
  <ng-container *ngFor="let column of columns; trackBy: trackByProperty; let index = index">
    <ng-container *ngIf="index > 1" [matColumnDef]="column.property">

      <th class="w-300" *matHeaderCellDef class="uppercase" mat-header-cell cdkDrag
        [ngClass]="{tableTextStyle: true, 'hide': column.type === 'mathOperations' ? !showMathOperationsColumn : false}">
        <div *ngIf="column.label.length < 1; else columnData">
          <button type="button" mat-raised-button color="primary" class="flex items-center"
            (click)="createColumnDataHandler(index)">Add Column
            Name <mat-icon class="ml-4" (click)="deleteColumnHandler(index, column)">cancel</mat-icon></button>
        </div>
        <ng-template #columnData>
          <div class="flex items-center" [ngClass]="[tableTextStyle]">
            <div class="flex flex-col" >
              <mat-label
                [matTooltip]="column.type === 'mathOperations' && column.mathOperationsData.length ? column.mathOperationsData.join(' ') : 'No Formula Added'">
                {{ column.label }}</mat-label>
                <div *ngIf="(column.type === 'mathOperations' || column.type === 'number') && showTotalButton">
                  <button type="button" (click)="toggleTotalHandler(column)">{{ column.showTotal ? 'Hide Total' : 'Show Total'}}</button>
                </div>

            </div>
            <button type="button" mat-icon-button [matMenuTriggerFor]="columnOptions" matTooltip="Column options">
              <mat-icon color="primary">more_vert</mat-icon>
            </button>

          </div>



          <mat-menu #columnOptions="matMenu" class="column-options">
            <button type="button" mat-icon-button [matMenuTriggerFor]="filterOptions" color="primary" matTooltip="Filter Column"
              (click)="$event.stopPropagation()">
              <mat-icon class="mr-2">filter_list</mat-icon> Filter Columns
            </button>
            <div class="flex flex-col" *ngIf="!column.userCantChange && showThOptions !== false">
              <!-- <div class="flex flex-col" *ngIf="!column.userCantChange && showThOptions !== false; else showOptions"> -->
              <ng-container *ngIf="editForm; else showOptions">
                <ng-container *ngIf="templateColumns && index > templateColumns.length - 1">
                  <button (click)="editColumnHandler(index)" color="primary" mat-icon-button matTooltip="Edit column"
                    type="button">
                    <mat-icon class="mr-2">edit</mat-icon> Edit Column
                  </button>
                  <button (click)="deleteColumnHandler(index, column)" color="primary" mat-icon-button
                    matTooltip="Delete column" type="button">
                    <mat-icon class="mr-2">delete</mat-icon> Delete Column
                  </button>
                </ng-container>
              </ng-container>

              <ng-template #showOptions>
                <button (click)="editColumnHandler(index)" color="primary" mat-icon-button matTooltip="Edit column"
                  type="button">
                  <mat-icon class="mr-2">edit</mat-icon> Edit Column
                </button>
                <button (click)="deleteColumnHandler(index, column)" color="primary" mat-icon-button
                  matTooltip="Delete column" type="button">
                  <mat-icon class="mr-2">delete</mat-icon> Delete Column
                </button>
              </ng-template>
              <button type="button" mat-button mat-icon-button [matMenuTriggerFor]="selectSide" (click)="$event.stopPropagation()"
                color="primary" matTooltip="Add Column">
                <mat-icon color="primary" class="mr-2">more_vert</mat-icon>
                Add Column
              </button>
            </div>
          </mat-menu>

          <!-- Add column to the side -->
          <mat-menu #selectSide="matMenu">
            <button type="button" mat-menu-item color="primary" (click)="addColumnNumberHandler(false, index, 1)"
              matTooltip="Add column/columns to the right">
              <mat-icon class="mr-2">arrow_forward</mat-icon> Right
            </button>
            <button type="button" mat-menu-item color="primary" (click)="addColumnNumberHandler(false, index, 0)"
              matTooltip="Add column/columns to the left">
              <mat-icon class="mr-2">arrow_back</mat-icon> Left
            </button>
          </mat-menu>

          <!-- Filter menu start -->
          <mat-menu class="" #filterOptions="matMenu">
            <!-- Preset buttons for date -->
            <div class="mb-2" *ngIf="column.expectedFilterType === 'date' && column.rangeDate.value">
              <button type="button" mat-raised-button (click)="setDateTimeFilterValues(column, dateFilter.buttonLabel, dateFilter)"
                *ngFor="let dateFilter of presetButtonsDate" class="mr-2 mb-2" color="primary">{{ dateFilter.buttonLabel
                }} {{
                dateFilter.buttonLabel > 1 ? 'days' : 'day'}} ago </button>

              <mat-form-field appearance="fill" class="pb-0">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="column.rangeDate" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                <div *ngIf="column.rangeDate.controls">
                  <mat-error #matError *ngIf="column.rangeDate.controls.start.hasError('matStartDateInvalid')">Invalid
                    start date
                  </mat-error>
                  <mat-error #matError *ngIf="column.rangeDate.controls.end.hasError('matEndDateInvalid')">Invalid end
                    date
                  </mat-error>
                </div>
              </mat-form-field>
            </div>
            <div class="mb-2" *ngIf="column.expectedFilterType === 'number' || column.expectedFilterType === 'text'"
              (click)="$event.stopPropagation()">
              <mat-form-field appearance="fill" class="pb-0">
                <mat-label>Filter type</mat-label>
                <mat-select [(ngModel)]="filterType" panelClass="panel-bellow">
                  <!-- Filers for  type number-->
                  <ng-container *ngIf="column.expectedFilterType === 'number'">
                    <ng-container *ngFor="let filter of selectFilterNumber">
                      <mat-option [value]="filter">
                        {{ filter.label }}
                      </mat-option>
                    </ng-container>
                  </ng-container>
                  <!-- Filter for type text -->
                  <ng-container *ngIf="column.expectedFilterType === 'text'">
                    <ng-container *ngFor="let filter of selectFilterText">
                      <mat-option [value]="filter">
                        {{ filter.label }}
                      </mat-option>
                    </ng-container>
                  </ng-container>

                  <!-- Filter for type time -->
                </mat-select>
              </mat-form-field>
            </div>
            <div class="w-full mb-2" *ngIf="filterType" (click)="$event.stopPropagation()">
              <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" placeholder="Search.." [(ngModel)]="filterValue"
                  *ngIf="column.type === 'number' || column.type === 'rating'; else otherTypes">
                <ng-template #otherTypes>
                  <input matInput type="text" placeholder="Search.." [(ngModel)]="filterValue">
                </ng-template>
              </mat-form-field>
            </div>
            <div class="flex items-center justify-between">
              <button type="button" mat-stroked-button color="accent"
                (click)="clearFilterRulesHandler(column.property,false, column, null, true)">Clear</button>
              <button type="button" mat-stroked-button color="primary" (click)="applyFiltersHandler($event, column)">Apply</button>
            </div>
          </mat-menu>
          <!-- Filter menu end -->

        </ng-template>
      </th>

      <td class="w-300" *matCellDef="let row" [attr.rowspan]="row[column.property] ? row[column.property]?.rowSpan : 1"
        [attr.colspan]="row[column.property] ? row[column.property]?.colSpan : 1" mat-cell
        [hidden]="column.type === 'mathOperations' ? !showMathOperationsColumn : false"
        [ngClass]="{'hide': row[column.property] && !row[column.property]?.visible, 'white-space-normal': row[column.property]?.rowSpan > 1 || row[column.property]?.colSpan > 1 ? true : false}">

        <!-- If column data is not set -->
        <div *ngIf="!row[column.property]" class="flex items-center w-full">Please Enter Column Data</div>

        <div
          *ngIf="!row.edit && (column.type === 'text' || column.type === 'email' || column.type === 'number' || column.type === 'dropdown' || column.type === 'time'); else editTableValues"
          [ngClass]="{'rotate-vertically': row[column.property].rotateVertical}">
          <p [ngClass]="[tableTextStyle]" class="w-full">
            {{ row[column.property].value }}</p>
        </div>

        <ng-template #editTableValues>
          <div *ngIf="row[column.property]" class="flex items-center w-full">
            <div *ngIf="!row[column.property].userCantChange; else cantEdit" class="w-full"
              [ngClass]="{'rotate-vertically': row[column.property].rotateVertical}">
              <!-- Text type -->
              <ng-container *ngIf="column.type === 'text'">

                <mat-form-field *ngIf="row[column.property]" class="w-full table-input transition"
                  [ngClass]="{'mb-1-3': !(text.touched && text.errors?.required && showErrorMessages)}"
                  appearance="fill">
                  <mat-label *ngIf="row[column.property]?.colSpan == 1; else summery">Enter text</mat-label>
                  <ng-template #summery>
                    <mat-label>Summery</mat-label>
                  </ng-template>
                  <input matInput required name="text" #text="ngModel" class="w-full" [readonly]="readOnly"
                    [(ngModel)]="row[column.property].value">
                  <mat-error *ngIf="(text.touched && text.errors?.required && showErrorMessages)">
                    This field is required
                  </mat-error>
                </mat-form-field>
              </ng-container>

              <!-- Actions type -->
              <ng-container *ngIf="column.type === 'actions'">
                <mat-slide-toggle color="primary" [checked]="row.isPublished" (change)="disableHandler($event, row)"
                  matTooltip="Publish Form"></mat-slide-toggle>
              </ng-container>

              <!-- Email type -->
              <ng-container *ngIf="column.type === 'email'">
                <mat-form-field *ngIf="row[column.property]" class="example-full-width table-input transition"
                  [ngClass]="{'mb-1-3': !(email.touched && ( email.errors?.email || email.errors?.required) && showErrorMessages)}"
                  appearance="fill">
                  <mat-label>Enter email</mat-label>
                  <input matInput name="email" #email="ngModel" type="email" email required
                    [(ngModel)]="row[column.property].value">
                  <mat-error #matError *ngIf="email.touched && email.errors?.email">
                    Must be a valid email
                  </mat-error>
                  <mat-error #matError *ngIf="email.touched && email.errors?.required && showErrorMessages">
                    This field is required
                  </mat-error>
                </mat-form-field>
              </ng-container>

              <!-- Number type -->
              <ng-container *ngIf="column.type === 'number'">
                <mat-form-field class="example-full-width table-input transition"
                  [ngClass]="{'mb-1-3':!(number.touched && number.errors?.required && showErrorMessages)}"
                  appearance="fill">
                  <mat-label>Enter number</mat-label>
                  <input matInput name="number" #number="ngModel" required type="number"
                    [(ngModel)]="row[column.property].value" (ngModelChange)="updateMathOperationCells(row)" pattern="^[0-9]*$">
                  <mat-error #matError *ngIf="number.touched && number.errors?.required && showErrorMessages">This field
                    is required
                  </mat-error>
                </mat-form-field>
              </ng-container>

              <!-- Dropdown type -->
              <ng-container *ngIf="column.type === 'dropdown'">
                <div class="flex items-center justify-between">
                  <mat-form-field class="transition"
                    [ngClass]="{'mb-1-3': !(dropdown.touched && dropdown.errors?.required && showErrorMessages), 'w-full': !(row.edit && showEditDropdownButton) ? true : false, 'dropdown-input': row.edit && showEditDropdownButton ? true : false}"
                    appearance="fill">
                    <mat-label>Please select an item</mat-label>
                    <div class="">
                      <mat-select name="dropdown" #dropdown="ngModel" required [(ngModel)]="row[column.property].value"
                        panelClass="panel-bellow" [disabled]="readOnly">
                        <mat-option *ngFor="let item of column.dropdownData" [value]="item.name">
                          {{item.name}}
                        </mat-option>
                      </mat-select>

                    </div>
                    <mat-error #matError *ngIf="dropdown.touched && dropdown.errors?.required && showErrorMessages">This
                      filed is required
                    </mat-error>
                  </mat-form-field>
                  <!-- <button type="button" *ngIf="row.edit && showEditDropdownButton" class="ml-2"
                    (click)="editSelectableHandler(column)">
                    <mat-icon color="primary">edit</mat-icon>
                  </button> -->
                </div>
              </ng-container>

              <!-- Primary Key Type -->
              <ng-container *ngIf="column.type === 'primaryKey'">
                <div class="flex items-center justify-between" *ngIf="selectPrimaryKey; else viewPrimaryKeyContent">
                  <mat-form-field class="transition w-full"
                    [ngClass]="{'mb-1-3': !(primaryKeyDropdown.touched && primaryKeyDropdown.errors?.required && showErrorMessages)}"
                    appearance="fill">
                    <mat-label>Please select an item</mat-label>
                    <mat-select name="primaryKeyDropdown" #primaryKeyDropdown="ngModel" required
                      [(ngModel)]="row[column.property].value" (ngModelChange)="updateTableValuesHandler()" panelClass="panel-bellow">
                      <mat-option *ngFor="let item of primaryKeyList" [value]="item.content">
                        {{item.keyHeadName}}
                      </mat-option>
                    </mat-select>
                    <mat-error #matError
                      *ngIf="primaryKeyDropdown.touched && primaryKeyDropdown.errors?.required && showErrorMessages">
                      This
                      filed is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <ng-template #viewPrimaryKeyContent>
                  <p>{{ row[column.property].value }}</p>
                </ng-template>
              </ng-container>

              <!-- File type -->
              <ng-container *ngIf="column.type === 'file'">
                <div class="flex flex-col table-input transition py-2">
                  <exai-upload-file [tableTextStyle]="tableTextStyle" [showInput]="row.edit"
                    [showCancelButton]="row.edit" [fileTypes]="column.dropdownData" [fileSize]="column.fileSize"
                    (filesUploaded)="updateFilesValues($event, row, column.property)"
                    [files]="row[column.property].value" [insideForm]="true"></exai-upload-file>
                </div>
              </ng-container>

              <!-- Date type -->
              <ng-container *ngIf="column.type === 'date' && column.rangeDate.value">
                <p *ngIf="!row[column.property].userCantChange && !row.edit; else editData"
                  [ngClass]="[tableTextStyle]">{{
                  row[column.property].value | dateFormat }}</p>
                <ng-template #editData>
                  <mat-form-field class="example-full-width table-input transition" (click)="picker.open()"
                    [ngClass]="{'mb-1-3': !(date.touched && date.errors?.required && showErrorMessages)}"
                    appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput name="date" #date="ngModel" [(ngModel)]="row[column.property].value" required
                      readonly [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error #matError *ngIf="date.touched && date.errors?.required && showErrorMessages">This field
                      is required
                    </mat-error>
                  </mat-form-field>
                </ng-template>
              </ng-container>

              <!-- Time type -->
              <ng-container *ngIf="column.type === 'time'">
                <mat-form-field class="example-full-width table-input transition"
                  [ngClass]="{'mb-1-3': !(time.touched && time.errors?.required && showErrorMessages)}"
                  appearance="fill">
                  <mat-label>Choose a time</mat-label>
                  <input matInput class="pointer" required name="time" #time="ngModel"
                    [(ngModel)]="row[column.property].value" readonly [ngxTimepicker]="picker"
                    [format]="+column.format">
                  <ngx-material-timepicker #picker></ngx-material-timepicker>
                  <mat-error #matError *ngIf="time.touched && time.errors?.required && showErrorMessages">This field is
                    required</mat-error>
                </mat-form-field>
              </ng-container>

              <!-- Checkbox and radio button type -->
              <ng-container *ngIf="column.type === 'radioButton' || column.type === 'checkbox'">
                <div class="flex items-center justify-between">
                  <ng-container *ngIf="column.type === 'radioButton'; else checkbox">
                    <mat-radio-group required [name]="row.id" #radio="ngModel" class="table-input transition"
                      [disabled]="readOnly" *ngIf="row[column.property].data.length > 0" class="flex flex-col py-2"
                      [(ngModel)]="row[column.property].value">
                      <mat-radio-button color="primary" [disabled]="!row.edit"
                        *ngFor="let item of row[column.property].data" [value]="item.name">{{ item.name }}
                      </mat-radio-button>
                      <mat-error #matError class="mt-2"
                        *ngIf="radio.touched && radio.errors?.required && showErrorMessages">Please select an item
                      </mat-error>
                    </mat-radio-group>
                  </ng-container>

                  <ng-template #checkbox>
                    <div class="flex flex-col py-2" *ngIf="row[column.property].data.length > 0">
                      <mat-checkbox name="checkbox" class="mr-4" [disabled]="!row.edit" [disabled]="readOnly"
                        *ngFor="let item of row[column.property].data" color="primary"
                        [checked]="row[column.property].value.indexOf(item.name) >= 0"
                        (change)="checkboxCheckedHandler(row[column.property], item.name, $event)">{{ item.name }}
                      </mat-checkbox>
                    </div>
                  </ng-template>
                  <button type="button" *ngIf="row[column.property].data.length >= 1 && row.edit && showEditDropdownButton"
                    class="ml-2" (click)="editSelectableHandler(column, row)">
                    <mat-icon color="primary">edit</mat-icon>
                  </button>
                </div>


                <ng-container *ngIf="row[column.property].data.length < 1">
                  <button mat-raised-button color="primary" type="button"
                    (click)="setLabelValuesHandler(row, column.property)">
                    Set labels
                  </button>
                </ng-container>
              </ng-container>

              <!-- Currency type -->
              <ng-container *ngIf="column.type === 'currency'">
                <mat-form-field *ngIf="row.edit; else showCurrency" class="w-full table-input transition"
                  [ngClass]="{'mb-1-3': !(text.touched && text.errors?.required && showErrorMessages)}"
                  appearance="fill">
                  <mat-label>Enter currency</mat-label>
                  <input matInput required name="number" #text="ngModel" class="w-full" [disabled]="readOnly"
                    [(ngModel)]="row[column.property].value">
                  <mat-error *ngIf="(text.touched && text.errors?.required) && showErrorMessages">
                    This field is required
                  </mat-error>
                </mat-form-field>
              </ng-container>
              <ng-template #showCurrency>
                <p [ngClass]="[tableTextStyle]" class="w-full">{{ row[column.property].value |
                  currency:'INR':'symbol-narrow' }}</p>
              </ng-template>

              <!-- Percentage type -->
              <ng-container *ngIf="column.type === 'percentage'">
                <div *ngIf="row.edit; else showPercentage" class="p-2 flex flex-col">
                  <mat-label>Enter percentage</mat-label>
                  <mat-slider matInput #percentage="ngModel" name="percentage" [(ngModel)]="row[column.property].value"
                    [disabled]="readOnly" [readonly]="readOnly" color="primary" thumbLabel tickInterval="0.01"
                    step="0.01" min="0" max="1" aria-label="units"></mat-slider>
                </div>
              </ng-container>
              <ng-template #showPercentage>
                <p [ngClass]="[tableTextStyle]" class="w-full">{{ row[column.property].value | percent }}</p>
              </ng-template>

              <!-- Hyperlink type -->
              <ng-container *ngIf="column.type === 'hyperlink'">
                <exai-hyperlink [links]="row[column.property].value" [editState]="row.edit"
                  [tableTextStyle]="tableTextStyle"></exai-hyperlink>
              </ng-container>

              <!-- Math operations type -->
              <ng-container *ngIf="column.type === 'mathOperations' && showMathOperationsColumn">
                <p class="w-full" [ngClass]="[tableTextStyle]">{{ row[column.property].value.toFixed(2) }}</p>
                <!-- <p class="w-full" [ngClass]="[tableTextStyle]">{{ getMathValue(row, column.property) }}</p> -->
              </ng-container>

            </div>
            <ng-template #cantEdit>
              <p class="w-full" [ngClass]="[tableTextStyle]">
                {{ row[column.property].value }}
              </p>
            </ng-template>
          </div>
        </ng-template>
      </td>

      <td mat-footer-cell *matFooterCellDef style="padding: 0 12px;" [ngClass]="[tableTextStyle]"> {{ column.showTotal ? getFooterTableValue(column.property)  : '' }}</td>

    </ng-container>

    <!-- Header row group -->
      <ng-container *ngFor="let header of tableHeaderRows;let headerIndex = index" >
          <ng-container *ngIf="header[column.property]" [matColumnDef]="header[column.property].id">
            <th mat-header-cell *matHeaderCellDef [ngClass]="{'hide': !header[column.property].visible}" class="full-h"
              [attr.colspan]="header[column.property].colSpan" [attr.rowspan]="header[column.property].rowSpan"> 

              <ng-container *ngIf="column.property === 'firstColumn' || column.property === 'actionsColumn'; else validHeaders">
                <button matTooltip="Remove Header Row" *ngIf="column.property === 'firstColumn'; else emptyHeader" type="button" (click)="removeHeaderRowHandler(headerIndex)">
                  <mat-icon color="primary">delete_outline</mat-icon>
                </button>
                <ng-template #emptyHeader>
                  <p></p>
                </ng-template>
              </ng-container>

              <ng-template #validHeaders>
                <button matTooltip="Create header name" *ngIf="(!header[column.property].name && showAddHeaderNameButton); else headerName" type="button" mat-raised-button color="primary" class="flex items-center" (click)="addHeaderNameHandler(headerIndex, column.property)"
                >Add Header Name</button>
                <ng-template #headerName>
                  <div class="flex w-full justify-between">
                    <p class="w-full" [ngClass]="[tableTextStyle]"> {{ header[column.property].name }}</p>
                    <button matTooltip="Edit header name" *ngIf="showEditHeader" type="button" color="primary" (click)="editHeaderHandler(headerIndex, column.property)">
                      <mat-icon class="ml-2" color="primary">edit</mat-icon>
                    </button>
                  </div>
              </ng-template>
                </ng-template>
            </th>
          </ng-container>
      </ng-container>
  </ng-container>


  <ng-container *ngFor="let headerRow of tableHeaderRows">
    <tr mat-header-row *matHeaderRowDef="headerRow.uniqueIds"></tr>
  </ng-container>

  <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: visibleColumns;" @fadeInUp class="hover:bg-hover trans-ease-out"
  [ngClass]="{'hide-row': row.hidden || (activateHideFromUser && row.hiddenFromUser), 'tr-cell-vertical': row.cellVertical}"
    mat-row class="example-element-row" [class.example-expanded-row]="expandedRow === row">
  </tr>
  <tr *matFooterRowDef="visibleColumns" mat-footer-row [ngClass]="{'hide': !showTotalRow || hideFooter}"></tr>
</table>

<table class="w-full mt-4 sticky left-0">
  <tr *ngIf="dataSource && !dataSource.data.length">
    <td style="text-align: center;" [attr.colspan]="visibleColumns.length">
      No Records Found!
    </td>
  </tr>
</table>
