td {
  padding-left: 0;
}

td p {
  overflow-wrap: anywhere;
}

textarea {
  height: 36px;
  min-width: 250px;
  padding: 0.5rem !important;
}

.transition {
  transition: all 0.25s ease;
}

::ng-deep .mb-1-3 {
  margin-bottom: -1.3rem;
}

.hide {
  display: none;
}

table {
  border: 1px solid #e5e5e5;
  overflow: auto;
}

.full-h {
  height: 100% !important
}

.white-space-normal{
  white-space: normal !important;
}

table tbody {
  overflow-y: auto;
}

.example-list {
  width: 1000px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-menu-item .mat-icon {
  height: unset;
  margin-right: 0;
}

.mat-menu-panel {
  min-height: unset;
}

// star
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

#rating-value {
  width: 110px;
  margin: 40px auto 0;
  padding: 10px 5px;
  text-align: center;
  box-shadow: inset 0 0 2px 1px rgba(46, 204, 113, 0.2);
}

/*styling star rating*/
.wrapper-star {
  border: none;
  float: left;
}

.wrapper-star > input {
  display: none;
}

.wrapper-star > label:before {
  content: "\f005";
  font-family: FontAwesome;
  margin: 5px;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.wrapper-star > .half:before {
  content: "\f089";
  position: absolute;
  cursor: pointer;
}

.wrapper-star > label {
  color: #ddd;
  float: right;
  cursor: pointer;
}

.wrapper-star > input:checked ~ label,
.wrapper-star:not(:checked) > label:hover,
.wrapper-star:not(:checked) > label:hover ~ label,
.wrapper-star > input:checked + label:hover,
.wrapper-star > input:checked ~ label:hover,
.wrapper-star > label:hover ~ input:checked ~ label,
.wrapper-star > input:checked ~ label:hover ~ label {
  color: #209e91;
}

.hide-row {
  display: none;
}

.disabled {
  pointer-events: none;
}

//  Expandable row styles
tr.example-detail-row {
  height: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.table-input {
  width: 100%;
}

.dropdown-input {
  width: 95%
}

.text-justify {
  justify-content: justify;
}

.text-left {
  justify-content: left;
}

.text-right {
  justify-content: right;
}

.text-center {
  justify-content: center;
}

.top-20 {
  top: 5rem;
}

::ng-deep .column-options .mat-menu-content:not(:empty) {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-menu-panel {
  min-width: 170px !important;
  padding: 0.5rem;
}

.index-number {
  margin-top: 3px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
  padding-right: 12px !important;
}
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 12px !important;
}


.tr-cell-vertical {
  height: 200px;
}

.rotate-vertically {
  transform: rotate(-90deg);
  width: 200px;
}

.mat-chip-list-wrapper {
  flex-wrap: wrap !important;
}

::ng-deep .mat-chip-input {
  flex: 0 0 42px !important;
}

::ng-deep .mat-chip-list[aria-label="mat-chip-list"] .mat-chip-list-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .mat-chip {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media print {
  #print-section, table {
    overflow-x: visible !important;
    position: relative !important;  
  }
}