<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Enter label names</mat-label>
  <mat-chip-list class="flex flex-col mat-chip-list-stacked" aria-label="mat-chip-list-stacked" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)"
    #chipList>
    <mat-chip cdkDrag class="w-full mb-4 flex justify-between items-center" color="primary"
      *ngFor="let element of labels; let index = index" [ngClass]="{'hide': selectedItem === index}" (dblclick)="editField(element, index)">
      <p>{{element.name}}</p>
      <button type="button" matChipRemove (click)="remove(index, labels)">
        <mat-icon background="white">cancel</mat-icon>
      </button>
    </mat-chip>
    <input placeholder="New Element..." cdkFocusInitial #chipsInput [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (keydown.enter)="add()">
  </mat-chip-list>
</mat-form-field>

<div mat-dialog-actions class="w-full flex justify-end">
  <button type="button" mat-button (click)="onNoClick()">Close</button>
  <button type="button" mat-button [mat-dialog-close]="data" (click)="confirm(data)">Ok</button>
</div>