<div>
    <div *ngIf="!workbook">
        <input id="uploadBtn" type="file" (change)="readExcel($event)" class="upload input-common" />
        <!-- <button matRipple matButton class="button button-primary button-shadow mat-elevation-z2">
                Upload Excel File<mat-icon>upload</mat-icon>
            </button> -->
    </div>
</div>
<div id="x-spreadsheet-demo">
</div>