::ng-deep .chart-legend ul li span{
    height: 10px;
    width: 20px;
    display: inline-block;
    border-radius: 15%;
    margin-right: 5px;
}
::ng-deep .chart-legend ul li{
    color: rgb(95, 95, 95);
    cursor: default;
    user-select: none;
}
::ng-deep .chart-legend ul {
    max-height: 210px;
    overflow-y: auto;

}
::ng-deep .chartPadding{
    padding: 1.5rem 0 1.5rem 0;
    color: rgb(93, 173, 226);
}

.barChartContainer{
    margin-top: 5rem;
    padding: 2rem;
}

@media only screen and (max-width: 992px) {
    .barChartHeight {
      height: 15rem;
  }
  .barChartContainer{
      margin-top: 1rem !important;
  }
  }
  @media only screen and (min-width: 992px) {
    .barChartHeight {
      height: 18.6rem;
  }
  }
  @media only screen and (min-width: 1920px) {
    .barChartHeight {
      height: 24rem;
  }
  }

.custom-layout-flex {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 1.5rem;

    & .card-custom {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        border-radius: 7px;
    }
}

.loading-spinner-large {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-data-custom {
    display: flex;
    align-items: center;
    justify-content: center;
}