<div class="p-4">
<div class="card h-full">
    <div class="p-4 flex flex-col shadow-none justify-start w-full" exaiContainer>

        <!-- title: {
            display: true,
            text: 'Chart.js Doughnut Chart'
        } -->

        <!-- Graphs start-->
        <div  *ngIf="!isLoading"  class="py-6" exaiContainer>
            
              <div class="custom-layout-flex">
                <div  *ngIf="chartOptionsDiv?.series" class="card-custom">
                    <exai-dashboard-chart linkTo="/manage-dept/manage-division" chartTitle="Divisions" chartId="js-legend-div" [chartOptions]="chartOptionsDiv" [chartType]="doughnutChartType"></exai-dashboard-chart>
                </div>
                <div class="custom-layout-flex">
                    <div *ngIf="chartOptionsSubDiv?.series" class="card-custom">
                        <exai-dashboard-chart linkTo="/manage-dept/manage-sub-division"  chartTitle="Sub Divisions" chartId="js-legend-subdiv" [chartOptions]="chartOptionsSubDiv" [chartType]="doughnutChartType"></exai-dashboard-chart>
                    </div>
                </div>
                <div class="custom-layout-flex">
                        <div *ngIf="chartOptionsPolStation?.series"  class="card-custom">
                            <exai-dashboard-chart  linkTo="/manage-dept/police-station" chartTitle="Police Stations"  chartId="js-legend-ps" [chartOptions]="chartOptionsPolStation" [chartType]="doughnutChartType"></exai-dashboard-chart>
                        </div>
                </div>
              </div>

            <div class="card shadow justify-start w-full barChartContainer" *ngIf="barChartOptions">
                <div id="chart" class="barChartHeight"> <!--style="height: 20rem;--> <!--margin-top: 5rem-->
                    <canvas baseChart 
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                    [colors]="colors"
                    
                  [chartType]="barChartType">
                </canvas>
                </div>
            </div>
            <!-- <div class="card shadow justify-start w-full mt-8" *ngIf="barChartOptions">
                <div id="chart">
                    <apx-chart [series]="barChartOptions?.series" [chart]="barChartOptions?.chart"
                        [dataLabels]="barChartOptions?.dataLabels" [plotOptions]="barChartOptions?.plotOptions"
                        [yaxis]="barChartOptions?.yaxis" [xaxis]="barChartOptions?.xaxis"
                        [stroke]="barChartOptions?.stroke" [grid]="barChartOptions?.grid" [fill]="barChartOptions?.fill"
                        [annotations]="barChartOptions?.annotations"></apx-chart>
                </div>
            </div> -->
        </div>
        <!-- Graphs end-->
    </div>

    <div *ngIf="isLoading" class="loading-spinner-large">
        <mat-progress-spinner [diameter]="70" color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>

</div>
</div>