.card-size-settings {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1rem;
    padding-bottom: 0;
    position: relative;
    & h4 {
        font-size: 1rem;
        // font-weight: bold;
        // margin-bottom: 1rem;
    }

    & .card-size {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}

.card-size-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    & mat-icon {
        cursor: pointer;
    }
}