<div exaiMoveable [draggableOnly]="true" class="card-size-settings">
  <div class="card-size-header">
    <h4>Card Size Settings ( in mm )</h4>
    <mat-icon (click)="cardBuilderElements.cardSizeConfigurationStatusToggle()">close</mat-icon>
  </div>

  <div class="card-size-configuration-dropdown">
    <mat-form-field appearance="outline">
      <mat-label>Standard Sizes</mat-label>
      <mat-select [formControl]="standardSizes" [disabled]="allowCustomSize">
        <mat-option *ngFor="let size of cardSizesPredefined" [value]="size.sizes">
          {{ size.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox class="ml-4" (change)="customSizeChange($event)" [ngModel]="this.allowCustomSize">Custom Size</mat-checkbox>
  </div>
  <div class="card-size">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Width</mat-label>
      <input [disabled]="!this.allowCustomSize" [(ngModel)]="cardSizeConfiguration.width" type="number" matInput placeholder="Width">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Height</mat-label>
      <input [disabled]="!this.allowCustomSize" [(ngModel)]="cardSizeConfiguration.height" type="number" matInput placeholder="Height">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Border Radius</mat-label>
      <input [disabled]="!this.allowCustomSize" [(ngModel)]="cardSizeConfiguration.borderRadius" type="number" matInput placeholder="Border-radius">
    </mat-form-field>
  </div>
</div>