<div class="container" style="position:relative;overflow-y: auto;" #Table>
    <div style="position:absolute;top:10px;right:10px">
        <mat-icon (click)="dialogRef.close()">close</mat-icon>
    </div>
    <div class="row">
        <button matRipple matButton (click)="exportAsExcel()" class="button button-primary button-shadow mat-elevation-z2">
            Download as Excel
        </button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="mainTable" >
        
        <ng-container [matColumnDef]="col" *ngFor="let col of  displayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{col | uppercase}} </th>
            <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
</div>
