<div [ngStyle]="
    {   
        'transform': positionStyles, 
        'width.px': item.styles.width, 
        'height.px': item.styles.height
    }" class="moavable-element card-input">

    <ng-container [ngSwitch]="item.elementType">

        <ng-container *ngSwitchCase="'card-image'">

            <div *ngIf="item.imageData?.imageContent" class="image-preview">
                <img [src]="item?.imageData?.imageContent">
            </div>

        </ng-container>

        <ng-container *ngSwitchCase="'editor'">

            <div *ngIf="item.html" style="width: 100%;height: 100%;" [innerHTML]="item.html | sanitizeHtml"></div>

        </ng-container>



    </ng-container>



</div>