.card-input {
    padding: 0.2rem;
    border-radius: 6px;
    backface-visibility: hidden;
}

.card-result-wrapper {
    min-height: 90vh;
}

.moavable-element {
    position: absolute;
}

.image-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.image-preview {
    pointer-events: none;
}


.element-actions {
    bottom: -1.9rem;
    right: 0;

    & mat-icon {
        color: rgb(250, 103, 103);
        font-size: 0.9rem;
        height: 0.9rem;
        width: 0.9rem;
        cursor: pointer;
    }
    position: absolute;
}