.table-container {
  height: 65vh;
  overflow: auto;
}

@media only screen and (max-width: 992px) {
  .table-container {
    height: 548px;
  }
}

@media only screen and (min-width: 992px) {
  .table-container {
    height: 559px;
  }
}

@media only screen and (min-width: 1200px) {
  .table-container {
    height: 542px;
  }
}

@media only screen and (min-width: 1920px) {
  .table-container {
    height: 630px;
  }
}

.example-box {
  background: white;
}

.mat-form-field-flex {
  padding-top: 0 !important
}

.w-700 .mat-form-field-flex {
  padding-top: 0 !important
}


::ng-deep .no-bg {
  background: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.divide-list {
  padding: 1rem 0;
  max-width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.readonlyToggle {
  pointer-events: none;
  opacity: 0.5;
}

.small-letters {
  font-size: 13px !important;
  margin-right: 7px;
}