<div gdColumns="1fr 1fr 1fr 1fr" gdColumns.lt-md="1fr" gdColumns.lt-sm="1fr" gdGap="12px" exaiContainer>

    <div class="w-full overflow-auto" gdColumn="1 / -1" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1">
        <exai-page-layout>
            <exai-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
                [class.px-gutter]="layoutCtrl.value === 'fullwidth'">

                <div class="overflow-auto">
                    <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center justify-between">
                        <div class="flex items-center">
                            <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l"
                                fxFlex="none" fxHide.xs>
                                <span>{{ tableTitle }}</span>
                            </h2>
                            <div class="h-full p-x-2 w-50 w-700 overflow-hidden">
                                <mat-form-field class="w-700 py-0  border-y-0" appearance="fill">
                                    <mat-chip-list #chipList>
                                        <mat-chip *ngFor="let value of searchValues" (removed)="removeHandler(value)">
                                            {{value}}
                                            <button matChipRemove>
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </mat-chip>
                                        <input #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="columnsForSearch"
                                            placeholder="Search..." [formControl]="searchCtrl"
                                            [matChipInputFor]="chipList" type="text"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            (matChipInputTokenEnd)="addHandler($event); menuTrigger.closeMenu()">
                                    </mat-chip-list>
                                </mat-form-field>

                                <mat-menu #columnsForSearch="matMenu">
                                    <ng-container
                                        *ngFor="let column of columns | tableSearchColumns; let index = index">
                                        <button mat-menu-item *ngIf="index !== columns.length - 1"
                                            (click)="appendToSearchHandler(column.label)">
                                            {{ column.label }}</button>
                                    </ng-container>
                                </mat-menu>
                            </div>
                        </div>

                        <div class="flex items-center">

                            <div *ngIf="reportsSearch" class="small-letters">
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip (removed)="remove('dateFrom')" *ngIf="reportDateFrom">
                                        {{ reportDateFrom }}
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                    <mat-chip (removed)="remove('dateTo')" *ngIf="reportDateTo">
                                        {{ reportDateTo }}
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                </mat-chip-list>
                            </div>

                            <button *ngIf="reportsSearch" class="mr-4" fxFlex="none" matTooltip="Select dates"
                                type="button" (click)="openSelectDatesDialog()">
                                <mat-icon>calendar_month</mat-icon>
                            </button>

                            <button *ngIf="downloadEnabled" [matMenuTriggerFor]="exportDocument" class="mr-4"
                                fxFlex="none" matTooltip="Download" type="button">
                                <mat-icon>download</mat-icon>
                            </button>

                            <mat-menu #exportDocument="matMenu">
                                <button *ngIf="!reportsActions" (click)="downloadHandler('word')" mat-menu-item>Download as Word</button>
                                <button *ngIf="!reportsActions" (click)="downloadHandler('pdf')" mat-menu-item>Download as Pdf</button>
                                <button (click)="downloadHandler('excel')" mat-menu-item>Download as Excel</button>
                            </mat-menu>

                            <button [matMenuTriggerFor]="columnFilterMenu" class="mr-4" fxFlex="none"
                                matTooltip="Filter Columns" type="button">
                                <mat-icon>filter_list</mat-icon>
                            </button>

                            <button *ngIf="canBulkImport" [matMenuTriggerFor]="bulkImportButton" color="primary"
                                mat-mini-fab class="mr-4" fxFlex="none" matTooltip="Bulk Upload"
                                style="margin-right: 10px;" type="button">
                                <mat-icon>library_add</mat-icon>
                            </button>

                            <mat-menu #bulkImportButton="matMenu">
                                <button (click)="bulkAddButton()" mat-menu-item>
                                    Import Users
                                    <input #FileSelectInputDialog type="file" (change)="bulkAddFileUploaded($event)"
                                        style="display:none" />
                                </button>
                                <button (click)="downloadBulkImportTemplate()" mat-menu-item>Download
                                    Template</button>
                            </mat-menu>

                            <!-- <button *ngIf="userManageActions && canAddEntry" color="primary" mat-mini-fab type="file"
                                [matTooltip]="addButtonTooltip" (click)="bulkAddButton()" style="margin-right: 10px;">
                                <input #FileSelectInputDialog type="file" (change)="bulkAddFileUploaded($event)"
                                    style="display:none" multiple />
                                <mat-icon>library_add</mat-icon>
                            </button> -->

                            <button
                                *ngIf="(divisionActions || subDivisionActions || configFormsActions ||  policeStationsActions || userManageActions || primaryKeyActions) && canAddEntry"
                                color="primary" mat-mini-fab type="button" matTooltip="Add" (click)="addButton()">
                                <mat-icon>add</mat-icon>
                            </button>

                        </div>
                    </div>

                    <div class="table-container">
                        <table @stagger [dataSource]="dataSource" class="w-full" mat-table mat-sort cdkDropList
                            *ngIf="!isLoading; else spinner" cdkDropListOrientation="horizontal"
                            (cdkDropListDropped)="dropHandler($event)">
                            <!-- Text Columns -->
                            <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                                <ng-container *ngIf="column.type === 'serialNumber'" [matColumnDef]="column.property">

                                    <th *matHeaderCellDef cdkDrag class="uppercase" mat-header-cell> {{ column.label }}
                                    </th>
                                    <td *matCellDef="let row; let rowIndex = index" [ngClass]="column.cssClasses"
                                        mat-cell>{{ row.serialNumber }}</td>

                                </ng-container>

                                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">

                                    <!-- <ng-container *ngIf="column.property === 'id'">

                                        <th *matHeaderCellDef cdkDrag class="uppercase" mat-header-cell> {{ column.label }}
                                        </th>
                                        <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                                            {{ row.alternativeId }}
                                        </td>

                                    </ng-container>

                                    <ng-container *ngIf="column.property !== 'id'"> -->

                                    <th *matHeaderCellDef cdkDrag class="uppercase" mat-header-cell> {{ column.label }}
                                    </th>
                                    <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{
                                        row[column.property] }}
                                    </td>

                                    <!-- </ng-container> -->
                                </ng-container>

                                <ng-container *ngIf="column.type === 'subDivision'" [matColumnDef]="column.property">
                                    <th *matHeaderCellDef cdkDrag class="uppercase" mat-header-cell> {{ column.label }}
                                    </th>
                                    <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                                        <div [matTooltip]="getSubDivisions(row)" class="divide-list"
                                            [innerHTML]="getSubDivisions(row)"></div>
                                    </td>
                                </ng-container>

                                <ng-container *ngIf="column.type === 'policeStatins'" [matColumnDef]="column.property">
                                    <th *matHeaderCellDef cdkDrag class="uppercase" mat-header-cell> {{ column.label }}
                                    </th>
                                    <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                                        <div [matTooltip]="getPoliceStations(row)" class="divide-list"
                                            [innerHTML]="getPoliceStations(row)"></div>
                                    </td>
                                </ng-container>



                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th *matHeaderCellDef mat-header-cell cdkDrag>Status</th>
                                <td *matCellDef="let element" class="w-10 text-secondary" mat-cell>
                                    <span *ngIf="publishOptionExists(element);">
                                        <mat-slide-toggle color="primary" [(ngModel)]="element.isPublished"
                                            (change)="updateStatusHandler($event, element);"
                                            [disabled]="!canChangeStatus"
                                            [matTooltip]="element.isPublished ? 'Published Status' : 'Unpublished Status'"
                                            class="ml-4 cursor-pointer">
                                        </mat-slide-toggle>
                                    </span>
                                    <!-- <ng-template #isActiveSwitch>
                                        <mat-slide-toggle color="primary" [checked]="element?.isActive"
                                            (change)="updateStatusHandler($event, element)"
                                            [matTooltip]="slideTooltip ? slideTooltip : 'Switch Status'"
                                            class="ml-4 cursor-pointer"></mat-slide-toggle>
                                    </ng-template> -->
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="isActive">
                                <th *matHeaderCellDef mat-header-cell cdkDrag>Status</th>
                                <td *matCellDef="let element" class="w-10 text-secondary" mat-cell>
                                    <span *ngIf="isActiveOptionExists(element);">
                                        <mat-slide-toggle color="primary" [(ngModel)]="element.isActive"
                                            (change)="updateStatusHandler($event, element)"
                                            [class.readonlyToggle]="element.canDeleteUser == false"
                                            [disabled]="!canChangeStatus"
                                            [matTooltip]="element.isActive ? 'Active Status' : 'Inactive Status'"
                                            class="ml-4 cursor-pointer">
                                        </mat-slide-toggle>
                                    </span>
                                    <!-- <ng-template #isActiveSwitch>
                                        <mat-slide-toggle color="primary" [checked]="element?.isActive"
                                            (change)="updateStatusHandler($event, element)"
                                            [matTooltip]="slideTooltip ? slideTooltip : 'Switch Status'"
                                            class="ml-4 cursor-pointer"></mat-slide-toggle>
                                    </ng-template> -->
                                </td>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="actions">
                                <th *matHeaderCellDef mat-header-cell cdkDrag>Actions</th>
                                <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                                    <ng-container *ngIf="publishFormsActions">
                                        <mat-icon (click)="openEditHandler(row)" matTooltip="View">visibility</mat-icon>
                                    </ng-container>

                                    <ng-container *ngIf="reportsActions">

                                        <button class="no-bg" (click)="previewRecord(row)">
                                            <mat-icon>visibility</mat-icon>
                                        </button>

                                    </ng-container>

                                    <ng-container *ngIf="divisionActions">
                                        <!-- <button (click)="$event.stopPropagation()"
                                            [matMenuTriggerData]="{ customer: row }" [matMenuTriggerFor]="divisionsMenu"
                                            mat-icon-button type="button">
                                            <mat-icon>more_horiz</mat-icon>
                                        </button> -->

                                        <button class="no-bg" (click)="updateDivisionHandler(row)">
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                    </ng-container>

                                    <ng-container *ngIf="subDivisionActions">
                                        <!-- <button (click)="$event.stopPropagation()"
                                            [matMenuTriggerData]="{ customer: row }"
                                            [matMenuTriggerFor]="subDivisionsMenu" mat-icon-button type="button">
                                            <mat-icon>more_horiz</mat-icon>
                                        </button> -->

                                        <button class="no-bg" (click)="updateSubDivisionHandler(row)">
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                    </ng-container>

                                    <ng-container *ngIf="policeStationsActions">
                                        <!-- <button (click)="$event.stopPropagation()"
                                            [matMenuTriggerData]="{ customer: row }"
                                            [matMenuTriggerFor]="policeStationsMenu" mat-icon-button type="button">
                                            <mat-icon>more_horiz</mat-icon>
                                        </button> -->

                                        <button class="no-bg" (click)="createStationHandler(row)">
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                    </ng-container>

                                    <ng-container *ngIf="userManageActions && row.canDeleteUser">
                                        <button (click)="$event.stopPropagation()"
                                            [matMenuTriggerData]="{ customer: row }"
                                            [matMenuTriggerFor]="userManageMenu" mat-icon-button type="button">
                                            <mat-icon>more_horiz</mat-icon>
                                        </button>
                                    </ng-container>

                                    <ng-container *ngIf="configFormsActions">
                                        <button (click)="$event.stopPropagation()"
                                            [matMenuTriggerData]="{ customer: row }" [disabled]="row.isPublished"
                                            [matMenuTriggerFor]="configFormsMenu" mat-icon-button type="button">
                                            <mat-icon>more_horiz</mat-icon>
                                        </button>
                                    </ng-container>

                                    <ng-container *ngIf="primaryKeyActions">
                                        <button (click)="$event.stopPropagation()"
                                            [matMenuTriggerData]="{ primaryKey: row }"
                                            [matMenuTriggerFor]="primaryKeyMenu" mat-icon-button type="button">
                                            <mat-icon>more_horiz</mat-icon>
                                        </button>
                                    </ng-container>

                                </td>

                            </ng-container>

                            <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                            <tr *matRowDef="let row; columns: visibleColumns;"
                                class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
                        </table>

                        <table class="w-full mt-4">
                            <tr *ngIf="dataSource && !dataSource.data.length && !isLoading">
                                <td style="text-align: center;" [attr.colspan]="visibleColumns.length">
                                    No Records Found!
                                </td>
                            </tr>
                        </table>

                    </div>

                    <ng-template #spinner>
                        <div class="w-full flex justify-center mt-4">
                            <mat-progress-spinner color="primary" mode="indeterminate">
                            </mat-progress-spinner>
                        </div>
                    </ng-template>
                </div>

            </exai-page-layout-content>

        </exai-page-layout>

        <mat-menu #columnFilterMenu="matMenu" class="filter-menu" xPosition="before" yPosition="below">
            <mat-chip-list class="flex flex-col mat-chip-list-stacked" aria-orientation="vertical" cdkDropList
                cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)">
                <mat-chip class="example-box filter-chip" cdkDrag *ngFor="let column of columns">
                    <button (click)="toggleColumnVisibilityHandler(column, $event)" class="checkbox-item mat-menu-item">
                        <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
                            {{ column.label }}
                        </mat-checkbox>
                    </button>
                </mat-chip>
            </mat-chip-list>
        </mat-menu>

        <mat-menu #divisionsMenu="matMenu" xPosition="before" yPosition="below">
            <ng-template let-customer="customer" matMenuContent>
                <button (click)="updateDivisionHandler(customer)" mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>{{ buttonModifyLabel }}</span>
                </button>
            </ng-template>
        </mat-menu>

        <mat-menu #subDivisionsMenu="matMenu" xPosition="before" yPosition="below">
            <ng-template let-customer="customer" matMenuContent>
                <button (click)="updateSubDivisionHandler(customer)" mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>{{ buttonModifyLabel }}</span>
                </button>
            </ng-template>
        </mat-menu>

        <mat-menu #policeStationsMenu="matMenu" xPosition="before" yPosition="below">
            <ng-template let-customer="customer" matMenuContent>
                <button (click)="createStationHandler(customer)" mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>{{ buttonModifyLabel }}</span>
                </button>
            </ng-template>
        </mat-menu>

        <mat-menu #userManageMenu="matMenu" xPosition="before" yPosition="below">
            <ng-template let-customer="customer" matMenuContent>
                <button *ngIf="customer.canDeleteUser" (click)="openEditHandler(customer)" mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>{{ buttonModifyLabel }}</span>
                </button>
                <button *ngIf="customer.canDeleteUser" (click)="openResetHandler(customer)" mat-menu-item>
                    <mat-icon>lock</mat-icon>
                    <span>{{ buttonResetLabel }}</span>
                </button>
                <button *ngIf="customer.canDeleteUser" (click)="deleteFormHandler(customer)" mat-menu-item>
                    <mat-icon style="color: rgb(255, 118, 118);">delete</mat-icon>
                    <span>Delete User</span>
                </button>
            </ng-template>
        </mat-menu>

        <mat-menu #configFormsMenu="matMenu" xPosition="before" yPosition="below">
            <ng-template let-customer="customer" matMenuContent>
                <button *ngIf="customer.canDeleteForm" (click)="addEditPoliceStationHandler(customer)" mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>{{this.languageService.language?.button.edit_ps}}</span>
                </button>
                <button *ngIf="customer.canDeleteForm" (click)="updateFormHandler(customer)" mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>{{this.languageService.language?.button.edit_form}}</span>
                </button>
                <button *ngIf="canAddEntry" (click)="cloneFormHandler(customer)" mat-menu-item>
                    <mat-icon>copy_all</mat-icon>
                    <span>Clone Form</span>
                </button>
                <button *ngIf="customer.canDeleteForm" (click)="deleteFormHandler(customer)" mat-menu-item>
                    <mat-icon style="color: rgb(255, 118, 118);">delete</mat-icon>
                    <span>Remove Form</span>
                </button>
            </ng-template>
        </mat-menu>

        <mat-menu #primaryKeyMenu="matMenu" xPosition="before" yPosition="below">
            <ng-template let-primaryKey="primaryKey" matMenuContent>
                <button (click)="updatePrimaryKeyHandler(primaryKey)" mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Edit Primary Key</span>
                </button>
                <button (click)="deletePrimaryKeyHandler(primaryKey)" mat-menu-item>
                    <mat-icon style="color: rgb(255, 118, 118);">delete</mat-icon>
                    <span>Remove Primary Key</span>
                </button>
            </ng-template>
        </mat-menu>

    </div>
</div>