<h1 mat-dialog-title>Enter Details</h1>
<div mat-dialog-content>
<div>
    <input id="firstname" class="input track-dialog" placeholder="First Name">
    <input id="lastname" class="input track-dialog" placeholder="Last Name">
    <input id="username" class="input track-dialog" placeholder="User Name">
    <input id="emailId" class="input track-dialog" placeholder="Email Id">
    <input id="phone" class="input track-dialog" placeholder="Phone Number">
    <input id="password" type="password" class="input track-dialog" placeholder="Password">
</div>

<mat-form-field appearance="outline" class="track-dialog">
    <mat-select class="select" (selectionChange)="onRoleSelect($event.value)"placeholder="Select Role">
        <mat-option *ngFor="let user of users" [value]="user.value">
            {{user.name}}
          </mat-option>
    </mat-select>
 
</mat-form-field>   
    <mat-form-field *ngIf="isAdmin" appearance="outline" class="track-dialog">
    <mat-select  placeholder="Select Place Name" (selectionChange)="selectLocation($event.value)">
        <mat-option  *ngFor="let location of deparments" [value]="location" >
            {{location.value}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field  *ngIf="isAdmin" appearance="outline" class="track-dialog">
    <mat-select  placeholder="Select Sub Division Name" (selectionChange)="selectSubDivision($event.value)">
        <mat-option  *ngFor="let location of filteredSubdivisions" [value]="location" >
            {{location.value}}
        </mat-option>
    </mat-select>
</mat-form-field>

    <mat-form-field *ngIf="isAdmin" appearance="outline" class="track-dialog">
    <mat-select  placeholder="Select Police Station Name" (selectionChange)="selectStation($event.value)">
        <mat-option  *ngFor="let location of filterdStaions" [value]="location" >
            {{location.value}}
        </mat-option>
    </mat-select>
    </mat-form-field>

</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
  <button mat-button color="primary"  cdkFocusInitial (click)="onSubmitForm()">Submit</button>
</div>
