<div class="p-0" gdColumns="1fr 1fr 1fr 1fr" gdColumns.lt-md="1fr" gdColumns.lt-sm="1fr" gdGap="12px" exaiContainer>
    <div *ngIf="($downloadInProgress | async)">Download in progress</div>
    <div class="card w-full overflow-auto" gdColumn="1 / -1" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1">
        
        
        <exai-page-layout>
            <exai-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
            [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="">

            <div class="w-full flex justify-end mb-4">
                <a routerLink="/forms/submitted-form">
                    <button mat-stroked-button color="accent">Go Back</button>
                </a>
            </div>
            
            <div class="overflow-auto">
                    <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center" fxLayout="row"
                        fxLayoutAlign="start center">
                        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l"
                            fxFlex="none" fxHide.xs>
                            <span
                                *ngIf="selection.isEmpty()">{{this.languageService.language?.userfilledform.user_filled_form}}</span>
                            <span *ngIf="selection.hasValue()">{{ selection.selected.length }}
                                {{this.languageService.language?.userfilledform.user}}<span
                                    *ngIf="selection.selected.length > 1"></span>
                                {{this.languageService.language?.userfilledform.filled_form_selected}}
                            </span>
                        </h2>

                        <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r" fxFlex="none">
                            <button mat-icon-button>
                                <mat-icon class="cursor-pointer"
                                    [matTooltip]="'Download ' + selection.selected.length + ' User Responses'"
                                    (click)="downloadForms()">
                                    download
                                </mat-icon>
                            </button>
                            <!-- <button (click)="deleteCustomers(selection.selected)" color="primary" mat-icon-button
                                matTooltip="Delete selected" type="button">
                                <mat-icon [icIcon]="icDelete"></mat-icon>
                            </button> -->
                        </div>

                        <div class="h-full flex items-center p-x-2 w-80 w-700 overflow-hidden">
                            <mat-form-field class="w-700 py-0  border-y-0" appearance="fill">
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let value of searchValues" (removed)="remove(value)">
                                        {{value}}
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                    <input #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="columnsForSearch" placeholder="Search..."
                                        [formControl]="searchCtrl" [matChipInputFor]="chipList" type="text"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        (matChipInputTokenEnd)="add($event); menuTrigger.closeMenu()">
                                </mat-chip-list>
                            </mat-form-field>

                            <mat-menu #columnsForSearch="matMenu">
                                <div *ngFor="let column of columns | tableSearchColumns; let index = index">
                                    <button mat-menu-item *ngIf="index < columns.length - 2 || index == 0"
                                        (click)="appendToSearch(column.label)">{{ column.label }}</button>
                                </div>
                            </mat-menu>
                        </div>

                        <div class="flex items-center h-full" *ngIf="canApproveReject && selection.selected.length> 0">
                            <button mat-stroked-button class="ml-4" color="primary" type="button" [disabled]="!onlySubmitted"
                                (click)="submitMultipleStatus('approve')">
                                Approve Selected
                            </button>
                            <button mat-stroked-button class="ml-4" color="accent" type="button" [disabled]="!onlySubmitted && !onlyReject"
                                (click)="submitMultipleStatus('reject')">
                                Reject Selected
                            </button>
                        </div>

                        <div *ngIf="isPoliceUser && draftOrRejected && selection.selected.length> 0">
                            <button mat-stroked-button class="ml-4" color="primary" type="button"
                                (click)="submitMultipleStatus('submit')">
                                Submit Selected for Approval
                            </button>
                        </div>

                        <span fxFlex></span>


                        <button class="edit-dropdown ml-4 filter">
                            <button mat-icon-button type="button">
                                <mat-icon class="cursor-pointer text-xl "
                                    [matTooltip]="'Download All Records as Word'" (click)="downloadForms('all')">
                                    download
                                </mat-icon>
                            </button>
                            <!-- <button *ngIf="roleID == 1">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{this.languageService.language?.policestation.ps}}</mat-label>
                                    <mat-select [formControl]="searchPoliceStationControl">
                                        <mat-option *ngFor="let exam of getPoliceStation" [value]="exam.value">
                                            {{exam.value}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon (click)="clearSerach($event)" class="absolute -ml-4 text-base">
                                        close
                                    </mat-icon>
                                </mat-form-field>
                            </button> -->
                        </button>

                        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button
                            matTooltip="Filter Columns" type="button">
                            <mat-icon [icIcon]="icFilterList"></mat-icon>
                        </button>

                        <button *ngIf="canAddEntry" (click)="createFormNew()" class="ml-4" color="primary" fxFlex="none"
                            mat-mini-fab matTooltip="Add New Record" type="button">
                            <mat-icon [icIcon]="icAdd"></mat-icon>
                        </button>

                        <mat-progress-spinner class="ml-2" *ngIf="downloadLoading" diameter="30" color="primary" mode="indeterminate">
                        </mat-progress-spinner>
            
                    </div>
                    <div class="formRecordContainer w-full">
                    <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort
                        *ngIf="!isLoading; else spinner">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="checkbox">
                            <th *matHeaderCellDef mat-header-cell>
                                <mat-checkbox #ref (change)="$event ? masterToggle(ref) : null"

                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
                                </mat-checkbox>
                            </th>
                            <td *matCellDef="let row" class="w-4" mat-cell>
                                <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                                    (click)="$event.stopPropagation()" [checked]="selection.isSelected(row)"
                                    color="primary">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        
                        <!-- Text Columns -->
                        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                            <!-- Serial Number column -->
                            <ng-container *ngIf="column.type === 'serialNumber'" matColumnDef="serialNumber">
                                <th *matHeaderCellDef mat-header-cell> {{ column.label }}
                                </th>
                                <td *matCellDef="let row" class="w-4" mat-cell>{{ dataSource.data.indexOf(row) + 1 }}</td>
                            </ng-container>

                            <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                                <th *matHeaderCellDef class="uppercase" mat-header-cell> {{ column.label }}
                                </th>
                                <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property]
                                    }}
                                </td>
                            </ng-container>
                        </ng-container>

                        <!-- Contact Column -->
                        <ng-container matColumnDef="contact">
                            <th *matHeaderCellDef mat-header-cell></th>
                            <td *matCellDef="let row" mat-cell>
                                <div class="flex">
                                    <a (click)="$event.stopPropagation()"
                                        class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                                        mat-icon-button>
                                        <mat-icon></mat-icon>
                                    </a>

                                    <a (click)="$event.stopPropagation()"
                                        class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal bg-teal-light"
                                        mat-icon-button>
                                        <mat-icon></mat-icon>
                                    </a>

                                    <a (click)="$event.stopPropagation()"
                                        class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-green bg-green-light"
                                        mat-icon-button>
                                        <mat-icon></mat-icon>
                                    </a>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Label Column -->
                        <ng-container matColumnDef="labels">
                            <th *matHeaderCellDef class="uppercase" mat-header-cell>
                                {{this.languageService.language?.common.Labels}}</th>
                            <td *matCellDef="let row" mat-cell>
                                <div (click)="$event.stopPropagation()" fxLayoutAlign="start center" fxLayoutGap="4px">
                                    <div *ngFor="let label of row.labels" [ngClass]="[label.textClass, label.bgClass]"
                                        class="rounded px-2 py-1 font-medium text-xs" fxFlex="none">
                                        {{ label.text }}
                                    </div>
                                    <div (click)="labelSelect.open()"
                                        class="bg-base text-hint cursor-pointer hover:bg-hover" fxFlex="none"
                                        fxLayout="row" fxLayoutAlign="center center">
                                        <ic-icon [icon]="icAdd" size="18px"></ic-icon>
                                    </div>
                                    <mat-select #labelSelect="matSelect" (selectionChange)="onLabelChange($event, row)"
                                        [value]="row.labels" class="invisible w-0 h-0 text-sm" fxFlex="0 1 0px"
                                        multiple>
                                    </mat-select>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <th *matHeaderCellDef mat-header-cell class="text-center">ACTIONS</th>
                            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                                <div *ngIf="row.status !== 'Draft'">
                                    <button *ngIf="canApproveReject"
                                        [disabled]="row.status === 'Approved' || row.status === 'Rejected'" mat-button
                                        class="ml-4" color="primary" type="button"
                                        (click)="submitStatusV1(row,'approve')">
                                        Approve
                                    </button>
                                    <button *ngIf="canApproveReject" [disabled]="row.status === 'Rejected'" mat-button
                                        class="ml-4" color="accent" type="button"
                                        (click)="submitStatusV1(row,'reject')">
                                        Reject
                                    </button>
                                </div>

                                <button *ngIf="isPoliceUser && (row.status === 'Draft' || row.status === 'Rejected')" mat-button class="ml-4"
                                    color="primary" type="button" (click)="submitStatusV1(row,'submit')">
                                    Submit for Approval
                                </button>
                                <button *ngIf="!canApproveReject && row.status === 'Submitted'" disabled mat-button
                                    class="ml-4" color="primary" type="button" (click)="submitStatusV1(row,'submit')">
                                    Waiting for Approval
                                </button>

                            </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th *matHeaderCellDef mat-header-cell></th>
                            <td *matCellDef="let row;" class="w-10 text-secondary" mat-cell>
                                <mat-icon class="ml-4" [matMenuTriggerFor]="downloadFormMenu">download
                                </mat-icon>
                                <mat-icon class="ml-4" (click)="previewForm(row)">visibility</mat-icon>

                                <mat-menu #downloadFormMenu="matMenu">
                                    <button *ngIf="dataService.formDetails.formType != 'Card'" (click)="downloadForms('single', row.userFormId, 'word', row)" mat-menu-item>Download As Word</button>
                                    <button (click)="downloadForms('single', row.userFormId, 'pdf', row)" mat-menu-item>Download As Pdf</button>
                                </mat-menu>

                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action1">
                            <th *matHeaderCellDef mat-header-cell></th>
                            <td *matCellDef="let row;" class="w-10 text-secondary" mat-cell>
                                <mat-icon *ngIf="row.comment" matTooltip="View Comment" (click)="openCommentDialog(row)">comment
                                </mat-icon>
                            </td>
                        </ng-container>

                        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: visibleColumns;"
                            class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
                    </table>
                    </div>

                    <table class="w-full mt-4">
                        <tr *ngIf="dataSource && !dataSource.data.length && !isLoading">
                            <td style="text-align: center;" [attr.colspan]="visibleColumns.length">
                                No Data Found!
                            </td>
                        </tr>
                    </table>

                    <ng-template #spinner>
                        <div class="w-full flex justify-center mt-8">
                            <mat-progress-spinner color="primary" mode="indeterminate">
                            </mat-progress-spinner>
                        </div>
                    </ng-template>
                    <mat-paginator #paginator [length]="length" [pageSize]="10"
                        [pageSizeOptions]="pageSizeOptions">
                    </mat-paginator>
                    
                </div>
                
            </exai-page-layout-content>

        </exai-page-layout>

        <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
            <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
                class="checkbox-item mat-menu-item">
                <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
                    {{ column.label }}
                </mat-checkbox>
            </button>
        </mat-menu>

        <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
            <ng-template let-customer="customer" matMenuContent>
            </ng-template>
        </mat-menu>
    </div>
</div>
<div class="card w-full overflow-hidden absolute" style="opacity:0;bottom:0px;z-index:-100000" gdColumn="1 / -1"
    gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1">
</div>


<div [hidden]="true">
    <ng-container *ngFor="let cardPortal of cardPrintPortals">
    <ng-template (attached)="cardPrintPortalAttach($event, cardPortal.content, cardPortal.userInput, cardPortal.formName)" [cdkPortalOutlet]="cardPortal.portalReference"></ng-template>
</ng-container>
</div>