.hide {
    display: none;
}

.formRecordContainer {
    height: 373px;
    overflow: auto;
}

@media only screen and (min-width: 992px) {
    .formRecordContainer {
        height: 490px;
    }
}

@media only screen and (min-width: 1200px) {
    .formRecordContainer {
        height: 477px;
    }
}

@media only screen and (min-width: 1920px) {
    .formRecordContainer {
        height: 560px;
    }
}