<div (click)="showNotificationPopover(notificationBtn)" #notificationBtn class="pl-2 py-1 notification-button">
    <div class="new-notification" *ngIf="newNotification"><span class="red-dot-notification">
      {{ notificationsCount }}
    </span></div>
    <mat-icon class="material-icons-outlined">
      notifications
      </mat-icon>
  </div>