.notification-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    mat-icon {
      color: var(--toolbar-icon-color);
  
    }
  }

  .red-dot-notification {
      background-color: rgb(255, 99, 99);
      display: block;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.6rem;
      color: #fff;
      width: 1rem;
      height: 1rem;
  }

  .new-notification {
      position: absolute;
      top: 0px;
      right: -7px;
  }