
.field {
    position: relative;
    padding: 0.3rem;
}

.example-full-width {
    border: 1px solid transparent;
    padding: 0.5rem;
    transition: 0.2s all;
}

.actions-buttons {
    position: absolute;
    right: 1rem;
    bottom: -2.2rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid rgb(238, 238, 238)!important;
    padding: 0.5rem;
    transition: 0.2s all;
    & span {
        color: #499B90;
        // margin-left: 1rem;
        font-size: 1.2rem;
        cursor: pointer;
    }
    
    background-color: #fff;
    z-index: 20;
    display: flex;
    flex-direction: row!important;
    border-top: 1px solid transparent!important;
    opacity: 0;

}

.field:hover {
    
    & .actions-buttons {
        opacity: 1;
    }

    & .example-full-width {
        border: 1px solid #499b906e;
    }

    & .editor-menu-floating {
        display: block;
    }
}

.text-editor-view-mode {
    .e-toolbar-wrapper {
        display: none!important;
    }

    .e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content {
        padding: 0!important;
    }
    .e-richtexteditor.e-rte-tb-expand {
        border: none!important;
    }
    .e-richtexteditor.e-rte-tb-expand .e-rte-content, .e-richtexteditor.e-rte-tb-expand .e-source-content {
        border: none!important;
    }
}

::ng-deep .e-rte-table td.no-border {
    border: none!important;
}