<div>
    <mat-card >
        <div id="card-div">  Police Stations  </div>
        <div id="top">
            <mat-form-field appearance="outline" class="track-dialog">
                <mat-select  placeholder="Select Place Name" (selectionChange)="selectLocation($event.value)">
                    <mat-option  *ngFor="let location of deparments" [value]="location" >
                        {{location.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="track-dialog">
                <mat-select  placeholder="Select Sub Division Name" (selectionChange)="selectSubDivision($event.value)">
                    <mat-option  *ngFor="let location of filteredSubdivisions" [value]="location" >
                        {{location.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
          <input placeholder="Police Station Name" id="departmentNametop" class="input">

          <button class="addbutton" (click)="addNewField()" > Add New </button>
        </div>

                <table>
                    <thead>
                        <tr class="head">
                        <th>  Police Station Names        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="entry" *ngFor="let policestations of policeStation"  >
                            <!-- <td>{{locationList}}</td> -->
                            <td>
                                <mat-form-field appearance="outline" class="track-dialog">
                                    <mat-select   placeholder="Select Place Name" [value]="GetValue(policestations)">
                                        <mat-option *ngFor="let location of deparments" [value]="location.id">
                                            {{location.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="track-dialog">
                                    <mat-select  placeholder="Select Place Name" [(value)]="policestations.parentId">
                                        <mat-option *ngFor="filterSubdivisions(policestations);let location of filteredSubdivisions" [value]="location.id">
                                            {{location.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <input id="{{policestations.parentId}}" class="input" [(value)]="policestations.value">
                            </td>
                            <td>
                            <button class="tableButton" (click)="onSave(policestations.parentId)">Save</button>
                            <button class="tableButton" >Delete</button>
                          </td>
                        </tr>
                    </tbody>
                </table>
          
        
    </mat-card>
  </div>
