.addsub {
    text-align: center;
    min-width: 160px;
    margin-left: 185px;
    border: 1px solid;
    border-radius: 4px
  }
  .selectdrop{
    min-width: 250px;
    padding-left: 5px;
    min-height: 20px;
    border:solid 1px;
  }
  .addbutton {
    text-align: center;
    min-width: 80px;
    margin-left: 48px;
    border: 1px solid;
    border-radius: 4px
  }
  .input{
    padding: 10px 0px;
    margin: 10px 45px;
    max-width: 190px;
    border: 1px solid;
    border-radius: 4px;
  }
  .tableButton{
    padding-left: 5px;
    min-width: 116px;
    text-align: center;
    margin-left: 16px;

  }
  .track-dialog{
      margin-left: 12px !important;
  }
  .hide{
    display: none;
  }