<div class="form-wrapper">
  <ng-template #recursiveList let-list>
    <div dndPlaceholderRef class="dndPlaceholder">
    </div>

    <div style="width: 100%;" *ngFor="let item of list" [dndDraggable]="item" [dndType]="item.dndType"
      dndEffectAllowed="move" [dndDisableIf]="item.disable" (dndStart)="onDragStart($any($event))"
      (dndCopied)="onDragged(item, list, 'copy')" (dndLinked)="onDragged(item, list, 'link')"
      (dndMoved)="onDragged(item, list, 'move')" (dndCanceled)="onDragged(item, list, 'none')"
      (dndEnd)="onDragEnd()">

      <div *ngIf="item.content" class="dnd-content">
        {{ item.content }}
      </div>

      <ng-container [ngSwitch]="item.elementType">

        <div [attr.id]="item.id" [attr.elementType]="item.elementType" *ngSwitchCase="'table'">
          <exai-form-builder-element-table (removeEmitted)="removeElement($event)" [item]="item"></exai-form-builder-element-table>
        </div>

        <div [attr.id]="item.id" [attr.elementType]="item.elementType" *ngSwitchCase="'primaryKey'">
          <exai-form-builder-element-primary-key (removeEmitted)="removeElement($event)" [item]="item"></exai-form-builder-element-primary-key>
        </div>
        
        <div [attr.id]="item.id" [attr.elementType]="item.elementType" *ngSwitchCase="'form'">
          <app-form-builder-input-elements (removeEmitted)="removeElement($event)" [item]="item"></app-form-builder-input-elements>
        </div>

        <div *ngSwitchCase="'button'">
          <app-form-builder-element-buttons [attr.id]="item.id" [attr.elementType]="item.elementType" (removeEmitted)="removeElement($event)" [item]="item"></app-form-builder-element-buttons>
        </div>

        <div *ngSwitchCase="'image'">
          <exai-form-builder-image [attr.id]="item.id" [attr.elementType]="item.elementType" (removeEmitted)="removeElement($event)" [item]="item"></exai-form-builder-image>
        </div>

        <div *ngSwitchCase="'tableForm'">
          <exai-table-form [attr.id]="item.id" (removeEmitted)="removeElement($event)" [initTableValues]="item.tableValue" [attr.elementType]="item.elementType" (submitTableDataEvent)="submitTableData($event)" [item]="item"></exai-table-form>
        </div>

        <div *ngSwitchCase="'excel'">
          <exai-form-builder-excel (removeEmitted)="removeElement($event)" [item]="item"></exai-form-builder-excel>
        </div>

      </ng-container>

      <ng-container *ngIf="item.html">
        <app-form-builder-element-html (removeEmitted)="removeElement($event)" [item]="item"></app-form-builder-element-html>
      </ng-container>

      <div *ngIf="item?.customDragImage" dndDragImageRef>MY_CUSTOM_DRAG_IMAGE
      </div>

      <ng-container *ngIf="item?.children">
        
        <ng-container *ngIf="item.type === 'atm-card'">

          <div class="atm-card-wrapper">

          <div [attr.id]="item.id" [attr.type]="item.type" [class]="item.class" class="layout-padding" [dndDisableIf]="item.disableDropzone"
          [dndDropzone]="item.allowedTypes" [dndAllowExternal]="true" (dndDrop)="onDrop($any($event), item.children)">

          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
        
          </div>

        </div>

        </ng-container>


        
        <ng-container *ngIf="item.type != 'atm-card'">

          
        <div [attr.id]="item.id" [attr.type]="item.type" [class]="item.class" [ngClass]="{ 'row-grouped': item.type === 'row' && item.grouped, 'vertical-row-grouped': item.type === 'row' && item.verticalGrouped, 'selected-row': activeElement === item }" class="layout-padding" [dndDisableIf]="item.disableDropzone"
          [dndDropzone]="item.allowedTypes" [dndAllowExternal]="true" (dndDrop)="onDrop($any($event), item.children)">
          
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
        
          
          <div *ngIf="item.type === 'col' && !item.disableAction" class="actions-buttons">
              <span (click)="removeElement(item)" style="color: rgb(218, 108, 108);" class="material-icons-outlined">
                clear
              </span>
          </div>

          <ng-container *ngIf="item.type === 'row' && !item.disableAction" >
            <div (click)="activeElement = item" class="row-on-hover">
            <div  class="locked">
              <div [ngClass]="{ 'locked-group': item.grouped, 'vertical-lock': item.verticalGrouped }" class="actions-buttons-row-locked">
                <span class="material-icons-outlined">
                  {{ item.grouped ? 'lock' : 'lock_opened' }}
                  </span>
                  <span matTooltip="{{ item.groupName ?? 'Untitled' }}" class="group-title">{{ item.groupName ?? "Untitled" }}</span>
                </div>
            </div>

            <div *ngIf="activeElement === item" class="actions-buttons-row">

              <span class="row-text">Row</span>

              <span class="material-icons-outlined" style="color: #499B90;" exaiPopoverDirective [popoverTrigger]="popover">
                settings
                </span>

              <span dndHandle class="material-icons-outlined"  style="color: #499B90;">
                drag_indicator
                </span>

                <span (click)="removeElement(item)" style="color: rgb(218, 108, 108);" class="material-icons-outlined">
                  clear
                </span>
              </div>

              <ng-template #popover>
                <exai-form-builder-grid-settings [item]="item"></exai-form-builder-grid-settings>
              </ng-template>

            </div>
          </ng-container>



        </div>


      </ng-container>

      </ng-container>


    </div>

  </ng-template>

  <div class="generalDropzone" dndDropzone [dndAllowExternal]="true" (dndDrop)="onDrop($any($event), pageBuilder)">

    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: pageBuilder }"></ng-container>

  </div>

</div>