:host {
  display: block;
  box-sizing: border-box;
}


.dndDraggingSource {
  // opacity: 0.8;
  transform: scale(0.98);
  transition: 0.2s all;
}

.dndPlaceholder {
  width: 2px;
  background-color: #499b9096;
  padding: 1px;
  // min-height: 75px;
  height: 3px;
  // height: 100%;
  // overflow: hidden;
  transition: 1s all;
  width: 100%;
  // height: 100%;
  background-color: rgba(144, 249, 195, 0.781);
}

.row-indicator {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 10px;
  outline: 1px dashed rgba(170, 170, 170, 0.7);
  outline-offset: -2px;
  height: 100%;
  position: relative;
}

.col-indicator {
  min-height: 75px;
  flex-grow: 1;
  flex-basis: 100%;
  outline: 1px dashed rgba(170, 170, 170, 0.7);
  outline-offset: -2px;
  height: 100%;
  // overflow: hidden;
  border-radius: 6px;
  position: relative;
}

.dnd-content {
  border: 1px solid rgb(241, 241, 241);
  height: auto;
  border-radius: 6px;
  padding: 0.4rem;
}

.row-actions {
  display: block;
}

.generalDropzone {
  width: 100%;
  min-height: calc(80vh - 4rem);
  // padding: 1rem;
  // padding-top: 1.5rem;
}

.col-indicator {

  & .actions-buttons {
    right: 0.1rem;
  }
}

.row-indicator {
  & .actions-buttons {
    right: 0;
  }
}

.actions-buttons {
  position: absolute;
  right: 0.5rem;
  bottom: -1.45rem;
  border: 1px solid #e7e7e7;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #fff;
  height: 1.5rem;
  display: none;
  & span {
    font-size: 1.2rem;
    cursor: pointer;
  }
  z-index: 19;
}

.col-indicator:hover {
  outline: 2px dashed #499b906e;
  
}

.col-indicator:hover .actions-buttons {
  display: block;
}

.row-indicator:hover {
  outline: 2px dashed #499b906e;

  & .actions-buttons {
    display: block;
  }
}

.row-indicator:hover .actions-buttons {
  display: block;
}

.actions-buttons-row {
  position: absolute;
  right: 7rem;
  border: 1px solid rgba(178, 178, 178, 0.452);
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #fff;
  padding: 0.3rem;
  & span {
    font-size: 1.2rem;
    cursor: pointer;
  }
  z-index: 19;
  top: -1.85rem;
  display: grid;
  grid-template-columns: 2rem 1fr 1fr 1fr;
  gap: 0.3rem;
  align-items: center;

  & .row-text {
    font-size: 0.8rem;
    color: rgb(133, 133, 133);
  }
}

.actions-buttons-row-locked {
  position: absolute;
  left: 0.5rem;
  border: 1px solid #e7e7e7;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #fff;
  padding: 0.3rem;
  & span {
    font-size: 1.2rem;
    cursor: pointer;
  }
  color: rgb(165, 165, 165);
  z-index: 19;
  top: -1.85rem;
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  & .group-title {
    font-size: 0.7rem;
    margin-left: 0.5rem;
    max-width: 8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.vertical-lock {
  transform: rotate(270deg);
  left: -3.2rem;
  top: 2.4rem;
  color: rgb(237, 110, 110);
  & .group-title {
    width: 3rem!important;
  }
}


.locked-group {
  color: rgba(var(--color-primary), 0.8);
}

.row-grouped {
  outline: 1px dashed rgba(var(--color-primary), 0.8);
  user-select: none;
}

.vertical-row-grouped {
  outline: 2px dashed rgba(237, 143, 143, 0.676);
  user-select: none;
}

.row-on-hover {
  display: block;
}


.selected-row {
  outline: 1px dashed rgb(176, 69, 248)!important;
}

.atm-card {
  height: 53.98mm;
  width: 85.60mm;
  // border: 1px solid rgb(230, 230, 230);
  // 85.60 mm × 53.98 mm
  border-radius: 3.18mm;
  background-color: #fff;
}

.atm-card-wrapper {
  min-height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.atm-card-wrapper {
  & .col-indicator {
    min-height: 30px;
  }

  & .row-indicator {
    padding: 5px
  }
}

::ng-deep .atm-card-wrapper .image-preview, ::ng-deep .atm-card-wrapper .image-content {
  min-height: 1.8rem!important;
  
}

::ng-deep .atm-card-wrapper .custom-icon {
  font-size: 1.4rem!important;
}

.atm-card-wrapper .actions-buttons-row-locked {
  display: none;
}