<div class="notification-dialog" infiniteScroll (scrolled)="onScroll()" [scrollWindow]="false">
    
    <div class="no-data" *ngIf="!notifications.length && !loadingNotifications">
        <div>
            <mat-icon style="font-size: 3rem;">filter_none</mat-icon>
        </div> 
        <p class="mt-2">No Notifications</p></div>
    
    <ul *ngIf="notifications.length">
        <li [ngClass]="{ 'not-read': !notification.read }" *ngFor="let notification of notifications">
           <div class="main-part-notif"> <div class="notif-icon"><mat-icon>{{ notification.message?.Icon }}</mat-icon></div> 

           <div><h3>{{ notification.message?.Title }}</h3> <div class="message-body" [innerHTML]="notification.message?.Body"></div></div></div> <p class="date-str">{{ notification.message?.CreatedDateTime | date: 'short' }}</p>
        </li>
    </ul>
    <mat-progress-bar *ngIf="loadingNotifications" color="primary" class="progress-abs" mode="indeterminate"></mat-progress-bar>
</div>