.notification-dialog {
    background: var(--background-card);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--elevation-z4);
    max-width: 100vw;
    overflow: hidden;
    width: 25rem;
    border-radius: 0.25rem;
    height: 30rem;
    overflow-y: auto;
    position: relative;
    cursor: default;

    .notif-icon {

        & mat-icon {
            color: rgb(255, 158, 158);
        }
        margin-right: 0.8rem;
        display: flex;
        align-items: center;
    }


    & ul {

        display: flex;
        flex-direction: column;
        & li {
            padding: 0.7rem;
            // background-color: rgb(252, 252, 252);
            border-bottom: 1px solid rgb(246, 246, 246);
            display: flex;
            align-items: flex-start;

            justify-content: space-between;

            .date-str {
                font-size: 0.7rem;
                color: rgb(198, 198, 198);
            } 

            .main-part-notif {
                display: flex;
                align-items: flex-start;

                & .message-body {
                    width: 14.5rem;
                    font-size: 0.75rem;
                    color: rgb(99, 99, 99);
                }

                & h3 {
                    font-size: 0.85rem;
                    
                }
            }
            & p {
                color: rgb(117, 117, 117);

            }
            
        }
    }
}

.progress-abs {
    position: fixed;
    bottom: 0;
    left: 0;
}

.not-read {
    background-color: rgb(255, 249, 249)!important;
}

.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;

    & mat-icon {
        color: var(--toolbar-icon-color);
        width: 3rem;
        height: 3rem;
    }
}