<div *ngIf="this.columns.length" class="card mt-4 w-full h-full overflow-auto cardBorder p-4">

    <div class="flex flex-col justify-between w-full mb-2">
        <div class="flex w-full items-center justify-between mb-2">
            <div class="flex items-center">
                <button type="button" *ngIf="!allRowsConfirmed" type="button" mat-stroked-button color="primary" class="mb-2 mr-2" [disabled]="updateDisabled"
                    (click)="updateData()">
                    Confirm
                </button>
                    <button type="button" *ngIf="someRowsConfirmed" type="button" mat-stroked-button color="primary" class="mb-2 mr-2" [disabled]="updateDisabled"
                        (click)="editTable()">
                        Edit
                    </button>

                <h3 *ngIf="!allRowsConfirmed"  class="mb-2 ml-4" style="color: rgb(255, 141, 141);">You need to confirm table to submit the form</h3>
            </div>

        </div>

        <vex-page-layout>
            <vex-page-layout>
                <div id="print-section">
                    <exai-grid-item-table-header [selection]="selection" [showEditSelected]="showEditSelected" [showTitle]="false"
                        [showAddColumn]="false" [formName]="recordName" [showAddRowButton]="false"
                        [userCantChange]="userCantChange" [searchCtrl]="searchCtrl" [allFilterValues]="allFilterValues"
                        [columnsForFilter]="columnsForFilter" [columns]="columns"
                        [disableMergeButton]="disableMergeButton" [showMergeButton]="false"
                        (clearFilterRulesEvent)="clearFilterRules($event)" (clearAllFiltersEvent)="clearAllFilters()"
                        [searchValues]="searchValues" (addRowHandler)="addRow()"
                        (downloadTableExcelFormatEvent)="downloadTableExcelFormat()"
                        (mergeDataEvent)="mergeDataToggle()" (changeTableTextStyleEvent)="changeTableTextStyle($event)"
                        (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)"
                        (createTableEvent)="createTable($event)" (itemsActionEvent)="itemsAction($event)"
                        (addRowEvent)="addRow()" (removeEvent)="remove($event)" (addEvent)="add($event)"
                        (appendToSearchEvent)="appendToSearch($event)"
                        (setVisibilityEvent)="setSummeryVisibility($event)"></exai-grid-item-table-header>

                    <exai-merge-data *ngIf="false" [data]="dataForMerge"
                        (applyMergeDataValuesEvent)="mergeDataValues($event)"
                        (closeMergeDataComponentEvent)="closeMergeDataComponent()"></exai-merge-data>

                    <div [ngClass]="{'hide': loadingTableData }" class="overflow-auto relative">
                        <exai-grid-item-table [selection]="selection" [dataSource]="dataSource" [selection]="selection" [showTotalButton]="true" [showMathOperationsColumn]="true" [tableHeaderRows]="tableHeaderRows"
                            [readOnly]="false" [selectPrimaryKey]="false" [userCantChange]="userCantChange" [showThOptions]="false" [showEditHeader]="false"
                            [showEditDropdownButton]="false" [showIndex]="showMergeDataComponent" [onConfirmError]="onConfirmError"
                            [showActionButton]="true" [showAlignButton]="false" [isAllSelected]="isAllSelected()"
                            [summeryAlwaysVisible]="summeryAlwaysVisible" [disableErrorMessages]="true"
                            [columns]="columns" [visibleColumns]="visibleColumns" [tableTextStyle]="tableTextStyle"
                            [rowNumber]="rowNumber" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                            (dropEvent)="drop($event)" (updateRowFilesEvent)="uploadRowFiles($event)"
                            (masterToggleEvent)="masterToggle()" (itemActionEvent)="itemAction($event)"
                            (createColumnDataEvent)="createColumnData($event)"
                            (clearFilterRulesEvent)="clearFilterRules($event)"
                            (applyFiltersEvent)="checkWhatRowsToFilter($event.column, false, $event.filterValue, $event.filterType)"
                            (deleteColumnEvent)="deleteColumn($event)" (editColumnEvent)="editColumn($event)"
                            (checkboxCheckedEvent)="checkboxChecked($event)"
                            (setLabelValuesEvent)="setLabelValues($event)" (toggleTotalEvent)="toggleTotal($event)"></exai-grid-item-table>

                        <mat-paginator [length]="rowNumber.length" [pageSizeOptions]="pageSizeOptions" [pageSize]="10"
                            class="sticky mt-2 left-0"></mat-paginator>
                    </div>
                </div>
            </vex-page-layout>
        </vex-page-layout>

        <div class="w-full flex justify-center mt-4" *ngIf="loadingTableData">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>

    </div>