<div class="field">
    <div *ngIf="!isLoading">
    {{ primaryKeyContent?.content }}
    </div>

    <div *ngIf="isLoading">
        <div class="loading-spinner-primary">
            <mat-spinner [diameter]="25"></mat-spinner>
        </div>
    </div>

    <div *ngIf="!view" class="actions-buttons">
        <span dndHandle class="material-icons-outlined">
          drag_indicator
          </span>
          <span (click)="removeEmitted.emit(item)" style="color: rgb(218, 108, 108);" class="material-icons-outlined">
            clear
          </span>
      </div>
</div>