.form-content-component {
    padding: 1.5rem;
}

.table-container-overflow {
    overflow: auto;
    position: relative
}

@media print {
    @page {
        size: scalable;
    }
    .table-container-overflow {
        width: 50% !important;
        overflow-x: visible !important;
    }
}

::ng-deep .mat-tab-body-content {
    overflow-x: visible !important;
    width: 100% !important;
}

.actions-buttons {
    position: absolute;
    right: 1rem;
    bottom: -2.2rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid rgb(238, 238, 238)!important;
    padding: 0.5rem;
    transition: 0.2s all;
    & span {
        color: #499B90;
        // margin-left: 1rem;
        font-size: 1.2rem;
        cursor: pointer;
    }
    
    background-color: #fff;
    z-index: 20;
    display: flex;
    flex-direction: row!important;
    border-top: 1px solid transparent!important;
    opacity: 0;

}

.card {
    position: relative;
}

    .card:hover {
    
        & .actions-buttons {
            opacity: 1;
        }
    
        & .example-full-width {
            border: 1px solid #499b906e;
        }
    
        & .editor-menu-floating {
            display: block;
        }
    }

.field {
    position: relative;
    // padding: 0.3rem;
}