
<div class="card w-full cardBorder p-4">
                <div class="flex flex-col justify-between w-full mt-4 mb-2">

                    <vex-page-layout>
                        <vex-page-layout>
                            <div class="relative" id="print-section">
                                <exai-grid-item-table-header [selection]="selection" cdkOverlayOrigin
                                    #trigger="cdkOverlayOrigin" [showEditSelected]="showEditSelected"
                                    [formName]="formName" [showAddColumn]="true" [userCantChange]="userCantChange" [showTitle]="false"
                                    [searchCtrl]="searchCtrl" [allFilterValues]="allFilterValues" [columns]="columns"
                                    [columnsForFilter]="columns" [disableMergeButton]="disableMergeButton"
                                    [showIndex]="showMergeDataComponent"
                                    (clearFilterRulesEvent)="clearFilterRules($event)"
                                    (clearAllFiltersEvent)="clearAllFilters()" [searchValues]="searchValues"
                                     (downloadTableExcelFormatEvent)="downloadTableExcelFormat()"
                                    (mergeDataEvent)="mergeDataToggle($event)"
                                    (changeTableTextStyleEvent)="changeTableTextStyle($event)"
                                    (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)"
                                    (createTableEvent)="createTable($event)" (itemsActionEvent)="itemsAction($event)"
                                    (addRowEvent)="addRow()" (removeEvent)="remove($event)" (addEvent)="add($event)"
                                    (appendToSearchEvent)="appendToSearch($event)"
                                    (setVisibilityEvent)="setSummeryVisibility($event)"
                                    (createTableHeaderEvent)="createTableHeader()"></exai-grid-item-table-header>

                                <!-- <exai-merge-data class="merge-data" *ngIf="showMergeDataComponent" [data]="dataForMerge"
                                    cdkDragRootElement=".merge-data" cdkDragHandle
                                    (applyMergeDataValuesEvent)="mergeDataValues($event)"
                                    (unmergeDataValuesEvent)="unmergeDataValues($event)"
                                    (closeMergeDataComponentEvent)="closeMergeDataComponent()"></exai-merge-data> -->

                                <!-- This template displays the overlay content and is connected to the button -->
                                <ng-template cdkConnectedOverlay [cdkConnectedOverlayPositions]="positionPairs"
                                    [cdkConnectedOverlayOrigin]="trigger"
                                    [cdkConnectedOverlayOpen]="showMergeDataComponent">
                                    <exai-merge-data class="merge-data" *ngIf="showMergeDataComponent"
                                        [data]="dataForMerge" cdkDragRootElement=".merge-data" cdkDragHandle
                                        (applyMergeDataValuesEvent)="mergeDataValues($event)"
                                        (unmergeDataValuesEvent)="unmergeDataValues($event)"
                                        (closeMergeDataComponentEvent)="closeMergeDataComponent()"></exai-merge-data>

                                </ng-template>

                                <div id="table-container"
                                    class="table-container-overflow">
                                    <exai-grid-item-table [selection]="selection" [dataSource]="dataSource" [showConfirmRow]="false" [showMathOperationsColumn]="true" [tableHeaderRows]="tableHeaderRows"
                                        [selection]="selection" [cellValidators]="false" [readOnly]="false" [selectPrimaryKey]="true" [showTotalButton]="true"
                                        [editForm]="edit" [userCantChange]="userCantChange"
                                        [showIndex]="showMergeDataComponent" [templateColumns]="templateColumns"
                                        [isAllSelected]="isAllSelected()" [summeryAlwaysVisible]="summeryAlwaysVisible"
                                        [columns]="columns" [visibleColumns]="visibleColumns"
                                        [showErrorMessages]="false" [tableTextStyle]="tableTextStyle"
                                        [rowNumber]="rowNumber" [pageSize]="pageSize"
                                        [pageSizeOptions]="pageSizeOptions" (dropEvent)="drop($event)"
                                        (alignCellVerticallyEvent)="alignCellVertically($event)"
                                        (alignCellHorizontallyEvent)="alignCellHorizontally($event)"
                                        (masterToggleEvent)="masterToggle()" (itemActionEvent)="itemAction($event)"
                                        (confirmRowEvent)="confirmRow($event)"
                                        (addColumnNumberEvent)="addColumnToSide($event)"
                                        (editSelectableEvent)="editSelectable($event)"
                                        (createColumnDataEvent)="createColumnData($event)"
                                        (clearFilterRulesEvent)="clearFilterRules($event)"
                                        (updateRowFilesEvent)="uploadRowFiles($event)"
                                        (applyFiltersEvent)="checkWhatRowsToFilter($event.column, false, $event.filterValue, $event.filterType)"
                                        (deleteColumnEvent)="deleteColumn($event)"
                                        (editColumnEvent)="editColumn($event)"
                                        (checkboxCheckedEvent)="checkboxChecked($event)"
                                        (setLabelValuesEvent)="setLabelValues($event)"
                                        (openFileEvent)="openFile($event)"
                                        (toggleTotalEvent)="toggleTotal($event)"
                                        (updateTableValuesEvent)="updateTableValues()"
                                        (addHeaderNameEvent)="addHeaderName($event)" 
                                        (editHeaderEvent)="editHeader($event)"
                                        (removeHeaderRowEvent)="removeHeaderRow($event)">
                                    </exai-grid-item-table>

                                    <button class="w-full border add-row-button border-solid mt-2 sticky left-0 right-0"
                                        mat-button (click)="addRow()" matTooltip="Add Row">
                                        <mat-icon class="mr-2">add_circle</mat-icon> Add Row
                                    </button>

                                    <mat-paginator [length]="rowNumber.length" [pageSizeOptions]="pageSizeOptions"
                                        [pageSize]="10" class="sticky mt-2 left-0"></mat-paginator>
                                </div>
                            </div>
                        </vex-page-layout>
                    </vex-page-layout>

                </div>

                <div class="actions-buttons">
                    <span dndHandle class="material-icons-outlined">
                      drag_indicator
                      </span>
                      <span (click)="removeEmitted.emit(item)" style="color: rgb(218, 108, 108);" class="material-icons-outlined">
                        clear
                      </span>
                  </div>
                  
            </div>
