.field > div {
    display: flex;
    flex-direction: column;

    & label {
        margin-bottom: 0.8rem;
    }
}


.field {
    // padding: 0.5rem 1rem;
    padding: 0.3rem;
    position: relative;
}

.example-full-width {
    width: 100%;
}