<ng-container>
    <div class="center-loading" *ngIf="loadingDataForDropdown">
        <mat-progress-spinner [diameter]="30" class="spinner" color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>

    <div *ngIf="!loadingDataForDropdown">
        <form class="add-new-form" [formGroup]="formGroup">

            <mat-label>Name <span class="required-star">*</span></mat-label>
            <mat-form-field class="relative w-full" appearance="outline">
                <input formControlName="name" matInput [placeholder]="'Enter name'" required [maxlength]="75">
                <mat-hint [class.required-star]="this.formGroup.get('name').value?.length > 75">
                    {{this.formGroup.get('name').value?.length || 0}}/75</mat-hint>
                <mat-error>
                    <div *ngIf="formGroup.get('name').touched && formGroup.get('name').invalid"
                        class='invalid-feedback'>
                        <div *ngIf="formGroup.get('name').errors.noWhitespace">Only whitespace is not allowed.</div>
                    </div>
                    <div *ngIf="formGroup.get('name').touched && formGroup.get('name').invalid"
                        class='invalid-feedback'>
                        <div *ngIf="formGroup.get('name').errors.maxLength">Maximum number of characters is 75.
                        </div>
                    </div>
                </mat-error>
            </mat-form-field>

            <mat-label>Divisions <span class="required-star">*</span></mat-label>
            <mat-form-field class="w-full" appearance="outline">
                <mat-select #divisionSelect [compareWith]="selectComparision" [multiple]="true"
                    [placeholder]="'Select Divisions'" formControlName="division">
                    <mat-checkbox class="select-all" (change)="selectAll($event, 'division', divisionSelect)"
                        [checked]="divisionChacked">Select All
                    </mat-checkbox>
                    <ng-container>
                        <mat-option *ngFor="let option of divisions" [value]="option">{{option?.name}}
                        </mat-option>
                    </ng-container>

                </mat-select>
            </mat-form-field>

            <mat-label>Sub Divisions <span class="required-star">*</span></mat-label>
            <mat-form-field class="w-full" appearance="outline">
                <mat-select #subDivisionSelect [compareWith]="selectComparision" [multiple]="true"
                    [placeholder]="'Select Sub Divisions'" formControlName="subDivision">
                    <mat-checkbox class="select-all" (change)="selectAll($event, 'subDivision', subDivisionSelect)"
                        [checked]="subDivisionChacked">
                        Select All</mat-checkbox>
                    <ng-container>
                        <mat-option *ngFor="let option of filteredSubDivisions | async" [value]="option">
                            {{option?.name}}
                        </mat-option>
                    </ng-container>

                </mat-select>
            </mat-form-field>

            <mat-label>Police Stations <span class="required-star">*</span></mat-label>
            <mat-form-field class="w-full" appearance="outline">
                <mat-select #policeStationSelect [compareWith]="selectComparision" [multiple]="true"
                    [placeholder]="'Select Police Stations'" formControlName="policeStation">
                    <mat-checkbox class="select-all" (change)="selectAll($event, 'policeStation', policeStationSelect)"
                        [checked]="policeStationChacked">Select All
                    </mat-checkbox>
                    <ng-container>
                        <mat-option *ngFor="let option of filteredPoliceStations | async" [value]="option">
                            {{option?.name}}
                        </mat-option>
                    </ng-container>

                </mat-select>
            </mat-form-field>

            <ng-container *ngIf="!data.disableFormTypeInput">
                <mat-label>Form Types <span class="required-star">*</span></mat-label>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-select formControlName="formType" [disabled]="this.data.editing"
                        [placeholder]="'Select Type of Form'" required>
                        <mat-option *ngFor="let option of formTypeOptions$ | async" [value]="option.value">
                            {{option.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <ng-container *ngIf="formGroup.get('formType').value === 'Table'">
                    <ng-container *ngIf="data.editing == false && !data.cloneFormId">
                        <mat-label>Number Of Columns <span class="required-star">*</span></mat-label>
                        <mat-form-field class="relative w-full" appearance="outline">
                            <input formControlName="colNumber" matInput type="number" min="1"
                                [placeholder]="'Enter cols number'">
                        </mat-form-field>
                    </ng-container>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="formGroup.get('formType').value === 'Letter'">

                <mat-label>Prebuilt Template</mat-label>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-select formControlName="cloneFormId" [disabled]="this.data.editing"
                        [placeholder]="'Select Template'">
                        <mat-option [value]="null">None</mat-option>
                        <mat-option *ngFor="let option of prebuiltTemplates" [value]="option.id">{{option.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </ng-container>

            <div class="flex justify-between w-full" mat-dialog-actions>
                <button type="button" mat-button
                    (click)="onCancel()">{{this.languageService.language?.popup.cancel}}</button>
                <button type="submit" *ngIf="!isLoading" mat-button [disabled]="!formGroup.valid" color="primary"
                    (click)="onSubmitForm()">
                    {{data?.editing ?
                    this.languageService.language?.button.update :this.languageService.language?.popup.submit}}
                </button>

                <mat-progress-spinner *ngIf="isLoading" [diameter]="30" class="spinner mr-4" color="primary"
                    mode="indeterminate">
                </mat-progress-spinner>
            </div>

        </form>
    </div>
</ng-container>