.mat-button{
    border: 1px solid #eae8ed !important;
}
.display{
    display: grid !important ;
}

::ng-deep .add-new-form .mat-form-field-appearance-outline .mat-form-field-infix {
        padding-top: 0.4rem!important;
}

.select-all {
    padding-left: 16px;
    margin-bottom: 0.8rem;
    padding-top: 16px;
}

.loading-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: none;
}

.center-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}