.form-content-component {
    padding: 1.5rem;
}

.table-container-overflow {
    overflow: auto;
    position: relative
}

@media print {
    @page {
        size: scalable;
    }
    .table-container-overflow {
        width: 50% !important;
        overflow-x: visible !important;
    }
}

::ng-deep .mat-tab-body-content {
    overflow-x: visible !important;
    width: 100% !important;
}