<div class="card w-full cardBorder p-4">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon fontSet="material-icons-outlined" class="mr-3">edit</mat-icon>
                Create
            </ng-template>
            <ng-template matTabContent>
                <div class="flex flex-col justify-between w-full mt-4 mb-2">
                    <div class="flex w-full items-center justify-between mb-2 ">
                        <div>

                            <!-- START -  UPDATE WITH DROPDOWN

                                <button class="edit-dropdown mb-2 mr-4 filter">
                                <mat-form-field appearance="outline">
                                    <mat-label>Set Status</mat-label>
                                    <mat-select [(ngModel)]="initStatus">
                                        <mat-option value="draft">Save As Draft</mat-option>
                                        <mat-option value="publish">Publish</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </button>
                            <button mat-stroked-button color="primary" class="mb-2" [disabled]="updateDisabled"
                                (click)="updateData()">
                                Update
                            </button>
                            END - UPDATE WITH DROPDOWN -->

                            <button mat-stroked-button color="primary" class="mb-2 mr-2" [disabled]="updateDisabled"
                                (click)="updateData('Draft')">
                                Save As Draft
                            </button>
                            <button mat-stroked-button color="primary" class="mb-2" [disabled]="updateDisabled"
                                (click)="updateData('Publish')">
                                Publish
                            </button>

                            <button mat-stroked-button color="primary" class="ml-2 mb-2"
                                (click)="downloadTableExcelFormat()">
                                <mat-icon class="mr-2">download</mat-icon> Excel
                            </button>
                        </div>
                        <div>
                            <button mat-stroked-button class="mr-2" color="primary" (click)="cloneForm()">
                                <mat-icon class="mr-2">copy_all</mat-icon>Clone Table Form
                            </button>
                            <button (click)="printDocument()" mat-stroked-button class="mr-2" color="primary">
                                <mat-icon class="mr-2">print</mat-icon> Print
                            </button>
                            <button class="hidden" #print printSectionId="print-section" [printTitle]="formName"
                                [useExistingCss]="true" ngxPrint>
                                <mat-icon class="mr-2">print</mat-icon> Print
                            </button>
                            <button mat-stroked-button color="accent" (click)="cancelForm()">Cancel</button>

                        </div>
                    </div>

                    <vex-page-layout>
                        <vex-page-layout>
                            <div class="relative" id="print-section">
                                <exai-grid-item-table-header [selection]="selection" cdkOverlayOrigin [showConfirmSelectedButton]="false"
                                    #trigger="cdkOverlayOrigin" [showEditSelected]="showEditSelected"
                                    [formName]="formName" [showAddColumn]="true" [userCantChange]="userCantChange"
                                    [searchCtrl]="searchCtrl" [allFilterValues]="allFilterValues" [columns]="columns"
                                    [columnsForFilter]="columns" [disableMergeButton]="disableMergeButton"
                                    [showIndex]="showMergeDataComponent"
                                    (clearFilterRulesEvent)="clearFilterRules($event)"
                                    (clearAllFiltersEvent)="clearAllFilters()" [searchValues]="searchValues"
                                    (downloadTableExcelFormatEvent)="downloadTableExcelFormat()"
                                    (mergeDataEvent)="mergeDataToggle($event)"
                                    (changeTableTextStyleEvent)="changeTableTextStyle($event)"
                                    (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)"
                                    (createTableEvent)="createTable($event)" (itemsActionEvent)="itemsAction($event)"
                                    (addRowEvent)="addRow()" (removeEvent)="remove($event)" (addEvent)="add($event)"
                                    (appendToSearchEvent)="appendToSearch($event)"
                                    (setVisibilityEvent)="setSummeryVisibility($event)"
                                    (createTableHeaderEvent)="createTableHeader()"
                                    (mergeHeaderEvent)="mergeHeader()"></exai-grid-item-table-header>

                                <!-- <exai-merge-data class="merge-data" *ngIf="showMergeDataComponent" [data]="dataForMerge"
                                    cdkDragRootElement=".merge-data" cdkDragHandle
                                    (applyMergeDataValuesEvent)="mergeDataValues($event)"
                                    (unmergeDataValuesEvent)="unmergeDataValues($event)"
                                    (closeMergeDataComponentEvent)="closeMergeDataComponent()"></exai-merge-data> -->

                                <!-- This template displays the overlay content and is connected to the button -->
                                <ng-template cdkConnectedOverlay [cdkConnectedOverlayPositions]="positionPairs"
                                    [cdkConnectedOverlayOrigin]="trigger"
                                    [cdkConnectedOverlayOpen]="showMergeDataComponent">
                                    <exai-merge-data class="merge-data" *ngIf="showMergeDataComponent"
                                        [data]="dataForMerge" cdkDragRootElement=".merge-data" cdkDragHandle
                                        (applyMergeDataValuesEvent)="mergeDataValues($event)"
            
                                        (unmergeDataValuesEvent)="unmergeDataValues($event)"
                                        (closeMergeDataComponentEvent)="closeMergeDataComponent()"></exai-merge-data>

                                        <!-- <ng-template #mergeHeaders>
                                            
                                                <exai-merge-data class="merge-headers" 
                                                [data]="dataForMerge" cdkDragRootElement=".merge-headers" cdkDragHandle
                                                (applyMergeDataValuesEvent)="mergeHeaderValues($event)"
                                                (unmergeDataValuesEvent)="unmergeDataValues($event)"
                                                (closeMergeDataComponentEvent)="closeMergeHeadersComponent()"></exai-merge-data>
                                        </ng-template> -->

                                    
                                </ng-template>

                                <div [ngClass]="{'hide': loadingTableData }" id="table-container"
                                    class="table-container-overflow">
                                    <exai-grid-item-table [selection]="selection" [dataSource]="dataSource" [showConfirmRow]="false" [showMathOperationsColumn]="true"
                                        [selection]="selection" [cellValidators]="false" [readOnly]="true" [selectPrimaryKey]="true" [showTotalButton]="false" [tableHeaderRows]="tableHeaderRows"
                                        [editForm]="hasExistingRecords" [userCantChange]="userCantChange"
                                        [showIndex]="showMergeDataComponent" [templateColumns]="templateColumns"
                                        [isAllSelected]="isAllSelected()" [summeryAlwaysVisible]="summeryAlwaysVisible"
                                        [columns]="columns" [visibleColumns]="visibleColumns"
                                        [showErrorMessages]="false" [tableTextStyle]="tableTextStyle"
                                        [rowNumber]="rowNumber" [pageSize]="pageSize"
                                        [pageSizeOptions]="pageSizeOptions" (dropEvent)="drop($event)"
                                        (alignCellVerticallyEvent)="alignCellVertically($event)"
                                        (alignCellHorizontallyEvent)="alignCellHorizontally($event)"
                                        (masterToggleEvent)="masterToggle()" (itemActionEvent)="itemAction($event)"
                                        (confirmRowEvent)="confirmRow($event)"
                                        (addColumnNumberEvent)="addColumnToSide($event)"
                                        (editSelectableEvent)="editSelectable($event)"
                                        (createColumnDataEvent)="createColumnData($event)"
                                        (clearFilterRulesEvent)="clearFilterRules($event)"
                                        (updateRowFilesEvent)="uploadRowFiles($event)"
                                        (applyFiltersEvent)="checkWhatRowsToFilter($event.column, false, $event.filterValue, $event.filterType)"
                                        (deleteColumnEvent)="deleteColumn($event)"
                                        (editColumnEvent)="editColumn($event)"
                                        (checkboxCheckedEvent)="checkboxChecked($event)"
                                        (setLabelValuesEvent)="setLabelValues($event)"
                                        (toggleTotalEvent)="toggleTotal($event)"
                                        (addHeaderNameEvent)="addHeaderName($event)" 
                                        (editHeaderEvent)="editHeader($event)"
                                        (removeHeaderRowEvent)="removeHeaderRow($event)">
                                    </exai-grid-item-table>

                                    <button class="w-full border add-row-button border-solid mt-2 sticky left-0 right-0"
                                        mat-button (click)="addRow()">
                                        <mat-icon class="mr-2">add_circle</mat-icon> Add Row
                                    </button>

                                    <mat-paginator [length]="rowNumber.length" [pageSizeOptions]="pageSizeOptions"
                                        [pageSize]="10" class="sticky mt-2 left-0"></mat-paginator>
                                </div>
                            </div>
                        </vex-page-layout>
                    </vex-page-layout>

                    <div class="w-full flex justify-center mt-4" *ngIf="loadingTableData">
                        <mat-progress-spinner color="primary" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>

                </div>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon fontSet="material-icons-outlined" class="mr-3">check_circle</mat-icon>Approve/Reject
            </ng-template>
            <ng-template matTabContent>
                <div class="form-content-component">
                    <app-form-builder-approve-reject *ngIf="loadedData; else loading"></app-form-builder-approve-reject>
                    <ng-template #loading>
                        <div class="loading-spinner">
                            <mat-spinner [diameter]="70"></mat-spinner>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>