<!-- <div class="hero-copy">
    <div *ngIf="userService.userLoggedIn">
        <div class="container-sm">
            <h1 style="font-size: 1.7rem;" class="hero-title h2-mobile mt-0">
                Welcome to Application Karnataka Police.
            </h1>
            <p class="hero-paragraph ">This is an app to aid you in sharing data and 
                info between different heirarchies of the Karnataka State Police</p>
        </div>
        <button matRipple matButton (click)="redirect()" class="button button-primary button-shadow mat-elevation-z15 main-body button-sp">
            Go To Dashboard <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
    <div *ngIf="!userService.userLoggedIn">
        <div class="container-sm">
            <h1 style="font-size: 1.7rem;" class="hero-title h2-mobile mt-0">
                Welcome to Application Karnataka Police.
            </h1> -->
            <!-- <p class="hero-paragraph ">This system is built off of the Item Response theory, and incorporates mock steps of
                Item Generation and Item Set Caliberation, followed bby which actual tests can be conducted using the
                caliberated Item Set.</p> -->
        <!-- </div>
        <mat-card style="border-radius:12px; border: 1px solid black;">
            <p class="hero-paragraph" style="font-size:1.2rem">
                {{ isNewUser ? 'Register' : 'Login'}}
            </p>
            <form [formGroup]="regLoginForm">
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Username</mat-label>
                    <input type="text" autocomplete="off"placeholder="Username" formControlName="Username" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Password</mat-label>
                    <input type="password" autocomplete="off" placeholder="Password" formControlName="Password" matInput>
                </mat-form-field>
            </form>
            <button matRipple matButton (click)="registerORlogin()"
                class="button button-primary button-shadow mat-elevation-z8 main-body ">
                {{ isNewUser ? 'Register' : 'Login'}}
            </button>
            <p style="font-size:0.9rem; margin-top:20px">{{ !isNewUser ? 'New User': 'Existing User'}} ? Click <strong style="cursor: pointer;"(click)="isNewUser=!isNewUser">Here</strong></p>
        </mat-card>
    </div>
</div> -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid px-0">
      <div class="row w-100">
        <div class="col-2">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" (click)="isShown = !isShown" >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
  
        <div class="col-10">
          <div class="collapse justify-content-end navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarTogglerDemo03">
            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item active">
                <a routerLink="/location" routerLinkActive="active">Locations</a>
              </li>
              <li class="nav-item">
                <a routerLink="/subdivision" routerLinkActive="active">Subdivisions</a>
              </li>
              <li class="nav-item">
                <a routerLink="/policestation" routerLinkActive="active">PoliceStaions</a>
              </li>
              <li class="nav-item">
                <a routerLink="/usermapping" routerLinkActive="active">User Management</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
<!-- 
	<nav>
        <a routerLink="/location" routerLinkActive="active">Locations</a>
        <a routerLink="/subdivision" routerLinkActive="active">Subdivisions</a>
        <a routerLink="/policestation" routerLinkActive="active">PoliceStaions</a>
        <a routerLink="/usermapping" routerLinkActive="active">User Management</a>
	</nav> -->

