<ng-container *ngIf="{
    prebuiltTemplates: prebuiltTemplates$ | async
} as obs">
<div>
    <div class="flex justify-between" fxLayout="auto">
        <div class="flex justify-start">
            <h1 mat-dialog-title>Cloning Template</h1>
        </div>
        <div class="flex justify-end" (click)="onCancel()">
            <mat-icon class="cursor-pointer">close</mat-icon>
        </div>
    </div>

    <div>

        <div class="center-loading" *ngIf="loadingDataForDropdown">
            <mat-progress-spinner [diameter]="30" class="spinner" color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>

        <form  *ngIf="!loadingDataForDropdown" class="add-new-form" [formGroup]="formGroup">
            
            <mat-label>Template List <span class="required-star">*</span></mat-label>
            <mat-form-field class="w-full" appearance="outline">
                <mat-select formControlName="templateId" [placeholder]="'Select Template'" required>
                    <mat-option *ngFor="let option of obs.prebuiltTemplates" [value]="option.id">{{option.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <div *ngIf="formGroup.get('templateId').touched && formGroup.get('templateId').invalid"
                        class='invalid-feedback'>
                        <div *ngIf="formGroup.get('templateId').errors.required">
                            Template is required.</div>
                    </div>
                </mat-error>
            </mat-form-field>


            <div class="flex justify-between w-full" mat-dialog-actions>
                <button mat-button (click)="onCancel()">{{this.languageService.language?.popup.cancel}}</button>
                <button *ngIf="!isLoading" mat-button color="primary" (click)="onSubmitForm()">
                    Clone
                </button>
                <mat-progress-spinner *ngIf="isLoading" [diameter]="30" class="spinner mr-4" color="primary"
                    mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </form>
    </div>
</div>
</ng-container>