::ng-deep .chart-legend ul li span{
    height: 10px;
    width: 20px;
    display: inline-block;
    border-radius: 15%;
    margin-right: 5px;
    margin-bottom: -1px;
}

::ng-deep .chart-legend ul li{
    color: rgb(95, 95, 95);
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    overflow: hidden;
    width: 10rem;
    font-size: 0.75rem;
}

::ng-deep .chart-legend ul {
    max-height: 210px;
    overflow-y: auto;
}

::ng-deep .chartPadding{
    padding: 1rem 0 1rem 0;
    color: rgb(93, 173, 226);
    color: rgba(141, 238, 255, 0.525)
}

.canvas-height {
    height:100%;
}

.chartPadding {
    height: 150px;
}


h3 {
    color: rgb(91, 91, 91);
    font-size: 0.85rem;
}

.chartPadding {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.top-chart-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9b3;
    padding: 0.2rem 1rem;
    padding-right: 0.2rem;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    & mat-icon {
        color: rgb(171, 171, 171);
        font-size: 0.95rem;
    }

    & h3 {
        font-size: 0.9rem;
        color: rgb(117, 117, 117);
    }
}

.no-data-custom {
    text-align: center;

    & mat-icon {
        height: 3rem;
        width: 3rem;
        font-size: 3rem;
        color: rgb(193, 193, 193);
    }
    & h3 {
        color: rgb(163, 163, 163);

    }
}