<div class="top-chart-part">
    <h3>{{chartTitle}}</h3>
    <button [routerLink]="linkTo" mat-icon-button>
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>
<div class="chartPadding">

    <div class="no-data-custom" *ngIf="!chartOptions?.labels || !chartOptions?.labels.length; else chartDoughnut">

        <mat-icon>
            donut_large
        </mat-icon>

        <h3>No Data</h3>
    </div>

    <ng-template #chartDoughnut>

    <div class="canvas-height">
        <canvas #chartObject baseChart
                    [data]="chartOptions?.series"
                    [labels]="chartOptions?.labels"
                    [chartType]="chartType"
                    [colors]="doughnutChartColors"
                    [options]="options">
            </canvas>
      </div>
    
    </ng-template>
    
      <div [id]="chartId" class="chart-legend">
    </div>
</div>