.file-drop-area {
    border: 1px solid #dadada;
    border-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 0.5rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  .file-drop-area.is-active {
    background-color: #3F4069;
  }
  
  .file-msg {
    font-size: small;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: calc(100% - 130px);
    vertical-align: middle;
  }
  
  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
  
  .file-input:focus {
    outline: none;
  }

  .example-full-width {
    border: 1px solid transparent;
    padding: 0.5rem;
    transition: 0.2s all;
  }

  .example-full-width.insideForm:hover {
    border: none;
  }

  .example-full-width.insideForm {
    border: none;
    padding: 0;
  }

.disabledForm {
  opacity: 0.6;
}

.search-file {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-file-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.background-overlay-search {
  height: 2.5rem;
  width: calc(100% + 4rem);
  position: absolute;
  bottom: -0.5rem;
  background-color: rgba(20, 20, 20, 0.705);
  filter: blur(15px);
  left: -2rem;
}

.span {
  vertical-align: text-top;
}