<div class="example-full-width flex flex-col justify-center">
    <div class="file-drop-area" *ngIf="showInput">
        <button type="button" mat-raised-button color="primary" class="mr-2">Choose file</button>

        <span class="file-msg mr-4">or drag and drop file here</span>

        <input class="file-input mr-4" type="file" [multiple]="true" [title]="enteredFiles" (change)="emitFiles($event.target.files)"
            [accept]="fileTypes.join(',')">

        <mat-spinner *ngIf="loading" lass="spinner mr-8" [diameter]="30"></mat-spinner>
    </div>

    <div *ngIf="files && files.length" class="search-file  mt-4">
        <div *ngFor="let file of files; let index = index" class="search-file-group ">
            <div class=" flex items-center " color="primary" [ngStyle]="{'justify-content': _filePositioning}">
                <ng-container *ngIf="file">
                    <div *ngIf="file.type && file.type === 'image'; else link" class="droppedImage">
                        <div class="search-file">
                            <div class="search-file-group">
                                <div class="image-preview">
                                    <img (click)="openPictureDialog(file)" [src]="file.imageContent" width="300" class="mb-2 cursor-pointer" matTooltip="View Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #link>
                        <a class="flex items-center cursor-pointer"(click)="viewFile(file)" [queryParams]="{url: file.url}">
                            <mat-icon class="mr-2" color="primary">link</mat-icon> <span
                                class="underline hover:underline-offset-4">{{ file.name }}</span>
                        </a>
                    </ng-template>
                </ng-container>
                <mat-icon class="ml-4" color="primary" *ngIf="showCancelButton && file" (click)="remove(index)">cancel</mat-icon>
            </div>
        </div>
    </div>
</div>