<div class="" gdColumns="1fr" gdColumns.lt-md="1fr" gdColumns.lt-sm="1fr" gdGap="12px" exaiContainer>
    <div class="card shadow-none w-full pb-1" gdColumn="1 / -1" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1">
        <div class="flex justify-between" fxLayout="row">
            <div class="flex justify-center text submit" fxLayout="column">
                <h3>{{ title }}</h3>
            </div>
            <div class="flex justify-end cursor-pointer" fxLayout="column" mat-dialog-close (click)="cancel()">
                <mat-icon>close</mat-icon>
            </div>
        </div>
    </div>
    <div class="center-loading" *ngIf="loadingData">
        <mat-progress-spinner [diameter]="30" class="spinner" color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <div class="form-wrapper" *ngIf="!loadingData">
        <form [formGroup]="generatedForm" (ngSubmit)="submitForm()">
            <ng-template #recursiveList let-list>
                <div style="width: 100%;" *ngFor="let item of list">
                    <div *ngIf="item.content" class="dnd-content">
                        {{ item.content }}
                    </div>
                    <ng-container [ngSwitch]="item.elementType">
                        <div *ngSwitchCase="'form'">
                            <app-form-builder-approve-reject-control [hidden]="item.hide" [formControlName]="item.id"
                                [itemData]="item">
                            </app-form-builder-approve-reject-control>
                        </div>
                        <div *ngSwitchCase="'table'">
                            <exai-form-builder-element-table [item]="item" [view]="true">
                            </exai-form-builder-element-table>
                        </div>
                        <div *ngSwitchCase="'cancel'">
                            <button class="w-1/2" *ngIf="item.buttonType === 'cancel'" type="click" mat-stroked-button
                                color="warn" (click)="cancel()">Cancel</button>
                        </div>
                        <div *ngSwitchCase="'button'">
                            <button class="w-1/2 float123" *ngIf="item.buttonType === 'submit'"
                                [disabled]="!generatedForm.valid" type="submit" mat-raised-button color="primary">{{
                                buttonTitle }}</button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="item.html">
                        <div class="html" [innerHtml]="item.html | sanitizeHtml"></div>
                    </ng-container>
                    <ng-container *ngIf="item?.children">
                        <div [class]="item.class">
                            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }">
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </ng-template>
            <div class="generalDropzone">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: pageTemplate }"></ng-container>
            </div>
        </form>
    </div>
</div>