<div class="form-wrapper">

  <form [formGroup]="generatedForm" (ngSubmit)="submitForm()">
    <ng-template #recursiveList let-list>
  
      <div style="width: 100%;" *ngFor="let item of list">
  
        <div *ngIf="item.content" class="dnd-content">
          {{ item.content }}
        </div>
  
        <ng-container [ngSwitch]="item.elementType">
  
          
          <div *ngSwitchCase="'form'">
            <app-form-builder-control [hidden]="item.hide" [formControlName]="item.id" [itemData]="item"></app-form-builder-control>
          </div>

          <div *ngSwitchCase="'table'">
            <exai-form-builder-element-table [item]="item" [view]="true"></exai-form-builder-element-table>
          </div>
            
          <div class="example-full-width" *ngSwitchCase="'button'">
            <button class="submit-button" *ngIf="item.buttonType === 'submit'" [disabled]="!generatedForm.valid" type="submit" mat-raised-button color="primary">Submit</button>
          </div>
  
        </ng-container>
  
        <ng-container *ngIf="item.html">
          <div class="html" [innerHtml]="item.html | sanitizeHtml"></div>
        </ng-container>
  
        <ng-container *ngIf="item?.children">
          
          <div [class]="item.class" class="layout-padding">
            
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
  
          </div>
  
  
        </ng-container>
  
  
      </div>
  
    </ng-template>
  
    <div class="generalDropzone">
  
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: pageBuilder }"></ng-container>
  
    </div>
  </form>

  </div>
  