<div [ngClass]="{ 'move-zoom-in': isFooterFixed$ | async }" class="zoom-in-slider">
    <mat-icon [matTooltip]="'Zoom out'" class="mr-1" (click)="zoom('out')">zoom_out</mat-icon>
    
    <mat-slider #slider
    class="example-margin"
    [max]="100"
    [(ngModel)]="zoomValue"
    (change)="changeZoomValue($event)">
</mat-slider>

<mat-icon class="ml-1" [matTooltip]="'Zoom in'" (click)="zoom('in')">zoom_in</mat-icon>
</div>