.zoom-in-slider {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    // width: 7rem;
    background-color: #fff;
    padding: 0.2rem 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    z-index: 110;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & mat-icon {
        color: rgb(123, 123, 123)!important;
        cursor: pointer!important;
    }

    & .mat-slider-horizontal {
        min-width: 200px;
    }
}

.zoom-in-slider.move-zoom-in {
    bottom: 5rem;
}