.field {
    position: relative;
    padding: 0.3rem;
}

.actions-buttons {
    position: absolute;
    right: 1rem;
    bottom: -2.2rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid rgb(238, 238, 238)!important;
    padding: 0.5rem;
    transition: 0.2s all;
    & span {
        color: #499B90;
        // margin-left: 1rem;
        font-size: 1.2rem;
        cursor: pointer;
    }
    
    background-color: #fff;
    z-index: 20;
    display: flex;
    flex-direction: row!important;
    border-top: 1px solid transparent!important;
    opacity: 0;

}

.field:hover {
    
    & .actions-buttons {
        opacity: 1;
    }

    & .example-full-width {
        border: 1px solid #499b906e;
    }

    & .editor-menu-floating {
        display: block;
    }
}

.center-l {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(247, 247, 247, 0.568);
}

.field-actions-excel {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.date-saved {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    & mat-icon {
        color: rgb(170, 170, 170);
        margin-right: 0.4rem;
    }

    color: rgb(170, 170, 170);
}