<div class="field">
  <div class="field-actions-excel mb-2 mt-2">
  <button *ngIf="!view" type="button" mat-raised-button color="primary"
    (click)="saveExcelTable()">Save Table</button>
  <button *ngIf="view" type="button" mat-raised-button color="primary"
    (click)="saveEnteredData()">Save Entered Data</button>
  <h3 class="ml-4">{{ item.label }}</h3>

  <div class="date-saved" *ngIf="isSaved"><mat-icon>save</mat-icon> {{ savedDate | date: 'shortTime' }}</div>
</div>
  <ejs-spreadsheet [openUrl]="openUrl" [allowOpen]="true" #default>
  </ejs-spreadsheet>

  <div class="center-l" *ngIf="isLoading">
    <mat-progress-spinner [diameter]="30" color="accent" mode="indeterminate">
    </mat-progress-spinner>
</div>

  <div *ngIf="!view" class="actions-buttons">
    <span class="material-icons-outlined" exaiPopoverDirective [popoverTrigger]="popover">
      settings
    </span>
    <span *ngIf="!item.disable" dndHandle class="material-icons-outlined">
      drag_indicator
    </span>
    <span *ngIf="!item.disableDelete" (click)="removeEmitted.emit(item)" style="color: rgb(218, 108, 108);"
      class="material-icons-outlined">
      clear
    </span>
  </div>
</div>

<ng-template #popover>
  <exai-form-builder-excel-settings [item]="item"></exai-form-builder-excel-settings>
</ng-template>