<div class="logo m-4">
  <img src="../../../assets/img/demo/ER-logo-f.svg" alt="ExamRoom_Logo">
</div>
<div class="w-full h-full login bg-pattern">
    <div class="card overflow-hidden w-full max-w-xs">
      <div class="p-6 pb-0">
        <div class="login fill-current text-center">
          <img class="w-16" src="https://cracku.in/latest-govt-jobs/wp-content/uploads/2020/05/Karnataka-Police-Logo.png">
        </div>
      </div>
  
      <div [formGroup]="form" class="p-6">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{this.languageService.language?.login.user_name}}</mat-label>
            <input formControlName="userName" matInput required>
            <mat-error *ngIf="form.get('userName').hasError('required')">{{this.languageService.language?.error.need_email}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{this.languageService.language?.popup.password}}</mat-label>
            <input (keyup.enter)="login()" [type]="inputType" formControlName="password" matInput required>
            <button (click)="toggleVisibility()" mat-icon-button matSuffix type="button">
              <mat-icon *ngIf="visible; else notVisible">visibility</mat-icon>
              <ng-template #notVisible>
                <mat-icon *ngIf="!visible">visibility_off</mat-icon>
              </ng-template>
            </button>
            <mat-error *ngIf="form.get('password').hasError('required')">{{this.languageService.language?.error.log_pass}}</mat-error>
           </mat-form-field>
        </div>

        <div class="flex justify-end"> 
          <a [routerLink]="['forgot-password']" >{{this.languageService.language?.login.forg_pass}}</a> 
        </div
        >
        <div class="flex items-center">
          <button (click)="login()" color="primary" mat-raised-button type="button" [disabled]='!form.valid || isLoading'>
            {{this.languageService.language?.button.sign_in}}
          </button>
            <mat-progress-spinner *ngIf="isLoading"
            [diameter]="30" class="ml-4" color="primary" mode="indeterminate">
      </mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  