<div class="card w-full cardBorder p-4">

    <div class="flex flex-col justify-between w-full mb-2">
        <div class="flex w-full items-center justify-between mb-2">
            <div>
                <button mat-stroked-button color="primary" class="mb-2" [disabled]="canUpdate" (click)="updateRecord()">
                    Update
                </button>
                <button mat-stroked-button color="primary" class="ml-2 mb-2" (click)="downloadTableExcelFormat()">
                    <mat-icon class="mr-2">download</mat-icon> Excel
                </button>
            </div>

            <div class="flex items-center">
                <div class="flex items-center" *ngIf="currentStatus !== 'Draft'">
                    <button mat-stroked-button color="primary" class="mr-2"
                        [disabled]="currentStatus === 'Approved' || currentStatus === 'Rejected'"
                        (click)="submitStatusV1(httpService.currentRecord, 'approve')">Approve</button>
                    <button mat-stroked-button color="accent" class="mr-2" [disabled]="currentStatus === 'Rejected'"
                        (click)="submitStatusV1(httpService.currentRecord, 'reject')">Reject</button>
                </div>
                <div>
                    <button (click)="printDocument()" mat-stroked-button class="mr-2" color="primary">
                        <mat-icon class="mr-2">print</mat-icon> Print
                    </button>
                    <button class="hidden" #print printSectionId="print-section" [printTitle]="recordName"
                        [useExistingCss]="true" ngxPrint>
                        <mat-icon class="mr-2">print</mat-icon> Print
                    </button>
                    <button mat-stroked-button color="accent" (click)="cancelForm()">Cancel</button>
                </div>
            </div>
        </div>

        <vex-page-layout>
            <vex-page-layout>
                <div class="relative" id="print-section">

                    <exai-grid-item-table-header [selection]="selection" [showEditSelected]="showEditSelected"
                        [showEditSelectedButton]="showEditSelectedButton" [showAddColumn]="false"
                        [formName]="recordName" [userCantChange]="userCantChange" [searchCtrl]="searchCtrl"
                        [allFilterValues]="allFilterValues" [showMergeButton]="showMergeButton" [columns]="columns"
                        [disableMergeButton]="disableMergeButton" [columnsForFilter]="columnsForFilter"
                        (clearFilterRulesEvent)="clearFilterRules($event)" (clearAllFiltersEvent)="clearAllFilters()"
                        [searchValues]="searchValues" (addNewFormEvent)="addNewFormHandler()"
                        (downloadTableExcelFormatEvent)="downloadTableExcelFormat()"
                        (changeTableTextStyleEvent)="changeTableTextStyle($event)"
                        (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)"
                        (createTableEvent)="createTable($event)" (itemsActionEvent)="itemsAction($event)"
                        (addRowEvent)="addRow()" (removeEvent)="remove($event)" (addEvent)="add($event)"
                        (appendToSearchEvent)="appendToSearch($event)"
                        (setVisibilityEvent)="setSummeryVisibility($event)"></exai-grid-item-table-header>

                    <div [ngClass]="{'hide': loadingTableData }" id="table-container" class="table-container-overflow">
                        <exai-grid-item-table [selection]="selection" [dataSource]="dataSource" [selection]="selection" 
                            [selectPrimaryKey]="false" [showThOptions]="false" [userCantChange]="userCantChange" [tableHeaderRows]="tableHeaderRows" [showEditHeader]="false"
                            [showMathOperationsColumn]="true" [showTotalButton]="true"
                            [showIndex]="showMergeDataComponent" [showEditDropdownButton]="false"
                            [isAllSelected]="isAllSelected()" [summeryAlwaysVisible]="summeryAlwaysVisible"
                            [columns]="columns" [showAlignButton]="false" [visibleColumns]="visibleColumns"
                            [tableTextStyle]="tableTextStyle" [rowNumber]="rowNumber" [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions" (dropEvent)="drop($event)"
                            (addEditPoliceStationEvent)="addEditPoliceStationHandler($event)"
                            (updateFormEvent)="updateFormHandler($event)" (masterToggleEvent)="masterToggle()"
                            (updateRowFilesEvent)="uploadRowFiles($event)" (itemActionEvent)="itemAction($event)"
                            (confirmRowEvent)="confirmRow($event)" (createColumnDataEvent)="createColumnData($event)"
                            (disableEvent)="disableHandler($event)" (clearFilterRulesEvent)="clearFilterRules($event)"
                            (applyFiltersEvent)="checkWhatRowsToFilter($event.column, false, $event.filterValue, $event.filterType)"
                            (deleteColumnEvent)="deleteColumn($event)" (editColumnEvent)="editColumn($event)"
                            (checkboxCheckedEvent)="checkboxChecked($event)"
                            (setLabelValuesEvent)="setLabelValues($event)" (openFileEvent)="openFile($event)"
                            (toggleTotalEvent)="toggleTotal($event)">
                        </exai-grid-item-table>

                        <button class="w-full border add-row-button border-solid mt-2 sticky left-0 right-0"
                            *ngIf="!canUpdate" mat-button (click)="addRow()">
                            <mat-icon class="mr-2">add_circle</mat-icon> Save and Add New Record
                        </button>

                        <mat-paginator [length]="rowNumber.length" [pageSizeOptions]="pageSizeOptions" [pageSize]="10"
                            class="sticky mt-2 left-0"></mat-paginator>
                    </div>
                </div>
            </vex-page-layout>
        </vex-page-layout>

        <div class="w-full flex justify-center mt-4" *ngIf="loadingTableData">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>

        <div class="form-items">
            <div class="form-builder-menu-content">
                <exai-form-status-history></exai-form-status-history>
            </div>
        </div>

    </div>