.hide {
    display: none;
  }
  
  .table-container-overflow {
    overflow: auto;
    position: relative
}

@media print {
    .table-container-overflow {
        overflow: visible !important;
    }
}