<div
  [ngStyle]="{'transform': positionStyles, 'width.px': item.styles.width, 'height.px': item.styles.height }"
  (click)="elementFocus = true" (resizeEnd)="resizeEndEvent($event)" (dragging)="draggingEvent($event)"
  [ngClass]="{ 'focused-element': elementFocus }" (clickOutside)="elementFocus = false" exaiMoveable
  [container]="container" class="moavable-element card-input">

  <div exaiPopoverDirective [style.display]="allowInputTyping ? 'none' : 'block'" [popoverTrigger]="popover"
    [dblClick]="true" class="overlay-input">

  </div>
  <ng-container [ngSwitch]="item.type">

    <ng-container *ngSwitchCase="'text'">
      <input *ngIf="item.mask" [mask]="item.mask" [style.borderRadius.px]="item.styles.borderRadius"
        [style.borderColor]="item.styles.borderColor" [style.color]="item.styles.textColor"
        [style.backgroundColor]="item.styles.backgroundColor" [placeholder]="item.placeholder"
        [style.padding.px]="item.styles.paddingSize" [style.fontSize.px]="item.styles.fontSize" type="text">

      <input *ngIf="!item.mask" [style.borderRadius.px]="item.styles.borderRadius"
        [style.borderColor]="item.styles.borderColor" [style.color]="item.styles.textColor"
        [style.backgroundColor]="item.styles.backgroundColor" [placeholder]="item.placeholder"
        [style.padding.px]="item.styles.paddingSize" [style.fontSize.px]="item.styles.fontSize" type="text">
    </ng-container>

    <!-- <ng-container *ngSwitchCase="'date'">
      <input [placeholder]="item.placeholder" type="date">
    </ng-container> -->

  </ng-container>

  <div *ngIf="elementFocus" class="element-actions">
    <ul>
              
      <li class="duplicate_element" (click)="duplicateElementEmitted.emit(item)">
        <mat-icon>content_copy</mat-icon>
      </li>
      
      <li (click)="removeEmitted.emit(item)">
        <mat-icon>delete</mat-icon>
      </li>
    </ul>
  </div>
</div>

<ng-template #popover>
  <exai-card-builder-input-settings style="position: relative;" exaiMoveable [draggableOnly]="true" [item]="item">
  </exai-card-builder-input-settings>
</ng-template>