.card-input {
    padding: 0.2rem;
    border-radius: 6px;
    transition: 0.2s outline;
    &:hover {

        outline: 1px solid #90bde3;
        outline-offset: 3px;
    }

}

.moavable-element {
    position: absolute;
}

input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 1px solid rgb(240, 240, 240);   
    display: block;
    box-sizing: border-box;
}

.overlay-input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
}

.focused-element {
    outline: 1px solid #90bde3;
    outline-offset: 3px;
}

.element-actions {
    bottom: -1.9rem;
    right: 0;
    & ul {
        display: flex;
        align-items: center;
    }
    
    & mat-icon {
        color: rgb(250, 103, 103);
        font-size: 0.9rem;
        height: 0.9rem;
        width: 0.9rem;
        cursor: pointer;
        margin-left: 0.3rem;
    }
    position: absolute;
}

.duplicate_element {
    mat-icon {
        color: rgb(129, 129, 129);
    }
}