<div class="card w-full cardBorder p-4">

    <div class="flex justify-between w-full mb-2">
        <div>
            <button mat-stroked-button *ngIf="canEdit && currentUserRecord" color="primary" class="mb-2"
                [disabled]="updateDisabled" (click)="updateRecord()">
                Update
            </button>
            <button mat-stroked-button color="primary" class="ml-2 mb-2"
                (click)="downloadTableExcelFormat()">
                <mat-icon class="mr-2">download</mat-icon> Excel
            </button>
        </div>
        <div>

            <button (click)="printDocument()" mat-stroked-button class="mr-2" color="primary">
                <mat-icon class="mr-2">print</mat-icon> Print
            </button>
            <button class="hidden" #print printSectionId="print-section" [printTitle]="recordName"
                [useExistingCss]="true" ngxPrint>
                <mat-icon class="mr-2">print</mat-icon> Print
            </button>
            <button class="hidden" #print mat-stroked-button color="primary" printSectionId="print-section"
                [printTitle]="recordName" [useExistingCss]="true" ngxPrint>
                <mat-icon class="mr-2">print</mat-icon> Print
            </button>
            <button mat-stroked-button color="accent" (click)="cancelForm()">Cancel</button>
        </div>
    </div>

    <vex-page-layout>
        <vex-page-layout>
            <div class="relative" id="print-section">
                <exai-grid-item-table-header [selection]="selection" [showEditSelected]="showEditSelected" [showAddRowButton]="canEdit && currentUserRecord"
                    [formName]="recordName" [columnsForFilter]="columnsForFilter" [userCantChange]="userCantChange"
                    [searchCtrl]="searchCtrl" [allFilterValues]="allFilterValues" [columns]="columns"
                    [showAddColumn]="false" [disableMergeButton]="disableMergeButton" [showMergeButton]="false"
                    (clearFilterRulesEvent)="clearFilterRules($event)" (clearAllFiltersEvent)="clearAllFilters()"
                    [searchValues]="searchValues" (downloadTableExcelFormatEvent)="downloadTableExcelFormat()"
                    (mergeDataEvent)="mergeDataToggle()" (changeTableTextStyleEvent)="changeTableTextStyle($event)"
                    (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)"
                    (createTableEvent)="createTable($event)" (itemsActionEvent)="itemsAction($event)"
                    (addRowEvent)="addRow()" (removeEvent)="remove($event)" (addEvent)="add($event)"
                    (appendToSearchEvent)="appendToSearch($event)" (setVisibilityEvent)="setSummeryVisibility($event)">
                </exai-grid-item-table-header>

                <exai-merge-data *ngIf="showMergeDataComponent" [data]="dataForMerge"
                    (applyMergeDataValuesEvent)="mergeDataValues($event)"
                    (closeMergeDataComponentEvent)="closeMergeDataComponent()"></exai-merge-data>

                <div [ngClass]="{'hide': loadingTableData }" id="table-container" class="table-container-overflow">
                    <exai-grid-item-table [selection]="selection" [dataSource]="dataSource" [selection]="selection" [tableHeaderRows]="tableHeaderRows"
                        [activateHideFromUser]="true" [userCantChange]="userCantChange" [selectPrimaryKey]="false" [showEditHeader]="false"
                        [showIndex]="showMergeDataComponent" [isAllSelected]="isAllSelected()"
                        [summeryAlwaysVisible]="summeryAlwaysVisible" [columns]="columns" [activateHideFromUser]="true" [showEditDropdownButton]="false"
                        [visibleColumns]="visibleColumns" [tableTextStyle]="tableTextStyle" [rowNumber]="rowNumber"
                        [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (dropEvent)="drop($event)"
                        (updateRowFilesEvent)="uploadRowFiles($event)" (masterToggleEvent)="masterToggle()"
                        (itemActionEvent)="itemAction($event)" (confirmRowEvent)="confirmRow($event)"
                        (createColumnDataEvent)="createColumnData($event)"
                        (clearFilterRulesEvent)="clearFilterRules($event)"
                        (applyFiltersEvent)="checkWhatRowsToFilter($event.column, false, $event.filterValue, $event.filterType)"
                        (deleteColumnEvent)="deleteColumn($event)" (editColumnEvent)="editColumn($event)"
                        (checkboxCheckedEvent)="checkboxChecked($event)" (setLabelValuesEvent)="setLabelValues($event)">
                    </exai-grid-item-table>

                    <!-- <button hidden class="w-full border add-row-button border-solid mt-2 sticky left-0 right-0 "
                        *ngIf="canEdit && currentUserRecord" mat-button (click)="addRow()">
                        <mat-icon class="mr-2">add_circle</mat-icon> Save and Add New Record
                    </button> -->

                    <mat-paginator [length]="rowNumber.length" [pageSizeOptions]="pageSizeOptions" [pageSize]="10"
                        class="sticky mt-2 left-0"></mat-paginator>
                </div>
            </div>
        </vex-page-layout>
    </vex-page-layout>

    <div class="w-full flex justify-center mt-4" *ngIf="loadingTableData">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>

</div>