<div class="field">
    <span *ngIf="item.buttonType === 'cancel'; else submit">
        <div [class]="item.parentClass">
            <button [class]="item.className" mat-stroked-button [color]="item.color">Cancel</button>
        </div>
    </span>
    <ng-template #submit>
        <span *ngIf="item.buttonType === 'submit'; else other">
            <div [class]="item.parentClass">
                <button [class]="item.className" *ngIf="item.buttonType === 'submit'" mat-raised-button
                    [color]="item.color">Submit</button>
            </div>
        </span>
        <ng-template #other>
            <span>
                <div class="example-full-width"></div>
            </span>
        </ng-template>
    </ng-template>
</div>