.scroll-dialog {
    max-height: 80vh;
}

.wide-form {
    min-width: 100% !important;
    width: 100% !important;
}

mat-datepicker-toggle {
    display: inline-block !important;
}

.mat-radio-button {
    font-size: 14px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.margin-bottom {
    margin-bottom: 10px;
}