<div class="scroll-dialog">
    <div class="flex justify-between" fxLayout="auto">
        <div class="flex justify-start">
            <h1 mat-dialog-title>{{ dialogTitle }}</h1>
        </div>
        <div class="flex justify-end" (click)="onCancel()">
            <mat-icon class="cursor-pointer">close</mat-icon>
        </div>
    </div>
    <div class="center-loading" *ngIf="isLoading">
        <mat-progress-spinner [diameter]="30" class="spinner" color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <form class="add-new-form form-style" [formGroup]="formGroup" autocomplete="off">
        <mat-label>Form Name</mat-label>
        <mat-form-field class="relative w-full" appearance="outline">
            <input (blur)="checkValueOnBlur()" matInput type="text" placeholder="Enter Form Name" [matAutocomplete]="auto"
                formControlName="formName">
            <mat-autocomplete #auto="matAutocomplete"  [displayWith]="checkValue">
                <mat-option *ngFor="let option of filteredTemplateDropdownOptions | async"
                    [value]="option">
                    {{option.formName}}
                </mat-option>
            </mat-autocomplete>
            <mat-error>
                <div *ngIf="formGroup.get('formName').touched && formGroup.get('formName').invalid"
                    class='invalid-feedback'>
                    <div *ngIf="formGroup.get('formName').errors.maxLengthFormName">
                        Maximum length for Form Name is 75.
                    </div>
                    <div *ngIf="formGroup.get('formName').errors.notSelected">
                        Form Name needs to be selected.
                    </div>
                </div>
            </mat-error>
        </mat-form-field>
        <mat-label>Form Id</mat-label>
        <mat-form-field class="relative w-full" appearance="outline">
            <input [maxLength]="50" formControlName="formId" matInput [placeholder]="'Enter Form Id'">
        </mat-form-field>
        <mat-label>Date From</mat-label>
        <mat-form-field appearance="fill" class="wide-form">
            <input matInput [matDatepicker]="dateFrom" placeholder="DD-MM-YYYY" formControlName="dateFrom">
            <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
            <mat-datepicker-toggle matSuffix (click)="clearDateFrom()">
                <mat-icon matDatepickerToggleIcon>clear</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dateFrom disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-label>Date To</mat-label>
        <mat-form-field appearance="fill" class="wide-form">
            <input matInput [matDatepicker]="dateTo" placeholder="DD-MM-YYYY" formControlName="dateTo">
            <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
            <mat-datepicker-toggle matSuffix (click)="clearDateTo()">
                <mat-icon matDatepickerToggleIcon>clear</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dateTo disabled="false"></mat-datepicker>
        </mat-form-field>
    </form>
    <form [formGroup]="predefinedDatesForm" autocomplete="off">
        <mat-radio-group aria-label="Select an option" formControlName="predefinedDate">
            <mat-radio-button value="daily">Daily</mat-radio-button>
            <mat-radio-button value="weekly">Weekly</mat-radio-button>
            <mat-radio-button value="monthly">Monthly</mat-radio-button>
            <mat-radio-button value="yearly">Yearly</mat-radio-button>
        </mat-radio-group>
    </form>
    <div class="flex justify-between w-full" mat-dialog-actions>
        <button type="button" mat-button (click)="onCancel()">{{this.languageService.language?.popup.cancel}}</button>
        <button type="submit" [disabled]="formGroup.invalid || invalidForm" *ngIf="!isLoading" mat-button
            color="primary" (click)="onSubmitForm()">
            Search
        </button>
        <mat-progress-spinner *ngIf="isLoading" [diameter]="30" class="spinner mr-4" color="primary"
            mode="indeterminate">
        </mat-progress-spinner>
    </div>
</div>