<div class="card mt-4 w-full h-full overflow-auto cardBorder p-4">

    <div class="flex flex-col justify-between w-full mb-2">
        <div class="flex w-full items-center justify-between mb-2">
            <div>
                <!-- START - UPDATE WITH DROPDOWN
                <button class="edit-dropdown mb-2 mr-4 filter">
                    <mat-form-field appearance="outline">
                      <mat-label>Set Status</mat-label>
                      <mat-select [(ngModel)]="initStatus">
                        <mat-option value="draft">Save As Draft</mat-option>
                        <mat-option value="submit">Submit for Approval</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </button>
                
                <button mat-stroked-button color="primary" class="mb-2" [disabled]="updateDisabled" (click)="updateData()">
                    Update
                </button>
                END - UPDATE WITH DROPDOWN -->

                <button mat-stroked-button color="primary" class="mb-2 mr-2" [disabled]="updateDisabled"
                    (click)="updateData('Draft')">
                    Save As Draft
                </button>

                <button mat-stroked-button color="primary" class="mb-2" [disabled]="updateDisabled"
                    (click)="updateData('Publish')">
                    Publish
                </button>

                <button mat-stroked-button color="primary" class="ml-2 mb-2" (click)="downloadTableExcelFormat()">
                    <mat-icon class="mr-2">download</mat-icon> Excel
                </button>

            </div>
            <div>
                <button mat-stroked-button class="mr-2" color="primary" printSectionId="print-section"
                    [printTitle]="recordName" [useExistingCss]="true" ngxPrint>
                    <mat-icon class="mr-2">print</mat-icon> Print
                </button>
                <button mat-stroked-button color="accent" (click)="cancelForm()">Cancel</button>
            </div>

        </div>

        <vex-page-layout>
            <vex-page-layout>
                <div id="print-section">
                    <exai-grid-item-table-header [selection]="selection" [showEditSelected]="showEditSelected"
                        [showAddColumn]="false" [formName]="recordName" [showAddRowButton]="true"
                        [userCantChange]="userCantChange" [searchCtrl]="searchCtrl" [allFilterValues]="allFilterValues"
                        [columnsForFilter]="columnsForFilter" [columns]="columns"
                        [disableMergeButton]="disableMergeButton" [showMergeButton]="false"
                        (clearFilterRulesEvent)="clearFilterRules($event)" (clearAllFiltersEvent)="clearAllFilters()"
                        [searchValues]="searchValues" (addRowHandler)="addRow()"
                        (downloadTableExcelFormatEvent)="downloadTableExcelFormat()"
                        (mergeDataEvent)="mergeDataToggle()" (changeTableTextStyleEvent)="changeTableTextStyle($event)"
                        (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)"
                        (createTableEvent)="createTable($event)" (itemsActionEvent)="itemsAction($event)"
                        (addRowEvent)="addRow()" (removeEvent)="remove($event)" (addEvent)="add($event)"
                        (appendToSearchEvent)="appendToSearch($event)"
                        (setVisibilityEvent)="setSummeryVisibility($event)"></exai-grid-item-table-header>

                    <exai-merge-data *ngIf="false" [data]="dataForMerge"
                        (applyMergeDataValuesEvent)="mergeDataValues($event)"
                        (closeMergeDataComponentEvent)="closeMergeDataComponent()"></exai-merge-data>

                    <div [ngClass]="{'hide': loadingTableData }" class="overflow-auto relative">
                        <exai-grid-item-table [selection]="selection" [dataSource]="dataSource" [selection]="selection" [tableHeaderRows]="tableHeaderRows"
                            [readOnly]="false" [selectPrimaryKey]="false" [userCantChange]="userCantChange" [showEditHeader]="false"
                            [showEditDropdownButton]="false" [showIndex]="showMergeDataComponent"
                            [showActionButton]="true" [showAlignButton]="false" [isAllSelected]="isAllSelected()"
                            [summeryAlwaysVisible]="summeryAlwaysVisible" [disableErrorMessages]="true"
                            [columns]="columns" [visibleColumns]="visibleColumns" [tableTextStyle]="tableTextStyle"
                            [rowNumber]="rowNumber" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                            (dropEvent)="drop($event)" (updateRowFilesEvent)="uploadRowFiles($event)"
                            (masterToggleEvent)="masterToggle()" (itemActionEvent)="itemAction($event)"
                            (confirmRowEvent)="confirmRow($event)" (createColumnDataEvent)="createColumnData($event)"
                            (clearFilterRulesEvent)="clearFilterRules($event)"
                            (applyFiltersEvent)="checkWhatRowsToFilter($event.column, false, $event.filterValue, $event.filterType)"
                            (deleteColumnEvent)="deleteColumn($event)" (editColumnEvent)="editColumn($event)"
                            (checkboxCheckedEvent)="checkboxChecked($event)"
                            (setLabelValuesEvent)="setLabelValues($event)"></exai-grid-item-table>

                        <!-- <button class="w-full border add-row-button border-solid mt-2 sticky left-0 right-0"
                            mat-button (click)="addRow()">
                            <mat-icon class="mr-2">add_circle</mat-icon> Save and Add New Record
                        </button> -->

                        <mat-paginator [length]="rowNumber.length" [pageSizeOptions]="pageSizeOptions" [pageSize]="10"
                            class="sticky mt-2 left-0"></mat-paginator>
                    </div>
                </div>
            </vex-page-layout>
        </vex-page-layout>

        <div class="w-full flex justify-center mt-4" *ngIf="loadingTableData">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>

    </div>