<form [formGroup]="formGroup" autocomplete="off">
    <p class="margin-bottom">
        <mat-form-field appearance="fill" class="wide-form">
            <mat-label>Date From</mat-label>
            <input matInput [matDatepicker]="dateFrom" placeholder="DD-MM-YYYY" formControlName="dateFrom">
            <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
            <mat-datepicker-toggle matSuffix (click)="clearDateFrom()">
                <mat-icon matDatepickerToggleIcon>clear</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dateFrom disabled="false"></mat-datepicker>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill" class="wide-form">
            <mat-label>Date To</mat-label>
            <input matInput [matDatepicker]="dateTo" placeholder="DD-MM-YYYY" formControlName="dateTo">
            <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
            <mat-datepicker-toggle matSuffix (click)="clearDateTo()">
                <mat-icon matDatepickerToggleIcon>clear</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dateTo disabled="false"></mat-datepicker>
        </mat-form-field>
    </p>
</form>
<br>
<form [formGroup]="predefinedDatesForm" autocomplete="off">
    <mat-radio-group aria-label="Select an option" formControlName="predefinedDate">
        <mat-radio-button value="daily">Daily</mat-radio-button>
        <mat-radio-button value="weekly">Weekly</mat-radio-button>
        <mat-radio-button value="monthly">Monthly</mat-radio-button>
        <mat-radio-button value="yearly">Yearly</mat-radio-button>
    </mat-radio-group>
</form>