<div
[ngStyle]="{'transform': positionStyles, 'width': item.styles.width + 'px', 'height': item.styles.height + 'px' }"
(resizeEnd)="resizeEndEvent($event)" (dragging)="draggingEvent($event)"
(click)="elementFocus = true" [ngClass]="{ 'focused-element': elementFocus }"  (clickOutside)="elementFocus = false" exaiPopoverDirective [popoverTrigger]="popover" [dblClick]="true" class="card-input field"  exaiMoveable [container]="container">
    <div *ngIf="item.html" style="width: 100%;height: 100%;" [innerHTML]="item.html | sanitizeHtml"></div>
    <div *ngIf="!item.html"><mat-icon style="color: rgb(81, 81, 81);">title</mat-icon></div>

    <div *ngIf="elementFocus" class="element-actions">
      <ul>
        
        <li class="duplicate_element" (click)="duplicateElementEmitted.emit(item)">
          <mat-icon>content_copy</mat-icon>
        </li>

        <li (click)="removeEmitted.emit(item)">
          <mat-icon>delete</mat-icon>
        </li>
      </ul>
    </div>
</div>


  

<ng-template #popover>
  <exai-card-builder-html-settings style="position: relative;" [item]="item">
  </exai-card-builder-html-settings>
</ng-template>