.card-input {
    padding: 0.2rem;
    border-radius: 6px;
    transition: 0.2s outline;
    &:hover {

        outline: 1px solid #90bde3;
        outline-offset: 3px;
    }
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.focused-element {
    outline: 1px solid #90bde3;
    outline-offset: 3px;
}

.element-actions {

    & ul {
        display: flex;
        align-items: center;
    }
    
    bottom: -1.9rem;
    right: 0;

    & mat-icon {
        color: rgb(250, 103, 103);
        font-size: 0.9rem;
        height: 0.9rem;
        width: 0.9rem;
        cursor: pointer;
        margin-left: 0.3rem;
    }
    position: absolute;
}

.duplicate_element {
    mat-icon {
        color: rgb(129, 129, 129);
    }
}