<div>
    <mat-card >
        <div id="card-div">  Departments  </div>
        <div id="top">
          <input placeholder="Location Name" id="departmentName">
          <button class="addtableButton" (click)="addDeparments()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon> <span class="material-icons-outlined">
                done
                </span></mat-icon>
          </button>
        </div>
  
  
  
                <table>
                    <thead>
                        <tr class="head">
                        <th>  Department Name        </th>
                        <!-- <th> Department Level </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="entry" *ngFor="let idx = index; let deparment of $filteredDepartments | async">
                            <td>
                                <input  id="department_{{deparment.id}}"  type="text" value="{{deparment.value | titlecase}}">
                            </td>
                            <td>
                                <button class="tableButton" (click)="onClickSave(deparment.id)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                                    <mat-icon>done</mat-icon>
                                  </button>

                            <button class="tableButton" (click)="onClickDelete(deparment.id)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                                <mat-icon>delete</mat-icon>
                              </button>

                          </td>
                        </tr>
                    </tbody>
                </table>
          
        
    </mat-card>
  </div>
