.field>div {
    display: flex;
    flex-direction: column;

    & label {
        margin-bottom: 0.8rem;
    }
}

.field {
    // padding: 0.5rem 1rem;
    padding: 0.3rem;
    position: relative;
}

.actions-buttons {
    position: absolute;
    right: 1.4rem;
    bottom: -1.8rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid rgb(238, 238, 238) !important;
    padding: 0.5rem;
    transition: 0.2s all;

    & span {
        color: #499B90;
        // margin-left: 1rem;
        font-size: 1.2rem;
        cursor: pointer;
    }

    background-color: #fff;
    z-index: 20;
    flex-direction: row !important;
    border-top: 1px solid transparent !important;
    display: none !important;
}

.example-full-width {
    border: 1px solid transparent;
    padding: 0.5rem;
    transition: 0.2s all;
}

::ng-deep .field .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.editor-menu-floating {
    position: absolute;
    top: -39px;
    right: 0;
    z-index: 10000;
    border: 1px solid rgb(238, 238, 238);
    display: none;
}

::ng-deep .NgxEditor__Wrapper .NgxEditor__MenuBar {
    border-bottom: 1px solid transparent !important;
}

.NgxEditor__Wrapper {
    position: relative;
    padding-bottom: 0 !important;
}

::ng-deep .NgxEditor__Content {
    padding: 0 !important;
}

::ng-deep .NgxEditor__MenuBar {
    flex-wrap: nowrap !important;
}

.field:hover {

    & .actions-buttons {
        display: flex !important;
    }

    & .example-full-width {
        border: 1px solid #499b906e;
    }

    & .editor-menu-floating {
        display: block;
    }
}