<div class="field">
    <div *ngIf="item.type=='text'">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{ item.label }}</mat-label>
            <input [required]="item.validators.required" [(ngModel)]="item.value" type="text" matInput
                [placeholder]="item.placeholder">
        </mat-form-field>
    </div>
    <div *ngIf="item.type=='email'">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{ item.label }}</mat-label>
            <input [required]="item.validators.required" [(ngModel)]="item.value" type="email" matInput
                [placeholder]="item.placeholder">
        </mat-form-field>
    </div>
    <div *ngIf="item.type=='password'">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{ item.label }}</mat-label>
            <input [required]="item.validators.required" [(ngModel)]="item.value" type="password" matInput
                [placeholder]="item.placeholder">
        </mat-form-field>
    </div>
    <div *ngIf="item.type=='phone'">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{ item.label }}</mat-label>
            <input [required]="item.validators.required" [(ngModel)]="item.value" type="text" matInput
                [placeholder]="item.placeholder">
        </mat-form-field>
    </div>
    <div *ngIf="item.type=='number'">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{ item.label }}</mat-label>
            <input [required]="item.validators.required" [(ngModel)]="item.value" type="number" matInput
                [placeholder]="item.placeholder">
        </mat-form-field>
    </div>
    <div *ngIf="item.type=='date'">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{ item.label }}</mat-label>
            <input [(ngModel)]="item.value" [required]="item.validators.required" matInput [matDatepicker]="picker"
                [placeholder]="item.placeholder">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div *ngIf="item.type=='datetime-local'">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{ item.label }}</mat-label>
            <input type="datetime-local" [(ngModel)]="item.value" [required]="item.validators.required" matInput
                [placeholder]="item.placeholder">
        </mat-form-field>
    </div>
    <div *ngIf="item.type=='textarea'">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{ item.label }}</mat-label>
            <textarea [required]="item.validators.required" [(ngModel)]="item.value" type="text" matInput
                [placeholder]="item.placeholder"></textarea>
        </mat-form-field>
    </div>
    <div *ngIf="item.type=='file'">
        <app-form-builder-element-file-upload [previewMode]="true" [item]="item"></app-form-builder-element-file-upload>
    </div>
    <div *ngIf="item.type=='select'">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{ item.label }}</mat-label>
            <mat-select [required]="item.validators.required" id="{{item.name}}" [(ngModel)]="item.value">
                <mat-option *ngFor="let v of item.values" [value]="v.value">
                    {{v.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="item.type=='checkbox'">
        <div class="example-full-width  flex flex-col">
            <label class="material-divide-input">{{item.label}} <span *ngIf="item.validators.required">*</span></label>
            <div *ngFor="let v of item.values" class="flex flex-col">
                <mat-checkbox class="mb-2" [(ngModel)]="v.checked" name="{{item.name}}" [disableRipple]="true"
                    (click)="$event.preventDefault()">
                    {{v.label}}
                </mat-checkbox>
            </div>
        </div>
    </div>
    <div *ngIf="item.type=='radio'">
        <div class="example-full-width flex flex-col">
            <label class="material-divide-input">{{item.label}} <span *ngIf="item.validators.required">*</span></label>
            <mat-radio-group class="flex flex-col" [(ngModel)]="item.value">
                <mat-radio-button class="mb-2" *ngFor="let v of item.values" [value]="v.value" name="{{item.name}}">
                    {{v.label}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="actions-buttons">
        <span class="material-icons-outlined" exaiPopoverDirective [popoverTrigger]="popover">
            settings
        </span>
    </div>
</div>
<ng-template #popover>
    <app-form-builder-element-approve-reject-settings [item]="item"></app-form-builder-element-approve-reject-settings>
</ng-template>