<div class="modal-header">
    <h3>Select image</h3>
    <mat-icon class="close-modal-header" mat-dialog-close>close</mat-icon>
</div>
<div exaiFileDragDrop (filesDropped)="filesDropped($event)" (click)="fileUpload.click()">
    <div *ngIf="!uploadedFile" class="placeholder">
        <h3>Drop Files here or click for upload</h3>
    </div>
    <input accept="image/*" [hidden]="true" (change)="uploadFilesFromInput($event)" #fileUpload type="file" id="actual-btn"/>


    <div *ngIf="uploadedFile" class="droppedImage">
        <div class="search-file">
          <div class="search-file-group">
          <div class="image-preview">
            <img [src]="uploadedFile.imageContent" alt="">
          </div>
          <div *ngIf="uploadedFile.error" class="error-upload">
            <mat-icon style="color: rgb(248, 86, 86);">error_outline</mat-icon>
            <p>{{ uploadedFile?.errorMessage }}</p>
          </div>
        </div>
    </div>
  </div>

  
  <!-- <mat-progress-bar *ngIf="uploadingFile" mode="indeterminate"></mat-progress-bar> -->
</div>

<div *ngIf="uploadedFile" class="dimensions">
  <h3>Dimensions ( for export in document )</h3>

  <div class="dimensions-inputs">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Width in px</mat-label>
    <input (blur)="checkDimensions(uploadedFile)" [max]="700" (input)="changeDimension(uploadedFile.width, uploadedFile.height)" [(ngModel)]="uploadedFile.width" type="number" matInput
      [placeholder]="'Enter width'">


  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Height in px</mat-label>
    <input [disabled]="true" [(ngModel)]="uploadedFile.height" type="number" matInput
      [placeholder]="'Enter height'">

  </mat-form-field>
</div>
</div>

<div class="actions-modal">
    <button  mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
    <button  mat-flat-button [mat-dialog-close]="uploadedFile" color="primary">Save</button>
</div>