<div class="form-wrapper">
  <ng-template #recursiveList let-list>
    <!-- <div dndPlaceholderRef class="dndPlaceholder">
    </div> -->

    <div style="width: 100%;" *ngFor="let item of list" [dndDraggable]="item" [dndType]="item.dndType"
      [dndDisableIf]="item.disable">

      <div *ngIf="item.content" class="dnd-content">
        {{ item.content }}
      </div>

      <ng-container [ngSwitch]="item.elementType">
        <!-- 
        <div [attr.id]="item.id" [attr.elementType]="item.elementType" *ngSwitchCase="'table'">
          <exai-form-builder-element-table (removeEmitted)="removeElement($event)" [item]="item">
          </exai-form-builder-element-table>
        </div> -->

        <div [attr.id]="item.id" [attr.elementType]="item.elementType" *ngSwitchCase="'form'">
          <app-form-builder-approve-reject-input-elements [item]="item">
          </app-form-builder-approve-reject-input-elements>
        </div>

        <div *ngSwitchCase="'button'">
          <app-form-builder-approve-reject-element-buttons [item]="item">
          </app-form-builder-approve-reject-element-buttons>
        </div>

        <div *ngSwitchCase="'cancel'">
          <app-form-builder-approve-reject-element-buttons [item]="item">
          </app-form-builder-approve-reject-element-buttons>
        </div>

      </ng-container>

      <ng-container *ngIf="item.html">
        <app-form-builder-approve-reject-element-html [item]="item">
        </app-form-builder-approve-reject-element-html>
      </ng-container>

      <!-- <div *ngIf="item?.customDragImage" dndDragImageRef>MY_CUSTOM_DRAG_IMAGE
      </div> -->

      <ng-container *ngIf="item?.children">

        <div [attr.id]="item.id" [attr.type]="item.type" [class]="item.class"
          [ngClass]="{ 'row-grouped': item.type === 'row' && item.grouped, 'vertical-row-grouped': item.type === 'row' && item.verticalGrouped, 'selected-row': activeElement === item }"
          class="layout-padding" [dndDisableIf]="item.disableDropzone" [dndDropzone]="item.allowedTypes"
          [dndAllowExternal]="true">

          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>


          <!-- <div *ngIf="item.type === 'col' && !item.disableAction" class="actions-buttons">
            <span (click)="removeElement(item)" style="color: rgb(218, 108, 108);" class="material-icons-outlined">
              clear
            </span>
          </div> -->

          <ng-container *ngIf="item.type === 'row' && !item.disableAction">
            <div (click)="activeElement = item" class="row-on-hover">
              <!-- <div class="locked">
                <div [ngClass]="{ 'locked-group': item.grouped, 'vertical-lock': item.verticalGrouped }"
                  class="actions-buttons-row-locked">
                  <span class="material-icons-outlined">
                    {{ item.grouped ? 'lock' : 'lock_opened' }}
                  </span>
                  <span matTooltip="{{ item.groupName ?? 'Untitled' }}" class="group-title">{{ item.groupName ??
                    "Untitled" }}</span>
                </div>
              </div> -->

              <div *ngIf="activeElement === item" class="actions-buttons-row">

                <span class="row-text">Row</span>

                <span class="material-icons-outlined" style="color: #499B90;" exaiPopoverDirective
                  [popoverTrigger]="popover">
                  settings
                </span>

                <!-- <span dndHandle class="material-icons-outlined" style="color: #499B90;">
                  drag_indicator
                </span>

                <span (click)="removeElement(item)" style="color: rgb(218, 108, 108);" class="material-icons-outlined">
                  clear
                </span> -->
              </div>

              <ng-template #popover>
                <exai-form-builder-grid-settings [item]="item"></exai-form-builder-grid-settings>
              </ng-template>

            </div>
          </ng-container>



        </div>


      </ng-container>


    </div>

  </ng-template>

  <div class="generalDropzone" dndDropzone [dndAllowExternal]="true">

    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: predefinedPageBuilder }"></ng-container>

  </div>

</div>