<div [hidden]="!showSideMenu" class="form-builder-items" [disableClickOutside]="disableClickOutside"
  (dragEnd)="disableClickOutside = false" (dragStarted)="disableClickOutside = true"
  (clickOutside)="showSideMenu = false" [noTriggerElements]="[openButton]"
  [noTriggerClasses]="['cdk-overlay-backdrop', 'mat-button-toggle-group', 'mat-menu-panel', 'mat-button-toggle-label-content']"
  [@slideInOut] exaiDragElement [allowVertical]="false">

  <div class="form-builder-items-content">

    <div exaiDragHandlerElement class="form-builder-menu-header">
      <div class="form-builder-menu-header-drag">
        <span class="material-icons">
          drag_handle
        </span>
        <span>Drag to move</span>
      </div>
      <button (click)="showSideMenu = false" mat-icon-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>

    <mat-accordion *ngFor="let accordion of formBuilderItems">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style="color: var(--footer-color);">{{ accordion.title }}</span>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="grid-cols-4 grid">
          <div #items [attr.actionBtn]="item.actionBtn" [dndDraggable]="$any(item).dropData || $any(item)"
            [dndEffectAllowed]="'copyMove'" [dndType]="item.dndType" *ngFor="let item of $any(accordion).elements">
            <div class="flex flex-col m-2 items-center form-item-detail">
              <mat-icon fontSet="material-icons-outlined">{{ item.icon }}</mat-icon>
              <h3 class="pt-2 mb-0">{{ item.label }}</h3>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div [hidden]="isFill || isPreview" #openButton>
  <div [@slideInOut] [hidden]="showSideMenu" class="form-builder-menu-content-open">
    <div (click)="showSideMenu = true" class="build-button">
      <mat-icon>build</mat-icon>
    </div>
  </div>
</div>