.form-builder-items {
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--background-card);
  border-left: 1px solid rgb(230, 229, 229);
  width: 25rem;
  z-index: 1000000000;
}

::ng-deep mat-expansion-panel {
  box-shadow: none!important;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.form-item-detail {
  // border: 1px solid rgb(233, 233, 233);
  padding-top: 1rem;
  cursor: pointer;
  border-radius: 6px;
  & h3 {
    color: rgb(148, 148, 148);
    font-size: 0.8rem;
    transition: 0.2s all;
  }

  

  & mat-icon {
    color: rgb(129, 129, 129);
    transition: 0.2s all;
  }
  user-select: none;

  &:hover {
    & h3 {
      color: #499B90;
    }
  
    & mat-icon {
      color: #499B90;
    }
  }
}


::ng-deep .mat-expansion-panel-body {
  padding: 0!important;
}

::ng-deep .mat-expansion-panel-header-title {
  color: rgb(85, 85, 85)!important;
}

.form-builder-menu-content-open {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 300;
}

.build-button {
  background-color: rgb(var(--color-primary));
  width: 3.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.form-builder-menu-header {
  padding: 5px 24px;
  // margin-top: 15px;
  // padding-top: 15px;
  cursor: move;
  user-select: none;
  display: flex;
  height: 42px;
  align-items: center;
  // position: absolute;
  background-color: #3f51b5;
  width: 100%;
  // top: 0;
  z-index: 301;
  color: #fff;
  & span {
      margin-right: 1rem;
      color: #fff;
  }

  justify-content: space-between;
}

.form-builder-menu-header-drag {
  display: flex;
  align-items: center;
  
}

.form-builder-items {
  width: 400px;
  // position: fixed;
  // top: var(--toolbar-height);
  right: 0;
  z-index: 300;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  // height: calc(100vh - var(--toolbar-height) - var(--footer-height) - 42px);
  transition: 0.2s box-shadow;

}


.free-dragging {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

.form-builder-items-content {
  height: 100%;
}

