<div class="field textarea">
    <div>
      <ng-container *ngIf="!view">
        <mat-label>{{ item.label }}</mat-label>
        <ejs-richtexteditor [insertImageSettings]="imageSettings" (change)="tableValueChanged($event)" #textEditorRef class="mt-4" [tableSettings]="tableSettings" [quickToolbarSettings]="quickToolbarSettings" [(ngModel)]="item.htmlTextarea" id='defaultRTE' [toolbarSettings]="tools">
        </ejs-richtexteditor>
      </ng-container>
      <ng-container *ngIf="view">
        <mat-label>{{ item.label }}</mat-label>
        <ejs-richtexteditor (change)="tableValueChanged($event)" #textEditorRef class="mt-4" [tableSettings]="tableSettings" [quickToolbarSettings]="quickToolbarSettings" [ngModel]="tableValueReactiveForm" id='defaultRTE' [toolbarSettings]="tools">
        </ejs-richtexteditor>
      </ng-container>
    </div>
  
    <div *ngIf="!view" class="actions-buttons">
      <span class="material-icons-outlined" exaiPopoverDirective [popoverTrigger]="popover">
        settings
        </span>
        <span  *ngIf="!item.disable" dndHandle class="material-icons-outlined">
          drag_indicator
          </span>
          <span *ngIf="!item.disableDelete" (click)="removeEmitted.emit(item)" style="color: rgb(218, 108, 108);" class="material-icons-outlined">
            clear
          </span>
      </div>
  </div>
  
  
  
  <ng-template #popover>
  <exai-form-builder-table-settings [item]="item"></exai-form-builder-table-settings>
  </ng-template>
  