.exai-layout-hermes {
  --toolbar-height: 100px;
  --secondary-toolbar-background: var(--background-base);
  --secondary-toolbar-height: 64px;

  &.exai-style-light {
    --toolbar-background: var(--background-base);
  }

  &.exai-style-default {
    --navigation-background: #{$sidenav-background};
    --toolbar-background: #{lighten($sidenav-background, 5)};
    --navigation-color: white;
    --toolbar-color: white;
  }

  &.exai-style-dark {
    --toolbar-background: var(--background-base);
  }

  // Hide sidenav on vertical layout:
  // Global Search displays it, even when it's out of the view
  @screen lg {
    .sidenav {
      @apply hidden;
    }
  }

  exai-secondary-toolbar .secondary-toolbar {
    @apply shadow-none -mb-gutter border-t-0;
  }
}
