.exai-layout-ikaros {
  --navigation-height: 0px;

  &.exai-style-default {
    --toolbar-background:transparent radial-gradient(closest-side at 131% -30%, #017b48 10%, #005f7e 500%) 0% 0% no-repeat padding-box;
    --navigation-color: white;
    --toolbar-color: white;
  }
}
