
<!-- <h1 mat-dialog-title>Enter New Items</h1>
<div mat-dialog-content>
    <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Enter label names</mat-label>
        <mat-chip-list class="mat-chip-list-stacked flex flex-col items-center"
          cdkDropList 
          cdkDropListOrientation="vertical"
          (cdkDropListDropped)="drop($event)" 
          #chipList 
          aria-label="Fruit selection">
          <mat-chip
            cdkDrag
            class="w-full mb-4 m-x-4 p-2 flex justify-between items-center chip-new-line" 
            *ngFor="let element of dropdownData; let index = index"
            (removed)="remove(index, dropdownData)" 
            [ngClass]="{'hide': selectedItem === index}"
            (dblclick)="editField(index)">
            <p>{{element.name}}</p>
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="New Element..."
                 #chipsInput class="ch-input"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (keydown.enter)="add()">
        </mat-chip-list>
      </mat-form-field>
  
</div>
<div mat-dialog-actions class="w-full flex justify-end">
    <button mat-button (click)="onClose()">Close</button>
    <button mat-button (click)="confirm()">Ok</button>
  </div>  -->

  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Enter label names</mat-label>
    <mat-chip-list class="flex flex-col mat-chip-list-stacked" aria-label="mat-chip-list-stacked" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)"
      #chipList>
      <mat-chip cdkDrag class="w-full mb-4 flex justify-between items-center" color="primary"
        *ngFor="let element of data.dropdownData; let index = index" (removed)="remove(index)"
        [ngClass]="{'hide': selectedItem === index}" (dblclick)="editField(element, index)">
        <p>{{element.name}}</p>
        <button type="button" matChipRemove>
          <mat-icon background="white">cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="New Element..." cdkFocusInitial #chipsInput [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (keydown.enter)="add($event)">
    </mat-chip-list>
  </mat-form-field>
  
  <div mat-dialog-actions class="w-full flex justify-end">
    <button type="button" mat-button mat-dialog-close>Close</button>
    <button type="button" mat-button [mat-dialog-close]="data" (click)="confirm()">Confirm</button>
  </div>