.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  
  .example-chip-list {
    width: 100%;
  }
  
  .hide {
    opacity: 0;
  }
  
  .example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }



  ::ng-deep .mat-chip-list-stacked .mat-chip-list-wrapper .mat-standard-chip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 99%;
    background-color: rgb(var(--color-primary)) !important;
    color: white;
    button {
      color: white;
    }
  }

 .mat-chip-list-stacked[aria-label="mat-chip-list-stacked"] .mat-chip-list-wrapper .mat-chip-list-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  ::ng-deep .mat-chip-input {
    flex: 0 0 42px !important;
  }
  