.action-buttons-centered {
    text-align: center !important;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 90%;
    gap: 10px;
}

.alert {
    font-size: 10px;
    color: red;
}

@media screen and (min-width: 600px) {
    .grid-container {
        grid-template-columns: 35% 35%;
    }
}

@media screen and (min-width: 1500px) {
    .grid-container {
        grid-template-columns: 27% 27% 27%;
    }
}

.input-button-custom {
    display: flex !important;
    justify-content: center !important;
}

.loader {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}