<div *ngIf="loadingData" class="loader">
    <mat-spinner></mat-spinner>
</div>

<mat-card *ngIf="!loadingData" class="example-card">
    <mat-card-header>
        <mat-card-title>{{ profile?.firstName + ' ' + profile?.lastName }}</mat-card-title>
        <mat-card-subtitle>Profile Information</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="profileForm" class="grid-container">
            <mat-form-field appearance="outline">
                <mat-label>First Name*</mat-label>
                <input matInput type="text" formControlName="firstName">
                <mat-error *ngIf="profileForm.controls['firstName'].invalid">
                    {{ getErrorMessages('firstName') }}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name*</mat-label>
                <input matInput type="text" formControlName="lastName">
                <mat-error *ngIf="profileForm.controls['lastName'].invalid">
                    {{ getErrorMessages('lastName') }}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone*</mat-label>
                <!-- <input matInput type="text" formControlName="phone"> -->
                <ngx-mat-intl-tel-input #phoneNumber [onlyCountries]="['in']" [enablePlaceholder]="true"
                    inputPlaceholder='Phone Number' name="phone" describedBy="phoneInput" formControlName="phone">
                </ngx-mat-intl-tel-input>
                <mat-error>
                    <div *ngIf="profileForm.get('phone').touched && profileForm.get('phone').invalid" class='invalid-feedback'>
                        <div *ngIf="profileForm.get('phone').errors.required">
                            {{this.languageService.language?.error.phone_number_required}}</div>
                        <div *ngIf="profileForm.get('phone').errors.pattern">
                            Only numbers allowed</div>
                    </div>
                    <div *ngIf="profileForm.get('phone').touched && profileForm.get('phone').invalid" class='invalid-feedback'>
                        <div *ngIf="profileForm.get('phone').errors.noWhitespace">Only whitespace is not allowed.
                        </div>
                        <div *ngIf="profileForm.hasError('maxlength', 'phone')">Max 10 digits allowed.
                        </div>
                        <div *ngIf="profileForm.get('phone').errors.validatePhoneNumber">Not a valid phone number.
                        </div>
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email*</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="profileForm.controls['email'].invalid">
                    {{ getErrorMessages('email') }}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Role*</mat-label>
                <input matInput type="text" formControlName="role">
                <mat-error *ngIf="profileForm.controls['role'].invalid">
                    {{ getErrorMessages('role') }}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Division*</mat-label>
                <input matInput type="text" formControlName="division">
                <mat-error *ngIf="profileForm.controls['division'].invalid">
                    {{ getErrorMessages('division') }}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Sub Division*</mat-label>
                <input matInput type="text" formControlName="subDivision">
                <mat-error *ngIf="profileForm.controls['subDivision'].invalid">
                    {{ getErrorMessages('subDivision') }}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Police Station*</mat-label>
                <input matInput type="text" formControlName="policeStation">
                <mat-error *ngIf="profileForm.controls['policeStation'].invalid">
                    {{ getErrorMessages('policeStation') }}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password*</mat-label>
                <input matInput type="password" formControlName="password">
                <button mat-button matSuffix mat-stroked-button (click)="openEditPasswordDialog()"
                    class="input-button-custom">
                    <mat-icon>edit</mat-icon>
                </button>
                <mat-error *ngIf="profileForm.controls['password'].invalid">
                    {{ getErrorMessages('password') }}
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions class="action-buttons-centered">
        <button mat-raised-button color="primary" [disabled]="profileForm.invalid" (click)="saveProfile()">
            <span>Save</span>
        </button>
    </mat-card-actions>
</mat-card>