.file-drop-area {
    border: 1px solid #dadada;
    border-radius: 3px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 1.2rem 2rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  .file-drop-area.is-active {
    background-color: #3F4069;
  }
  
  .file-msg {
    font-size: small;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: calc(100% - 130px);
    vertical-align: middle;
  }
  
  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
  
  .file-input:focus {
    outline: none;
  }

  .example-full-width {
    border: 1px solid transparent;
    padding: 0.5rem;
    transition: 0.2s all;
  }

  .example-full-width:hover {
      border: 1px solid #499b906e;
  }

  .example-full-width.insideForm:hover {
    border: none;
  }

  .example-full-width.insideForm {
    border: none;
    padding: 0;
  }

.disabledForm {
  opacity: 0.6;
}

.search-file {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  z-index: 10;
  position: relative;
  overflow-x: auto;
  // max-width: 27rem;
}

.search-file-group {
  flex-shrink: 0;
  position: relative;
  width: 15rem;
  height: 10rem;
  object-fit: cover;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 7px;
  margin-right: 1rem;
  overflow: hidden;
}

.search-file-group h2 {
  position: absolute;
  bottom: 0.1rem;
  left: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
  font-size: 1rem;
  z-index: 10;
  text-overflow: ellipsis;
  padding-right: 1rem;
  width: 100%;
}

.background-overlay-search {
  height: 2.5rem;
  width: calc(100% + 4rem);
  position: absolute;
  bottom: -0.5rem;
  background-color: rgba(20, 20, 20, 0.705);
  filter: blur(15px);
  left: -2rem;
}

.background-overlay-search-top {
  top: -0.5rem;
  left: -2rem;
}

.search-file-group img {
  width: 100%;
  // height: 100%;
}

.progress-upload {
  position: absolute;
  bottom: 0;
  left: 0;
}

.error-upload {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(8, 8, 8, 0.687);
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  & p {
    margin-top: 0.8rem;
    color: #fff;
  }
}

.delete-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  & mat-icon {
    color: rgb(252, 115, 115);
  }

  cursor: pointer;
}

.copy-btn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;

  & mat-icon {
    color: rgb(232, 232, 232);
  }

  cursor: pointer;

  display: flex;
  align-items: center;

  & p {
    color: #fff;
    margin-left: 0.3rem;
  }
}

.preview-icon-file {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: rgb(75, 75, 75);

  & mat-icon {
    color: rgb(239, 239, 239);
    font-size: 2.2rem;
    height: 2.2rem;
    width: 2.2rem;
  }
}