<div class="example-full-width">
<div class="file-drop-area">
  <button mat-raised-button color="accent" style="margin-right: 0.5rem;">Choose file</button>

  <span class="file-msg">or drag and drop file here<span >*</span></span>

    <div *ngIf="files.length" class="search-file">
      <div class="search-file-group" *ngFor="let file of files">
        <img *ngIf="!file.noPreview" [src]="file.imageContent" alt="">
        
        <div *ngIf="file.noPreview" class="preview-icon-file">
          <mat-icon>{{ file.icon }}</mat-icon>
        </div>

        <h2>{{ file.name }}</h2>
        <div class="background-overlay-search"></div>
        <div class="background-overlay-search background-overlay-search-top"></div>
        <div (click)="removeFile(file)" class="delete-btn"><mat-icon>delete</mat-icon></div>
        <div *ngIf="file.url" (click)="downloadFileUrl(file.url, file.name)" class="copy-btn"><mat-icon>download</mat-icon> <p>Download</p></div>
        <div *ngIf="file.error" class="error-upload">
          <mat-icon style="color: rgb(248, 86, 86);">error_outline</mat-icon>
          <p>{{ file?.errorMessage }}</p>
        </div>

        <mat-progress-bar *ngIf="file.loading" class="progress-upload" mode="indeterminate"></mat-progress-bar>
    
      </div>
    </div>
    
  <input #fileInput [disabled]="disabled || previewMode" class="file-input" type="file" [multiple]="item.fileUpload.multiple" [accept]="item.fileUpload.accept">

</div>
</div>