<div (click)="elementFocus = true"
#elementToDrag
[ngStyle]="{'transform': positionStyles, 'width.px': item.styles.width, 'height.px': item.styles.height }"
(click)="elementFocus = true" (resizeEnd)="resizeEndEvent($event)" (dragging)="draggingEvent($event)"
[ngClass]="{ 'focused-element': elementFocus }"  (clickOutside)="elementFocus = false" (dblclick)="openDialog()" class="moavable-element card-input" exaiMoveable [container]="container">
    <div *ngIf="!item?.imageData?.imageContent" class="image-content">
        <span style="color: rgb(81, 81, 81);" class="material-icons-outlined custom-icon">
            add_photo_alternate
        </span>
    </div>

    <div *ngIf="item.imageData?.imageContent" class="image-preview">
        <img [src]="item?.imageData?.imageContent">
      </div>
      
      <div *ngIf="elementFocus" class="element-actions">
        <ul>
                  
        <li class="duplicate_element" (click)="duplicateElementEmitted.emit(item)">
          <mat-icon>content_copy</mat-icon>
        </li>
        
          <li (click)="removeEmitted.emit(item)">
            <mat-icon>delete</mat-icon>
          </li>
        </ul>
      </div>
</div>