<div class="p-4">
<div class="card">
    <exai-basic-table [layoutCtrl]="layoutCtrl" [searchValues]="searchValues" [searchCtrl]="searchCtrl"
        [isLoading]="isLoading" [dataSource]="dataSource" [columns]="columns" [trackByProperty]="trackByProperty"
        [policeStationsActions]="true" [buttonModifyLabel]="this.languageService.language?.button.modify"
        [visibleColumns]="visibleColumns" [tableTitle]="this.languageService.language?.policestation.ps"
        (removeEvent)="remove($event)" (addEvent)="add($event)" (appendToSearchEvent)="appendToSearch($event)"
        (createPoliceStationEvent)="createStation()" (createStationEvent)="createStation($event, true)"
        (dropEvent)="drop($event)" (downloadWordEvent)="downloadWord($event)" (updateStatusEvent)="updateStatus($event)"
        (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)"></exai-basic-table>
    <mat-paginator #paginator [length]="length" [pageSize]="10" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
</div>
</div>