<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav id="sidenav" #sidenav mode='over' class="sidenavSettings" position="end">
    <div *ngIf="userService.userLoggedIn"
      style="width:100%;padding:0.3rem;background-color:rgb(0, 0, 0);color:whitesmoke!important;top:30px;right:30px;z-index:100;display:flex;flex-direction:row;align-items: center;justify-content: center;">
      <div style="display:flex;flex-direction:column;align-items: flex-end; margin-right: 0.8rem;">
        <p style="font-size: 1.3rem;font-weight: 600;">Hi, {{userService.Username}}</p>
      </div>
      <p style="display:flex;flex-direction:row;align-items: center;justify-content: center;
        background-color: blueviolet;border-radius: 100%;height:90px;width:90px;" (click)="sidenav.toggle()"
        class="mat-elevation-z30"><svg width="84" height="84" [data-jdenticon-value]="userService.Username"
          style="border-radius: 100%;"></svg></p>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="body-wrap boxed-container" style="position: relative;">
      <div *ngIf="userService.userLoggedIn"
        style="position:absolute;top:30px;right:30px;z-index:100;display:flex;flex-direction:row;align-items: center;justify-content: center;">
        <div id="name-address" style="display:flex;flex-direction:column;align-items: flex-end;margin-right: 0.8rem;">
          <p style="font-size: 1rem;font-weight: 600;">Hi, {{userService.Username}} </p>
        </div>
        <p style="display:flex;flex-direction:row;align-items: center;justify-content: center;
          background-color: blueviolet;border-radius: 100%;height:80px;width:80px;" (click)="sidenav.toggle()"
          class="mat-elevation-z30"><svg width="70" height="70" [data-jdenticon-value]="''"
            style="border-radius: 100%;"></svg></p>
      </div>
      <header class="site-header">
        <div class="container">
          <div class="site-header-md-bg" style="font-size:0.7rem;font-weight:200!important;">
            A Simple Web App to aid you in your data sharing needs
          </div>
          <div class="site-header-inner">
            <div class="brand header-brand">
              <h1 class="m-0">
                <p style="font-size: 1.3rem;">Karnataka State Police</p>
              </h1>
            </div>
          </div>
        </div>
      </header>
      <section class="hero">
        <div *ngIf="false">
          <div class="container">
            <div class="hero-inner">
              <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="true">
          <div class="container">
            <div class="hero-inner">
              <router-outlet></router-outlet>
              <app-illustration></app-illustration>
            </div>
          </div>
        </div>
      </section>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>