<div class="center-loading" *ngIf="loadingDataForDropdown">
    <mat-progress-spinner [diameter]="30" class="spinner" color="primary" mode="indeterminate">
    </mat-progress-spinner>
</div>


<div *ngIf="!loadingDataForDropdown">
    <form class="add-new-form" [formGroup]="formGroup">

        <mat-label>Record Name <span class="required-star">*</span></mat-label>
        <mat-form-field class="relative w-full" appearance="outline">
            <input formControlName="formName" matInput required [readonly]="this.data.editing">
            <mat-error>
                <div *ngIf="formGroup.get('formName').touched && formGroup.get('formName').invalid"
                    class='invalid-feedback'>
                    <div *ngIf="formGroup.hasError('required', 'formName')">This field is required.
                    </div>
                </div>
            </mat-error>
        </mat-form-field>

        <mat-label>Name <span class="required-star">*</span></mat-label>
        <mat-form-field class="relative w-full" appearance="outline">
            <input formControlName="name" matInput required [readonly]="this.data.editing">
            <mat-error>
                <div *ngIf="formGroup.get('name').touched && formGroup.get('name').invalid" class='invalid-feedback'>
                  <div *ngIf="formGroup.hasError('required', 'name')">This field is required.
                  </div>
                </div>
              </mat-error>
        </mat-form-field>

        <mat-label>Mobile number <span class="required-star">*</span></mat-label>
        <mat-form-field class="relative w-full" appearance="outline">
            <!-- <input formControlName="mobileNumber" matInput [placeholder]="'Enter Number'" required
                    [readonly]="this.data.editing">
                     -->

            <ngx-mat-intl-tel-input #phoneNumber [onlyCountries]="['in']" [enablePlaceholder]="true" name="mobileNumber"
                describedBy="phoneInput" formControlName="mobileNumber"></ngx-mat-intl-tel-input>

            <mat-error>
                <div *ngIf="formGroup.get('mobileNumber').touched && formGroup.get('mobileNumber').invalid"
                    class='invalid-feedback'>
                    <div *ngIf="formGroup.hasError('maxlength', 'mobileNumber')">Max 10 digits allowed.
                    </div>
                    <div *ngIf="formGroup.hasError('required', 'mobileNumber')">This field is required.
                    </div>
                    <div *ngIf="formGroup.get('mobileNumber').errors.validatePhoneNumber">Not a valid phone number.
                    </div>
                </div>
            </mat-error>
        </mat-form-field>

        <div class="flex justify-between w-full" mat-dialog-actions>
            <button type="button" mat-button (click)="onCancel()">{{this.languageService.language?.popup.cancel}}</button>
            <button type="submit" *ngIf="!isLoading" mat-button color="primary" (click)="onSubmitForm()">
                {{data?.editing ?
                this.languageService.language?.button.update :this.languageService.language?.popup.submit}}
            </button>

            <mat-progress-spinner *ngIf="isLoading" [diameter]="30" class="spinner mr-4" color="primary"
                mode="indeterminate">
            </mat-progress-spinner>
        </div>

    </form>
</div>