<mat-icon mat-dialog-close class="cursor-pointer">close</mat-icon>
<form [formGroup]='form'>
  <mat-dialog-content>
    <div class="py-4  display" fxLayout="column">
      <mat-label>{{this.languageService.language?.popup.new_password}}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput placeholder='Password' type="password" formControlName='password'
          matTooltip="Password needs to be in format: Minimum 6 and maximum 16 characters." matTooltipPosition="after">
        <mat-error *ngIf="form.hasError('required', 'password')">
          {{this.languageService.language?.error.new_password_required}}
        </mat-error>
        <mat-error *ngIf="form.hasError('minlength', 'password')">
          Please enter minimum password of 6 characters.
        </mat-error>
        <mat-error *ngIf="form.hasError('maxlength', 'password')">
          Please enter maximum password of 25 characters.
        </mat-error>
      </mat-form-field>

      <mat-label>{{this.languageService.language?.popup.password_confirmation}}</mat-label>
      <mat-form-field appearance="outline">
        <input matInput placeholder='Confirm Password' type='password' formControlName='confirmPassword'
          [errorStateMatcher]="matcher"
          matTooltip="Password needs to be in format: Minimum 6 and maximum 16 characters." matTooltipPosition="after">
        <mat-error *ngIf="form.hasError('notSame')">
          {{this.languageService.language?.error.password_match}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" class="flex justify-center">
      <button mat-button (click)='cancel()'>Cancel</button>
      <button color="primary" mat-raised-button type="button" [disabled]='!form.valid' (click)='submit()'>Reset</button>
    </div>
  </mat-dialog-content>
</form>