<ng-template #sidenavRef>
  <exai-sidenav [collapsed]="sidenavCollapsed$ | async"></exai-sidenav>
</ng-template>

<ng-template #toolbarRef>
  <exai-toolbar [hasShadow]="toolbarShadowEnabled$ | async"
               [mobileQuery]="!(isDesktop$ | async)"
               class="exai-toolbar"></exai-toolbar>
</ng-template>

<ng-template #footerRef>
  <exai-footer *ngIf="isFooterVisible$ | async" class="exai-footer"></exai-footer>
</ng-template>

<ng-template #quickpanelRef>
  <exai-quickpanel></exai-quickpanel>
</ng-template>

<exai-layout [footerRef]="footerRef"
            [quickpanelRef]="quickpanelRef"
            [sidenavRef]="sidenavRef"
            [toolbarRef]="toolbarRef"></exai-layout>

<!-- <exai-config-panel-toggle (openConfig)="configpanel.open()"></exai-config-panel-toggle> -->

<!-- CONFIGPANEL -->
<exai-sidebar #configpanel [invisibleBackdrop]="true" position="right">
  <exai-config-panel></exai-config-panel>
</exai-sidebar>
<!-- END CONFIGPANEL -->
