<!-- <ol>
    <li>
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="What's your name?">
      </mat-form-field>
    </li>
    <li>
       
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol> -->
  <div>
    <!-- <div id="card-div">  Add users  </div> -->
    <div id="top">
        <button mat-raised-button (click)="openDialog()">Add User</button>
    </div>
    <!-- <mat-card>

    </mat-card> -->
  </div>


  