<div class="field">
    <div class="NgxEditor__Wrapper example-full-width">
        <!-- <ngx-editor-menu class="editor-menu-floating" [editor]="editor"> </ngx-editor-menu> -->
        <ngx-editor minHeight="30px" [editor]="editor" [(ngModel)]="item.html" [disabled]="true"
            [placeholder]="'Type here...'">
        </ngx-editor>
    </div>

    <!-- <div class="actions-buttons">
        <span dndHandle class="material-icons-outlined">
            drag_indicator
        </span>
        <span (click)="removeEmitted.emit(item)" style="color: rgb(218, 108, 108);" class="material-icons-outlined">
            clear
        </span>
    </div> -->
</div>