.card-result-wrapper {
    display: block;
    perspective: 1000px;
  }
  
  .card {
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    margin-top: 5rem;
  }
  
  .face {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    backface-visibility: hidden;
    will-change: transform;
    background-color: #fff;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }
  
  .front {
    transform: rotateY(180deg);
  }
  
  .card-flip-actions {
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.loading-spinner {
    width: 100%;
    min-height: calc(80vh - 4rem);
    display: flex;
    padding-top: 5rem;
    justify-content: center;
}

// .card-preview.card-preview-save {
//     background-color: transparent;
//     box-shadow: none;
//     perspective: 0px;
// }

.card-preview-save {
  position: static;
  right: 21rem;
  bottom: 0.7rem;
  z-index: 110;
  background-color: #fff;
  padding: 0.85rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  z-index: 110;
  color: rgb(104, 104, 104);
  transition: 0s all;
}

.card-result-wrapper.readonly-form::after {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  content: '';
  top: 0;
  left: 0;
  cursor: not-allowed;
}
