<mat-progress-bar class="globalProgress" *ngIf="loadingUserData" mode="indeterminate"></mat-progress-bar>
<div class="card-result-wrapper"  [ngClass]="{ 'readonly-form': isPreview }">
<div class="card"
    [ngStyle]="{ 'width.mm': cardSizeConfiguration.width, 'height.mm': cardSizeConfiguration.height, 'border-radius.mm': cardSizeConfiguration.borderRadius}" [@cardFlip]="data.state">

    <!-- FRONT AND BACK SIDE -->
    <ng-container *ngFor="let part of cardParts">

        <div class="face" 
        [style.backgroundRepeat]="part.imageData.imageRepeat"
        [style.backgroundPosition]="part.imageData.imagePosition"
        [style.backgroundSize]="part.imageData.imageSize"
        [style.backgroundImage]="'url('+ part.imageData?.imageContent +')'"
        [style.borderColor]="part.borderColor"
        [style.borderWidth.px]="part.borderWidth"
        [ngClass]="{ 'back': part.type === 'back', 'front': part.type === 'front' }"  

        [formGroup]="generatedForm" >

            <!-- ELEMENTS OF CARD SIDE -->
            <ng-container *ngFor="let element of part.elements">
                
                <ng-container [ngSwitch]="element.elementType">
    
                    <ng-container *ngSwitchCase="'card-image'">
                        <exai-card-builder-result-elements [item]="element">
                        </exai-card-builder-result-elements>
                    </ng-container>

                    <ng-container *ngSwitchCase="'editor'">
                        <exai-card-builder-result-elements [item]="element">
                        </exai-card-builder-result-elements>
                    </ng-container>

                    <ng-container *ngSwitchCase="'form'">
                        <exai-card-builder-control [formControlName]="element | controlName" [item]="element">
                        </exai-card-builder-control>
                    </ng-container>

                </ng-container>

            </ng-container>


        </div>

    </ng-container>
</div>

</div>
<div class="card-flip-actions">
    
    <button mat-mini-fab (click)="cardClicked()"><mat-icon>flip</mat-icon></button>

    <button *ngIf="!isPreview && !isCreate && !isEdit" [disabled]="!generatedForm.valid || submittingForm" (click)="submitForm()" class="ml-5" mat-raised-button color="primary"><mat-icon>save</mat-icon> Save</button>
</div>