<div class="p-4">
    <div class="card">
        <exai-basic-table [layoutCtrl]="layoutCtrl" [isLoading]="isLoading" [searchValues]="searchValues"
            [searchCtrl]="searchCtrl" [dataSource]="dataSource" [columns]="columns" [trackByProperty]="trackByProperty"
            [visibleColumns]="visibleColumns" tableTitle="Reports" (removeEvent)="remove($event)"
            (downloadWordEvent)="downloadWord($event)" [downloadEnabled]="downloadEnabled" (addEvent)="add($event)"
            (appendToSearchEvent)="appendToSearch($event)" (dropEvent)="drop($event)"
            (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)" [reportsSearch]="false"
            (openSelectDatesDialogEvent)="openSelectDatesDialog()" [reportsActions]="true" (previewRecordEvent)="previewRecord($event)">
        </exai-basic-table>
        <mat-paginator #paginator [length]="length" [pageSize]="10" [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </div>
</div>