<div *ngIf="!viewLoading; else spinner">
  <div class="flex justify-between" fxLayout="auto">
    <div class="flex justify-start">
      <h1 mat-dialog-title>Edit User</h1>
    </div>
    <div class="flex justify-end" mat-dialog-close>
      <mat-icon class="cursor-pointer">close</mat-icon>
    </div>
  </div>
  
  <form [formGroup]='form' *ngFor='let data of getView'>
    <mat-dialog-content>
      <div class="px-6 py-4" fxLayout="column">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
          <div class="display">
            <mat-label>{{this.languageService.language?.popup.role}}</mat-label>
            <mat-form-field appearance='outline' fxFlex="auto">
              <mat-select placeholder='Role' formControlName="role">
                <mat-option *ngFor="let n of role" [value]="n.id" (click)='click(n.id)'>
                  {{n.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="display">
            <mat-label>{{this.languageService.language?.division.div}}</mat-label>
            <mat-form-field appearance='outline' fxFlex="auto">
              <mat-select placeholder='Division' [compareWith]="selectComparision"
                (selectionChange)='getOptionsForChild($event,2)' formControlName="division">
                <mat-option *ngFor="let exam of getDivision" [value]="exam">
                  {{exam.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
    
        </div>
    
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
          <div class="display">
            <mat-label>{{this.languageService.language?.subdivision.sub_div}}</mat-label>
            <mat-form-field appearance='outline'>
              <mat-select placeholder='Sub Division' (selectionChange)='getOptionsForChild($event,3)'
                formControlName="subdivision" >
                <mat-option *ngFor="let exam of getSubdivison" [value]="exam">
                  {{exam.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="display">
            <mat-label>{{this.languageService.language?.policestation.ps}}</mat-label>
            <mat-form-field appearance='outline'>
              <mat-select placeholder='Police Station' formControlName='policestation'
                (selectionChange)="selectStation($event)">
                <mat-option *ngFor="let exam of getPoliceStation" [value]='exam'>
                  {{exam.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
          <div class='display'>
            <mat-label>{{this.languageService.language?.popup.user_name}}</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder='user Name' formControlName="username" [(ngModel)]='data.username'>
            </mat-form-field>
          </div>
          <div class="display">
            <mat-label>{{this.languageService.language?.popup.first_name}}</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder='First Name' formControlName="firstname" [(ngModel)]='data.firstname'>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
          <div class='display'>
            <mat-label>{{this.languageService.language?.popup.last_name}}</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder='Last Name' formControlName="lastName" [(ngModel)]='data.lastname'>
            </mat-form-field>
          </div>
          <div class="display">
            <mat-label>{{this.languageService.language?.popup.phone_number}}</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder='Phone Number' type='tel' formControlName="phone" [(ngModel)]='data.phone'>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
          <div class='display'>
            <mat-label>{{this.languageService.language?.popup.email}}</mat-label>
            <mat-form-field appearance="outline">
              <input type='email' matInput placeholder='emailId' formControlName="emailId" [(ngModel)]='data.emailId'>
            </mat-form-field>
          </div>
        </div>
    
        <div mat-dialog-actions class="flex justify-center">
          <button mat-button (click)='cancel()'>{{this.languageService.language?.button.cancel}}</button>
          <button color="primary" mat-raised-button type="button" [disabled]='!form.valid' (click)='updates()'>{{this.languageService.language?.button.update}}</button>
        </div>
      </div>
    </mat-dialog-content>
   
  </form>
</div>


<ng-template #spinner>
  <div class="w-full flex justify-center">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
</div>
</ng-template>