<div mat-dialog-content>
  <img [src]="data.url">
</div>
<div class="mt-4 flex justify-end" mat-dialog-actions>
  <button type="button" mat-stroked-button color="accent" mat-dialog-close>Close</button>
</div>