<div class="card">
    <exai-basic-table [canAddEntry]="canAddEntry" [canChangeStatus]="canChangeStatus" [layoutCtrl]="layoutCtrl" [superAdmin]="superAdmin"
        [searchValues]="searchValues" [searchCtrl]="searchCtrl" [dataSource]="dataSource" [slideTooltip]="'config'"
        [isLoading]="isLoading" [columns]="columns" [addButtonTooltip]="'Add New Form'"
        [trackByProperty]="trackByProperty" [visibleColumns]="visibleColumns"
        [tableTitle]="this.languageService.language?.createform.Config_Forms" [configFormsActions]="true"
        (addEditPoliceStationEvent)="addEditPoliceStation($event)" (updateStatusEvent)="updateStatus($event)"
        (updateFormEvent)="updateForm($event)" (createFormEvent)="createForm()"
        (downloadWordEvent)="downloadWord($event)" (removeEvent)="remove($event)" (addEvent)="add($event)"
        (appendToSearchEvent)="appendToSearch($event)" (dropEvent)="drop($event)"
        (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)"
        (deleteFormEvent)="deleteForm($event)"
        (cloneFormEvent)="cloneForm($event)"></exai-basic-table>
    <mat-paginator #paginator [length]="length" [pageSize]="10" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>

    <mat-spinner style="margin-left: auto;" *ngIf="statusToggleLoading" class="mr-8" [diameter]="30"></mat-spinner>
</div>
<div>

</div>