.style {
    border-collapse: collapse;
    width: 60%;
    margin-left: 10%;
  }
  
  .style td, .style th {
    border: 1px solid;
    padding: 8px;
  }
  
  .style tr:nth-child(even)
  {background-color: #f2f2f2;}
  
  .style tr:hover 
  {background-color: #ddd;}
  
  .style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    
  }

  input {
    width: 45%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .addbutton {
    text-align: center;
    min-width: 190px;
    margin-left: 56px;
  }
  
.addData{
    border-collapse: collapse;
    width: 60%;
    border: 1px solid;
    margin-left: 10%;
}
.card-div{
    text-align: center;

}
.mat-card
{
min-width: 800px !important;
}