<div class="field">
    <div class="example-full-width">
        <button  *ngIf="item.buttonType === 'submit'" mat-raised-button color="primary">Submit</button>

    </div>

    <div class="actions-buttons">
        <span dndHandle class="material-icons-outlined">
          drag_indicator
          </span>
          <span (click)="removeEmitted.emit(item)" style="color: rgb(218, 108, 108);" class="material-icons-outlined">
            clear
          </span>
      </div>
</div>