<!-- <h2 class="text-center">View Template</h2> -->

    <!-- <h2 class="text-center">View Template</h2> -->
    
<!-- <div style="margin-left: 600px">
    <span style="margin-bottom:10px;">Annexure</span> &nbsp;
    
</div> -->
<div id="UpdateForm" >
    <form action="" form-container>
       
        <div class="form-container"> 
            <div class="margin-10">
                <div class="row lead">
                    <div class="col-lg-8">

                        Edit Form
                    </div>
                    <div class="col-lg-6">
                        <button   id='savebtn' class="btn btn-main" >Save</button>
                        <button id='btnSaveAndSubmit' class="btn btn-main" >Save And Submit</button>
                        <button   id='btnBack' class="btn btn-main" >Back</button>
                    </div>
                </div>
                <div class="row frame-border">
                    <form id='static'>
                        <div id="frameID" class="frame"></div>
                    </form>   
                   <!--  <form method="post" action="" id="myForm">
                        <input type="text" value="1234" />
                        <input type="text" value="1234fd" />
                        <input type="text" value="1234as" />
                        <input type="text" value="1234gf" />
                        <input type="submit" value="Send" id="submit" />
                    </form> -->
                </div>
            </div>
            
        </div>
    </form>
</div>

<!-- <div class="iframe" >
    <form action="" id="sData" form-container>
    <p class="ten">Loading...</p>
    <button type="button" id="savebtn" style="margin-bottom:20px;" >Save</button>
    <div id="frameID" style="width: 70vw; height: 180vh;"></div>
    </form>

</div> -->

<!-- function Say_Hello() {
    alert("Hello Poftut.com")
     -->
<!-- <div >
    
</div> -->

<!-- margin-left: 0px;margin-top:0vh; -->
<!-- overflow-y: scroll; -->
<!-- style="margin-top:10px;margin-bottom: 30px;" -->