<input type="file"  class="btn btn-success" value="Import XLSX" name="xlfile" id="xlf" />
        <input type="submit"  class="btn btn-success"value="Export to XLSX!" id="xport" disabled="true">
        <button id="share" class="btn btn-success"> Share </button>
        <div id="dropdownList">
            <span id="close-btn">&times;</span>
                <div class="container">
                    <select multiple data-multi-select-plugin id="sel">
                        <option value="">Select</option>
                    </select>                    
                </div>
               <br/>
        </div>
        <br/>
        <input type="button" class="btn btn-submit" id="btnBack" value="Back"/>

        <br/>
        <div id="x-spreadsheet-demo"></div>