


 
 
      <div class="form-container">
        <div class="margin-location">
          <div class="row location">
            <div class="col-lg-10 lead ">
              Divisions
           </div>

            <div class="col-lg-3">
              <button type="submit" id="openForm" class="btn btn-main">
                <i class="fa fa-plus"></i> Add Division
              </button>
            </div>
            <div class="col-lg-4>">
              <button type="submit" id="editopenForm" class="btn btn-main">
                <i class="fa fa-pencil"></i> Edit Division
              </button>
            </div>
            <div class="col-lg-5">
              <button type="submit" id="deleteopenForm" class="btn btn-main">
                <i class="fa fa-trash"></i> Delete Division
              </button>
          </div>
          </div>
          <div class="row">
            <table id="grid-table"></table>
            <div id="grid-pager"></div>
          </div>
          <div></div>
        </div> 

      </div>  
  


      <div id="AddForm" title="Add Division">
        <form action="" class="form-container">

          <table>
            <tr>
              <td style="padding-left: 5px;">            
               <label>Division:</label>
            </td>
              <td style="padding-left: 5px;">            
                  <input type="text" placeholder="Enter Division" name="location" id="locationinput" required class="form-control" >
              </td>
              
            </tr>
            <tr>
              <td colspan="2" class="center">
                <br/>
                <button type="submit" style="margin-right: 20px;
                position: relative;
                left: 7px;" id="savelocationBtn"  type="submit" class="btn btn-main">Save</button>
              </td>
            </tr>
          </table>
          </form>
      </div>

 
      <div id="EditForm" title="Edit Division">
        <form action="" class="form-container">
          <table>
            <tr>
              <td style="padding-left: 5px;">            
                <label>Division:</label>
             </td>
              <td style="padding-left: 5px;">            
                <input type="text" placeholder="Enter Division" name="location" id="editlocationinput"  class="form-control" required>
              </td>
              
            </tr>
            <tr>
              <td colspan="2" class="center">
                <br/>
                <button type="submit" style="margin-right: 20px;
                position: relative;
                left: 7px;" id="saveeditBtn" class="btn btn-main">Save</button>
              </td>
            </tr>
          </table>
          </form>
      </div>

      <div id="deleteForm" title="Warning!!">
        
        <form action="" class="form-container">
          <table>
            <tr>
              <td style="padding-left: 5px;">            
                <label for="locations"><b>Are you sure you want to delete</b></label>
              </td>
              
            </tr>
            <tr>
              <td colspan="2" class="center">
                <br/>
                <button type="submit" style="margin-right: 20px;
                position: relative;
                left: 7px;"  id="deleteBtn" class="btn btn btn-danger">Delete</button>
              </td>
            </tr>
          </table>
            <h1></h1>
           
            <span id="deletelocationinput"></span>
            <!-- <input type="text" placeholder="Enter Location" name="location" id="deletelocationinput" required>  -->
           
            <!-- <button type="button" id="cancelBtn" class="btn cancel" onclick="closeForm()">Close</button> -->
          </form>
      </div>