<div class="container">
    <br/>
    <div class="row">
        <div class="col-sm-3"><h2>Login</h2></div>
    </div>
    <br/>
    <div class="row">
        <form class="col-lg-3 col-sm-6" id="myForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" id="txtEmailId" aria-describedby="emailHelp" placeholder="Enter username">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="txtPassword" placeholder="Password">
            </div>
            <input type="submit" id="btnSubmit" class="btn btn-main" value="Login" />
        </form>
    </div>
   
</div>