      <div class="form-container">
        <div class="margin-police">
          <div class="row location">
            <div class="col-lg-10 lead ">
             Police-Station
           </div>

            <div class="col-lg-4">
              <button type="submit" id="openForm" class="btn btn-main">
                <i class="fa fa-plus"></i> Add Station
              </button>
            </div>
            <div class="col-lg-4>">
              <button type="submit" id="stationeditopenForm" class="btn btn-main">
                <i class="fa fa-pencil"></i> Edit Station
              </button>
              
            </div>
            <div class="col-lg-4">
              <button type="submit" id="stationdeleteopenForm" class="btn btn-main">
                <i class="fa fa-trash"></i> Delete Station
              </button>
          </div>
          </div>
          <div class="row">
            <table id="policeStationgrid-table"></table>
            <div id="policeStationgrid-pager"></div>
          </div>
          <div></div>
        </div> 

      </div>

<div id="stationAddForm"  title="Add Police-Station">
    <form action="" class="form-container">
      <table>
        <tr>
          <td style="padding-left: 5px;">            
            <label>Police Station:</label>
         </td>
          <td style="padding-left: 5px; padding-bottom: 15px;">            
            <input class="form-control" type="text" placeholder="Enter Police Station" name="subdivision" id="policestationinput" required>
          </td> 
          <td style="padding-left: 35px;">            
            <label>Division:</label>
         </td>
          <td style="padding-left: 5px;" >            
            <select class="form-control" id="policelocations" value="0" ><option selected="selected">--Select Division--</option></select>  
          </td>          
        </tr>
        <tr>
          <td style="padding-left: 5px;">            
            <label>Sub-Division:</label>
         </td>
          <td style="padding-left: 5px; padding-bottom: 15px;">            
            <select class="form-control" id="policesubdivisions" value="0"><option>--Select Subdivions	--</option></select> 
          </td>       
    
        </tr>
        <tr>
          <td colspan="2" class="center">
            <br/>
            <button style="margin-right: 20px;
            position: relative;
            left: 7px; " id="policesaveBtn" class="btn btn-main">Save</button>
          </td>
        </tr>
      </table>
      </form>
  </div>

  <div id="stationEditForm" title="Edit Police-Station">
    <form action="" class="form-container">
      <table>
        <tr>
          <td style="padding-left: 5px;">            
            <label>Police Station:</label>
         </td>
          <td style="padding-left: 5px; padding-bottom: 15px;" >            
            <input class="form-control" type="text" placeholder="Enter Region" name="location" id="policepopupsubdivisioninput" required> 
          </td>  
          <td style="padding-left: 35px;">            
            <label>Division:</label>
         </td>
          <td style="padding-left: 5px;">            
            <select class="form-control" id="editlocationPolice"><option></option></select>  
          </td>         
        </tr>
        <tr>
          <td style="padding-left: 5px;">            
            <label>Sub-Division:</label>
         </td>
          <td style="padding-left: 5px; padding-bottom: 15px;">            
            <select class="form-control" id="subdivisionspopuppolice"><option></option></select>  
          </td>          
        </tr>
        <tr>
          <td colspan="2" class="center">
            <br/>
            <button style="margin-right: 20px;
            position: relative;
            left: 7px; " id="policesaveeditBtn" class="btn btn-main">Save</button>
          </td>
        </tr>
      </table>
        <!-- <button type="button" id="cancelBtn" class="btn cancel" onclick="closeForm()">Close</button> -->
      </form>
  </div>
  <div id="policedeleteForm" title="Attention!!">
    <form action="" class="form-container">
      <table>
        <tr>
          <td style="padding-left: 5px;">            
            <label for="locations"><b>Are you sure you want to delete</b></label>
          </td>
          
        </tr>
        <tr>
          <td colspan="2" class="center">
            <br/>
            <button type="submit"style="margin-right: 20px;
            position: relative;
            left: 7px;" id="policedeleteBtn" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </table>
        <!-- <span id="subdeletelocationinput"></span>
        <button type="submit" id="subdeleteBtn" class="btn">Delete</button> -->
        <!-- <button type="button" id="cancelBtn" class="btn cancel" onclick="closeForm()">Close</button> -->
      </form>
  </div>

 
