
<div id="UpdateForm" >
    <form action="" form-container>
       
        <div class="form-container">
            <div class="margin-10">
                <div class="row">
                    <div class="col-lg-6">

                        <label id="lblName"></label>
                    </div>
                    <div class="col-lg-6">
                        Status : <label id="lblStatus"></label>
                    </div>
                    
                    
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-6">
                        <button class="btn btn-main" id="btnApprove">Approve</button>
                        <button  class="btn btn-main"  id="btnReject">Reject</button>
                    </div>
                </div>
                
                <br/>
                <div class="row frame-border">
                    <form id='static'>
                        <div id="frameID" class="frame"></div>
                    </form>   
                   
                </div>
            </div>
            
        </div>
    </form>
</div>
