
      <div class="form-container">
        <div class="margin-subdivision">
          <div class="row location">
            <div class="col-lg-10 lead ">
              Sub-Division
           </div>

            <div class="col-lg-3">
              <button type="submit" id="openForm" class="btn btn-main">
                <i class="fa fa-plus"></i> Add Division
              </button>
            </div>
            <div class="col-lg-4>">
              <button type="submit" id="subeditopenForm" class="btn btn-main">
                <i class="fa fa-pencil"></i> Edit Division
              </button>
            </div>
            <div class="col-lg-5">
                
              <button type="submit" id="subdeleteopenForm" class="btn btn-main">
                <i class="fa fa-trash"></i> Delete Division
              </button>
          </div>
          </div>
          <div class="row">
              <table id="grid-table"></table>
              <div id="grid-pager"></div>
          </div>
          <div></div>
        </div> 

      </div>  
  
<div id="subAddForm" title="Add Sub-Division">
    <form action="" class="form-container">
      <table>
        <tr>   
          <td style="padding-left: 5px;">            
            <label>Division:</label>
         </td>
          <td style="padding-left: 5px;">            
            <select class="form-control"  id="subaddlocations" value="0">
              <option>--Select Division--</option></select>  
          </td>  
          <td style="padding-left: 5px;">            
            <label>Sub-Division:</label>
         </td>
          <td style="padding-left: 5px; " >            
            <input class="form-control" type="text" placeholder="Enter Sub-Division" name="subdivision" id="subdivisioninput" required>
          </td>       
        </tr>
        <tr>
          <td colspan="2" class="center">
            <br/>
            <button style="margin-right: 20px;
            position: relative;
            left: 7px; " id="subsaveBtn" class="btn btn-main">Save</button>
          </td>
        </tr>
      </table>
        
        
        
      </form>
  </div>

  <div id="subEditForm" title="Edit Sub-Division">
    <form action="" class="form-container">
      <table>
        <tr>        
          <td style="padding-left: 5px;">            
            <label>Division:</label>
         </td>
          <td style="padding-left: 5px;">            
            <select class="form-control" id="locationspopup"><option></option></select>  
          </td>  
          <td style="padding-left: 5px;">            
            <label>Sub-Division:</label>
         </td>
          <td style="padding-left: 5px;" >            
            <input class="form-control" type="text" placeholder="Enter Sub-Division" name="location" id="popupsubdivisioninput" required>
          </td>   
        </tr>
        <tr>
          <td colspan="2" class="center">
            <br/>
            <button type="submit"style="margin-right: 20px;
            position: relative;
            left: 7px; " id="subsaveeditBtn"  id="subsaveeditBtn" class="btn btn-main">Save</button>
          </td>
        </tr>
      </table>
      </form>
  </div>
  <div id="subdeleteForm" title="Warning!!">
    <form action="" class="form-container">
      <table>
        <tr>
          <td style="padding-left: 5px;">            
            <label for="locations"><b>Are you sure you want to delete</b></label>
          </td>
          
        </tr>
        <tr>
          <td colspan="2" class="center">
            <br/>
            <button type="submit"style="margin-right: 20px;
            position: relative;
            left: 7px;" id="subdeleteBtn" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </table>

     
        <!-- <button type="button" id="cancelBtn" class="btn cancel" onclick="closeForm()">Close</button> -->
      </form>
  </div>


