<div class="form-container">
  <div class="margin-user">
    <div class="row">
      <div class="col-lg-7 lead ">
        User-Management
      </div>

      <div class="col-lg-4">
        <button type="submit" id="openForm" class="btn btn-main">
          <i class="fa fa-plus"></i> Add User
        </button>
      </div>
      <div class="col-lg-4">
        <button type="submit" id="usereditopenForm" class="btn btn-main">
          <i class="fa fa-pencil"></i> Edit User
        </button>

      </div>
      <div class="col-lg-4">
        <button type="submit" id="userdeleteopenForm" class="btn btn-main">
          <i class="fa fa-trash"></i> Delete User
        </button>
      </div>
      <div class="col-lg-4">
        <button type="submit" id="resetPasswordForm" class="btn btn-main">
          <i class="fa fa-undo"></i> Reset Password
        </button>
      </div>
    </div>
    <div class="row">
      <table id="usergrid-table"></table>
      <div id="usergrid-pager"></div>
    </div>
    <div></div>
  </div>

</div>







<!-- <button class="open-button" id="openForm">Add User</button>
<button class="open-button" id="usereditopenForm">Edit User</button>  
<button class="open-button" id="userdeleteopenForm">Delete User</button>   -->

<div id="userstationAddForm" class="margin-10" title="Add User">
  <form id="userform" action="" class="form-container">
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Role:</label>
      </div>
      <div class="col-lg-6">
        <select class="form-control" id="users" value="0">
          <option selected="selected">--Select User Role--</option>
        </select>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label id="regionlabel">Division:</label>
      </div>
      <div class="col-lg-6">
        <select class="form-control" id="userpolicelocations" value="0">
          <option selected="selected">--Select Division--</option>
        </select>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label id="sublabel">Sub Division:</label>
      </div>
      <div class="col-lg-6">
        <select class="form-control" id="userpolicesubdivisions" value="0">
          <option>--Select Subdivions--</option>
        </select>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label id="policelabel">Police Station:</label>
      </div>
      <div class="col-lg-6">
        <select class="form-control" id="userpolicesStations" value="0">
          <option>--Select Police Stations--</option>
        </select>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Username:</label>
      </div>
      <div class="col-lg-6">
        <input type="text" class="form-control" placeholder="Enter User Name" name="subdivision" id="userinput"
          required>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Firstname:</label>
      </div>
      <div class="col-lg-6">
        <input class="form-control" type="text" placeholder="Enter First Name" name="subdivision" id="firstnameinput"
          required>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Lastname:</label>
      </div>
      <div class="col-lg-6">
        <input class="form-control" type="text" placeholder="Enter Last Name" name="subdivision" id="lastnameinput"
          required>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Phone:</label>
      </div>
      <div class="col-lg-6">
        <input class="form-control" type="number" placeholder="Enter Phone" name="subdivision" id="phone" required>
      </div>
    </div>

    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Email:</label>
      </div>
      <div class="col-lg-6">
        <input class="form-control" type="text" placeholder="Enter Email ID" name="subdivision" id="emailid" required>
      </div>
    </div>

    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Password:</label>
      </div>
      <div class="col-lg-6">
        <input type="password" class="form-control" placeholder="Enter Password" name="subdivision" id="password"
          required>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Confirm Password:</label>
      </div>
      <div class="col-lg-6">
        <input type="password" class="form-control" placeholder="Re-Enter Password" name="subdivision"
          id="confirmpassword" required>
      </div>
    </div>
    <div style="margin-top: 7px;" id="CheckPasswordMatch"></div>
    </br>

    <div class="row">
      <div class="col-lg-offset-3 col-lg-6">
        <button type="submit" id="usersaveBtn" class="btn btn-main">Save</button>
      </div>
      </br>
    </div>
    <!-- <table>
          <tr>
              <td colspan="2" class="center">
                <br/>
                <button style="margin-right: 20px;
                position: relative;
                left: 7px; " id="" class="btn btn-main">Save</button>
              </td>
            </tr>
          </table> -->
  </form>
</div>

<div id="userEditForm" title="Edit User">
  <form class="form-container" class="form-container">
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Role:</label>
      </div>
      <div class="col-lg-6">
        <select class="form-control" id="editusers" value="0">
          <option selected="selected">--Select User Role--</option>
        </select>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label id="regionlabeledit">Division:</label>
      </div>
      <div class="col-lg-6">
        <select class="form-control" id="locationspopupuser">
          <option></option>
        </select>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label id="subdiveditlabel">Subdivision:</label>
      </div>
      <div class="col-lg-6">
        <select class="form-control" id="subdivisionspopupuser">
          <option></option>
        </select>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label id="policeeditlabel">Police-Station:</label>
      </div>
      <div class="col-lg-6">
        <select class="form-control" id="policeStationpopupuser">
          <option></option>
        </select>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Username:</label>
      </div>
      <div class="col-lg-6">
        <input class="form-control" type="text" placeholder="Enter User" name="location" id="edituser" required>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Firstname:</label>
      </div>
      <div class="col-lg-6">
        <input class="form-control" type="text" placeholder="Enter First Name" name="subdivision"
          id="editfirstnameinput" required>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Lastname:</label>
      </div>
      <div class="col-lg-6">
        <input class="form-control" type="text" placeholder="Enter Last Name" name="subdivision" id="editlastnameinput"
          required>
      </div>
    </div>
    </br>

    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Email:</label>
      </div>
      <div class="col-lg-6">
        <input class="form-control" type="text" placeholder="Enter Email ID" name="subdivision" id="editemailidpopup"
          required>
      </div>
    </div>

    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Phone:</label>
      </div>
      <div class="col-lg-6">
        <input class="form-control" type="number" placeholder="Enter Phone" name="subdivision" id="editphone" required>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-offset-9 col-lg-6">
        <button type="submit" id="usersaveeditBtn" class="btn btn-main">Save</button>
      </div>
    </div>


    <!-- 
        <table>
     
              <td colspan="2" class="center">
                <br/>
                <button style="margin-right: 20px;
                position: relative;
                left: 7px; " id="" class="btn btn-main">Save</button>
              </td>
            </tr>
          </table> -->
    <!-- <button type="button" id="cancelBtn" class="btn cancel" onclick="closeForm()">Close</button> -->
  </form>
</div>
<div id="userEditPassworrdForm" title="Reset Password">
  <form class="form-container" class="form-container">
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Password:</label>
      </div>
      <div class="col-lg-6">
        <input type="password" class="form-control" placeholder="Enter Password" name="subdivision" id="editpassword"
          required>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-3 col-form-label">
        <label>Confirm Password:</label>
      </div>
      <div class="col-lg-6">
        <input type="password" class="form-control" placeholder="Re-Enter Password" name="subdivision"
          id="editconfirmpassword" required>
      </div>
    </div>
    <div style="margin-top: 7px;" id="editCheckPasswordMatch"></div>
    </br>
    <div class="row">
      <div class="col-lg-offset-9 col-lg-6">
        <button type="submit" id="resetBtn" class="btn btn-main">Reset</button>
      </div>
    </div>
  </form>
</div>

<div id="userdeleteForm" title=" Warning!!">
  <form action="" class="form-container">
    <table>
      <tr>
        <td style="padding-left: 5px;">
          <label for="locations"><b>Are you sure you want to delete</b></label>
        </td>

      </tr>
      <tr>
        <td colspan="2" class="center">
          <br />
          <button type="submit" style="margin-right: 20px;
                position: relative;
                left: 7px;" id="userdeleteBtn" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
    <!-- <button type="button" id="cancelBtn" class="btn cancel" onclick="closeForm()">Close</button> -->
  </form>
</div>

<div class="margin-user">
  <table id="usergrid-table"></table>
  <div id="usergrid-pager"></div>
</div>