<div >
    <div id="AddForm" title="Add Form">
        <form action="" id="sData" form-container>
    
            <div class="row">
                <div class="col-lg-3 col-form-label">
                    <label for="name">Template</label> 
                </div>
                <div class="col-lg-9">
                    <select name="template" class="form-control  wid-100" id="template">
                        <option value="" selected="selected">Select Template</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 col-form-label ">
                    <label for="name">Form Name</label> 
                </div>
                <div class="col-lg-9">
                    <input type="text" placeholder="Enter Form Name" class="form-control" name="name" id="nameinput" required>
    
                </div>
            </div>
    
            </br>
            
            <div class="col-lg-offset-3 col-lg-9">
                <button type="submit" id="saveBtn" class="btn btn-main">Save</button>
            </div>
        </form>
    </div>
    <div class="form-container">
        <div class="margin-10">
            <div class="row">
                <div class="col-lg-10 lead">
                    Forms
                </div>
                <div class="col-lg-2">
                    <button type="submit" id="openForm" class="btn btn-main">
                        <i class="fa fa-plus"></i> Add Forms
                    </button>
                </div>
            </div>
            <div class="row col-lg-12">
                <table class="table table-striped">
                    <thead scope="row" class="thead-dark">
                        <th scope="col">Id</th>
                        <th scope="col">Template</th>
                        <th scope="col">Template Type</th>
                        <th scope="col">Police Station</th>
                        <th scope="col">Form Name</th>
                        <th scope="col">Form Status</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Created On</th>
                        <th scope="col">Modified By</th>
                        <th scope="col">Modified On</th>
                        <th scope="col">Actions</th>
                        </tr>
                        <tbody id="tblBody" class="bg-white">
                            <tr>
                                <td colspan="8" class="text-center">Loading ..</td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>