
<div id="AddTemplate" title="Add Template">
    <form action="" id="sData">
        <div class="row">
            <div class="col-lg-3 col-form-label">
                <label for="name">Name</label> 
            </div>
            <div class="col-lg-6">
                <input type="text" placeholder="Enter Name" name="name" class="form-control" id="name" required>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3 col-form-label">
                <label for="file">File</label> 
            </div>
            <div class="col-lg-6">
              
                <div >
                    <input type="file" class="" id="xlf" lang="es">
                    <!-- <label class="custom-file-label" for="filenameinput">Select Template</label> -->
                  </div>
            </div>
            <div style="display: none;" id="x-spreadsheet-demo"></div>
            
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3 col-form-label">
                <label for="region">Division</label> 
            </div>
            <div class="col-lg-6">
                <select multiple="multiple" class="wid-100" name="place" id="place">
                    <option value="" selected="selected">Select Division</option>
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3 col-form-label">
                <label for="subdev">Sub-Division</label> 
            </div>
            <div class="col-lg-6">
                <select multiple name="subdev" class="wid-100" id="subdev">
                    <option value="" selected="selected">Select Sub-Division</option>
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3 col-form-label">
                <label for="subdev">Police-Station</label> 
            </div>
            <div class="col-lg-6">
                <select multiple name="dept" class="wid-100" id="dept">
                    <option value="" selected="selected">Select Police-Station</option>
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <button type="submit" id="saveBtn" class="btn btn-main">Save</button>
            </div>
        </div>
    </form>
</div>

<div class="form-container">

    <div class="margin-10">
        <div class="row">

            <div class="col-lg-10 lead ">
                Templates
             </div>
             <div class="col-lg-2">
                 <button type="submit" id="openForm" class="btn btn-main">
                     <i class="fa fa-plus"></i> Add Template
                 </button>
             </div>
           
        </div>  
            <div class="row">
                <div class="col-lg-12">
    
                    <table id="tblTemplate" class="table table-striped">
                        <thead scope="row" class="thead-dark">
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Template Type</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Modified By</th>
                            <th scope="col">Modified On</th>
                            <th scope="col">Action</th>
                            </tr>
                        <tbody id="tblBody" class="bg-white">
                            <tr>
                                <td colspan="8" class="text-center">Loading ..</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>    
</div>

