<!-- <h2 class="text-center">View Template</h2> -->

    <!-- <h2 class="text-center">View Template</h2> -->
    
<!-- <div style="margin-left: 600px">
    <span style="margin-bottom:10px;">Annexure</span> &nbsp;
    
</div> -->
<div id="UpdateForm" >
    <form action="" form-container>
       
        <div class="form-container">
            <div class="margin-10">
                <div class="row lead">
                    View Template
                </div>
                <div class="row frame-border">
                    <div id="frameID" class="frame"></div>
                </div>
            </div>
            
        </div>
    </form>
</div>

<!-- <div class="iframe" >
    <form action="" id="sData" form-container>
    <p class="ten">Loading...</p>
    <button type="button" id="savebtn" style="margin-bottom:20px;" >Save</button>
    <div id="frameID" style="width: 70vw; height: 180vh;"></div>
    </form>

</div> -->

<!-- function Say_Hello() {
    alert("Hello Poftut.com")
     -->
<!-- <div >
    
</div> -->

<!-- margin-left: 0px;margin-top:0vh; -->
<!-- overflow-y: scroll; -->
<!-- style="margin-top:10px;margin-bottom: 30px;" -->