<div class="form-container">


    <div class="container">
        <div class="row">
            <div class="col form-title">
                <h3>Form</h2>
                    <br />
                </div>
            
            <table class="table table-striped">
                <thead scope="row" class="thead-dark">
                    <th scope="col">Id</th>
                    <th scope="col">Template</th>
                    <th scope="col">Form Name</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Created On</th>
                    <th scope="col">Edit</th>
                    </tr>
                    <tbody id="tblBody" class="bg-white">
                        <tr>
                            <td colspan="5" class="text-center">Loading ..</td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>