.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.example-chip-list {
  width: 100%;
}

.hide {
  opacity: 0;
}

.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.mat-chip-list-wrapper {
  flex-wrap: wrap !important;
}


::ng-deep .mat-chip-input {
  flex: 0 0 42px !important;
}

::ng-deep .mat-chip-list[aria-label="mat-chip-list"] .mat-chip-list-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  .mat-chip {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center
  }
}