<h1 mat-dialog-title>Please enter the name and type of the column </h1>
<div mat-dialog-content>
  <mat-form-field class="w-full">
    <mat-label>Enter a name</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.columnName" panelClass="panel-bellow">
  </mat-form-field>

  <div class="flex">
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Select a type</mat-label>
      <mat-select [(ngModel)]="data.type" [disableOptionCentering]="true" panelClass="panel-bellow">
        <mat-option *ngFor="let type of typesList" [value]="type.type">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="data.type === 'dropdown'">
    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Enter label names</mat-label>
      <mat-chip-list class="mat-chip-list-stacked flex flex-col items-center" cdkDropList
        cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)" #chipList aria-label="Fruit selection">
        <mat-chip cdkDrag class="w-full mb-4 m-x-4 p-2 flex justify-between items-center chip-new-line"
          *ngFor="let element of data.dropdownData; let index = index" (removed)="remove(index, data.dropdownData)"
          [ngClass]="{'hide': selectedItem === index}" (dblclick)="editField(index)">
          <p>{{element.name}}</p>
          <button type="button" matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder="New Element..." #chipsInput class="ch-input" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (keydown.enter)="add()">
      </mat-chip-list>
    </mat-form-field>
  </div>

  <div *ngIf="data.type === 'file'">
    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Remove unwanted file types</mat-label>
      <mat-chip-list aria-label="mat-chip-list" class="flex flex-col" #chipList>
        <mat-chip aria-label="mat-chip" *ngFor="let type of fileTypes; let index = index"
          (removed)="remove(index, fileTypes)">
          <p>{{type}}</p>
          <button type="button" matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <mat-hint>At least one file type is required</mat-hint>
    </mat-form-field>

    <mat-form-field class="mt-4 w-full" appearance="fill">
      <mat-label>Set the max size of the file in MB</mat-label>
      <input matInput type="number" min="1" max="5" class="w-full" [(ngModel)]="fileSize">
      <button type="button" *ngIf="fileSize && fileSize !== 2" matSuffix mat-icon-button aria-label="Clear" (click)="fileSize=2">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Maximum 5MB</mat-hint>
    </mat-form-field>
  </div>

  <div *ngIf="data.type === 'time'">
    <mat-label>Select time format:</mat-label>
    <mat-radio-group aria-label="Select time format" [(ngModel)]="data.format">
      <mat-radio-button *ngFor="let format of timeFormats" [value]="format" class="m-2" color="primary">{{ format }}h
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- Math operations start -->
  <div *ngIf="data.type === 'mathOperations'">
    <mat-label>Please select wanted operation</mat-label>
    <mat-form-field class="w-full py-0  border-y-0" appearance="fill">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let column of mathOperationsListToDisplay; let index = index" (dblclick)="editOperator()"
          (removed)="removeOperation(index)">
          {{column.label}}
          <button type="button" matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input #menuTrigger="matMenuTrigger" [disabled]="!mathOperationsColumns.length"
          [matMenuTriggerFor]="mathOperationsData.length % 2 == 0 ? mathOperationsColumnsMenu : mathOperationsListMenu"
          placeholder="Set Formula" [matChipInputFor]="chipList" [readonly]="true">
      </mat-chip-list>
    </mat-form-field>
    <mat-error *ngIf="!mathOperationsColumns.length">
      Please Add Number Type Column to Continue
    </mat-error>

    <mat-menu #mathOperationsColumnsMenu="matMenu">
      <ng-container *ngFor="let column of mathOperationsColumns; let index = index">
        <button type="button" mat-menu-item (click)="append(column.label, column.property); menuTrigger.closeMenu()">
          {{ column.label }}</button>
      </ng-container>

    </mat-menu>
    <mat-menu #mathOperationsListMenu="matMenu">
      <ng-container *ngFor="let operator of mathOperationsList">
        <button type="button" mat-menu-item (click)="appendOperator(operator); menuTrigger.closeMenu()">
          {{ operator }}</button>
      </ng-container>
    </mat-menu>
  </div>
  <!-- Math operations end -->

</div>
<div mat-dialog-actions class="w-full flex justify-end">
  <button type="button" mat-button (click)="onClose()">Close</button>
  <button type="button" mat-button [disabled]="data.type === 'file' && !fileTypes.length || (fileSize > 5 || fileSize < 1)"
    (click)="confirm()">Ok</button>
</div>