<div class="p-4">
<div class="card">
    <exai-basic-table [layoutCtrl]="layoutCtrl" [searchValues]="searchValues" [searchCtrl]="searchCtrl" [canBulkImport]="canBulkImport"
        [buttonModifyLabel]="this.languageService.language?.button.modify"
        [buttonResetLabel]="this.languageService.language?.button.reset_password" [isLoading]="isLoading"
        [dataSource]="dataSource" [columns]="columns" [trackByProperty]="trackByProperty" [userManageActions]="true"
        [visibleColumns]="visibleColumns" [tableTitle]="this.languageService.language?.manageuser.manage_user"
        (removeEvent)="remove($event)" (addEvent)="add($event)" (appendToSearchEvent)="appendToSearch($event)"
        (updateStatusEvent)="updateStatus($event)" (dropEvent)="drop($event)" (openEditEvent)="openEditNew($event)" (downloadBulkImportTemplateEvent)="downloadBulkImportTemplate()"
        (openResetEvent)="openReset($event)" (createUserEvent)="createUser()" (bulkAddUsersEvent)="bulkAddUsers($event)" (bulkAddFileUploadedEvent)="bulkImport($event)"
        (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)" (deleteFormEvent)="deleteUser($event)" (downloadWordEvent)="downloadWord($event)"></exai-basic-table>
    <mat-paginator #paginator [length]="length" [pageSize]="10" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
</div>
</div>