<div class="logo m-4">
  <img src="../../../assets/img/demo/ER-logo-f.svg" alt="ExamRoom_Logo">
</div>
<div class="login bg-pattern w-full h-full" fxLayout="column" fxLayoutAlign="center center">
    <div class="card overflow-hidden w-full max-w-xs">
      <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
        <div class="login fill-current text-center">
          <img class="w-16" src="https://cracku.in/latest-govt-jobs/wp-content/uploads/2020/05/Karnataka-Police-Logo.png">
        </div>
      </div>
  
      <div class="text-center mt-4">
        <h2 class="title m-0">{{this.languageService.language?.login.reset_pass}}</h2>
        <h4 class="body-2 text-secondary m-0">{{this.languageService.language?.login.enter_otp}}</h4>
      </div>
  
      <div [formGroup]="form" class="p-6 flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>{{this.languageService.language?.login.otp1}}</mat-label>
  
          <mat-icon  class="mr-2" matPrefix></mat-icon>
          <input (keyup.enter)="otpVerify(form.value)" formControlName="otp" maxlength="6" (keypress)="keyPressNumbers($event)" matInput required>
          <mat-error *ngIf="form.get('otp').hasError('required')">
            Enter valid OTP
          </mat-error>
        </mat-form-field>
  
        <button (click)="otpVerify(form.value)" class="mt-2" color="primary" mat-raised-button type="button">
          {{this.languageService.language?.button.verify}}
        </button>
      </div>
    </div>
  </div>
  