<div
    class="card merge-data absolute z-50 flex flex-col items-center border border-solid border-slate-900 p-4 mt-4">
    <button type="button" class="self-end" cdkDrag cdkDragRootElement=".merge-data" cdkDragHandle>
        <mat-icon>drag_indicator</mat-icon>
    </button>
    <h4 class="text-center">Please select which {{ data.event }} to merge using columns and rows as X and Y axis (Default value is
        1)</h4>
    <div class="w-full flex justift-between mt-4">
        <div class="w-1/2 px-2">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Select Column</mat-label>
                <mat-select name="column" [(ngModel)]="startingColumn">
                    <mat-option *ngFor="let column of columnsForSelection" [value]="column.label">
                        {{column.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w-1/2 px-2">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Select Row number</mat-label>
                <mat-select [(ngModel)]="data.result.rowIndex">
                    <mat-option *ngFor="let row of data.rows; let index = index" [value]="index">
                        {{index + 1}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>


    <mat-radio-group class="flex w-full my-4" [(ngModel)]="mergeAction">
        <mat-radio-button color="primary" class="mr-4" *ngFor="let action of mergeActions" [value]="action">
            {{action}}
        </mat-radio-button>
    </mat-radio-group>

    <div class="w-full" *ngIf="mergeAction === 'Merge'">
        <div class="w-full flex flex-col">
            <mat-label>Vertical</mat-label>
            <div class="w-full flex justift-between mt-4">
                <div class="w-1/2 px-2">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Direction</mat-label>
                        <mat-select [(ngModel)]="mergeDirections.upDown">
                            <mat-option *ngFor="let option of vertical" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="w-1/2 px-2">
                    <mat-form-field *ngIf="mergeDirections.upDown === 'Downwards'; else upwards" class="w-full"
                        appearance="fill">
                        <mat-label>
                            <mat-icon class="mr-2">arrow_downward</mat-icon> Down
                        </mat-label>
                        <input matInput type="number" min="1" [(ngModel)]="data.result.cellNumberDown">
                    </mat-form-field>
                    <ng-template #upwards>
                        <mat-form-field class="w-full" appearance="fill">
                            <mat-label>
                                <mat-icon class="mr-2">arrow_upwards</mat-icon> Up
                            </mat-label>
                            <input matInput type="number" min="1" [(ngModel)]="data.result.cellNumberUp">
                        </mat-form-field>
                    </ng-template>
                </div>


            </div>
        </div>

        <div class="w-full flex flex-col">
            <mat-label>Horizontally</mat-label>
            <div class="w-full flex justift-between mt-4">
                <div class="w-1/2 px-2">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Form Column</mat-label>
                        <input disabled type="text" matInput [(ngModel)]="startingColumn">
                    </mat-form-field>

                </div>

                <div class="w-1/2 px-2">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>To Column</mat-label>
                        <mat-select (selectionChange)="setDirections($event)" [(ngModel)]="endColumn">
                            <ng-container *ngFor="let column of columnsForSelection">
                                <mat-option *ngIf="column?.label !== startingColumn" [value]="column.label">
                                    {{column.label}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    
    <div *ngIf="mergeAction === 'Merge'; else unmergeButtons">
        <mat-error class="justify-center" *ngIf="validDirectionNumbers">Please Validly fill all Values</mat-error>
        <mat-error class="justify-center" *ngIf="!startingColumn || data.result.rowIndex === null">Please Select Column
            and Row Number</mat-error>
        <div class="flex justify-center">
            <button type="button" mat-button color="primary" (click)="closeMergeDataComponentHandler()">Cancel</button>
            <button type="button" mat-button color="primary" [disabled]="(!startingColumn || data.result.rowIndex === null) || validDirectionNumbers" (click)="applyMergeDataValuesHandler()">Confirm</button>
        </div>
    </div>
    
    <ng-template #unmergeButtons>
        <mat-error class="justify-center" *ngIf="!isMergedCell && startingColumn">This cell is not merged</mat-error>
        <div>
            <button type="button" mat-button color="primary" (click)="closeMergeDataComponentHandler()">Cancel</button>
            <button type="button" mat-button color="primary" [disabled]="!isMergedCell" (click)="unmergeDataValuesHandler()">Reset Merge</button>
        </div>
    </ng-template>
</div>