.settings-modal {
    width: 600px;
    min-height: 600px;
    background-color: var(--background-card);
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.settings-form {
    width: 100%;
    height: 37.5rem;
    padding: 2rem 0.8rem;
}

.example-full-width {
    width: 100%;
}