.settings-modal {
    width: 600px;
    background-color: var(--background-card);
    border-radius: 8px;
    position: relative;
}

.settings-form {
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.example-full-width {
    width: 100%;
}