<div class="settings-modal">
    <div class="settings-form">
        <ejs-richtexteditor (created)="refreshUi()" [toolbarSettings]='tools' [insertImageSettings]="imageSettings" #textEditorRef [(ngModel)]="item.html">
        </ejs-richtexteditor>
      </div>
    
</div>
    