<h1 mat-dialog-title>Please enter header name</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Enter Text</mat-label>
    <input matInput [(ngModel)]="data.name" cdkFocusInitial>
  </mat-form-field>
</div>
<div mat-dialog-actions class="flex w-full justify-end">
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data">Confirm</button>
</div>