.ruler {
    position:absolute;
    top: 0;
    left: 0;
}
.ruler.horizontal {
    left: 0px;
    width: 100%;
    height: 30px;
    z-index: 49;
}
.ruler.vertical {
    top: 0px;
    width: 30px;
    height: 100%;
    z-index: 49;
}

.card-wrapper {
    position: relative;
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background: #444;
    box-sizing: border-box;
    z-index: 21;
}

.box:before, .box:after {
    position: absolute;
    content: "";
    background: #777;
}
.box:before {
    width: 1px;
    height: 100%;
    left: 100%;
}
.box:after {
    height: 1px;
    width: 100%;
    top: 100%;
}

.card-content {
    margin: 2rem;

    position: relative;

    & div {
        position: relative;
    }
}

.card-front {
    background-color: #fff;
}
.card-back {
    background-color: #fff;
}

.card-configuration-styles {
    position: absolute;
    top: 7rem;
    right: 3rem;
    z-index: 10000;
}

.card-front-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 5rem;

    &:hover .informations {
        display: flex;
    }
}


.focus {
    outline: 1px solid rgb(144, 189, 227);
    outline-offset: 5px;
}

.informations {
    position: absolute;
    bottom: -2.3rem;
    left: 0;
    border-bottom: 1px solid rgb(221, 221, 221);
    width: 100%;
    font-size: 0.7rem;
    color: rgb(115, 115, 115);
    padding: 0.1rem;
    display: flex;
    justify-content: space-between;

    & mat-icon {
        font-size: 1rem;
        height: 1rem;
        width: 1rem;
        cursor: pointer;
    }
}   

.card-preview {
    position: fixed;
    right: 21rem;
    bottom: 1rem;
    z-index: 110;
    background-color: #fff;
    padding: 0.85rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    z-index: 110;
    color: rgb(104, 104, 104);
}

.loading-spinner {
    width: 100%;
    min-height: calc(80vh - 4rem);
    display: flex;
    padding-top: 5rem;
    justify-content: center;
}

.card-actions-general {
    position: absolute;
    right: 3rem;
    top: 3em;
    z-index: 110;
    background-color: #fff;
    padding: 0.85rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    z-index: 110;
    color: rgb(104, 104, 104);
    display: flex;
}

.minimize-button-icon {
    cursor: pointer;
    display: flex;
}

.form-content-component {
    padding: 1.5rem;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
}

.card-preview.move-zoom-in {
    bottom: 5rem;
}