<div *ngIf="loadedData; else loadingForm" class="card-wrapper">

    <ng-container *ngIf="!approveRejectConfiguration">

        <exai-card-builder-items [hidden]="cardPreview" (actionClickedEmit)="actionClicked($event)">
        </exai-card-builder-items>

        <div *ngIf="!(this.isPreview || this.isFill)">
            <div class="box"></div>
            <div class="ruler horizontal" [zoomObserver]="cardBuilderElements.zoom" exaiGuides
                [rulerDirection]="rulerDirection.horizontal"></div>
            <div class="ruler vertical" [zoomObserver]="cardBuilderElements.zoom" exaiGuides
                [rulerDirection]="rulerDirection.vertical"></div>
        </div>

        <div *ngIf="cardSizeConfigurationActive" class="card-configuration-styles">
            <exai-card-builder-size [cardSizeConfiguration]="cardSizeConfiguration"></exai-card-builder-size>
        </div>

        <div>
            <exai-card-builder-zoom></exai-card-builder-zoom>
        </div>

        <div [style.zoom]="zoomTransform">

            <div id="card-print-section" [@fadeInUp] *ngIf="!cardPreview">

                <div exaiMoveable [draggableOnly]="true" class="card-front-wrapper" (click)="focusedElement(part.type)"
                    *ngFor="let part of cardParts">

                    <exai-card-builder-part [cardSizeConfiguration]="cardSizeConfiguration" [part]="part"
                        [focusCardSide]="focusCardSide">
                    </exai-card-builder-part>

                </div>

            </div>

            <div [@fadeInUp] *ngIf="cardPreview">

                <exai-card-builder-result [cardConfiguration]="cardBuilderElements.cardConfiguration">
                </exai-card-builder-result>

            </div>

        </div>
    </ng-container>

    <ng-container *ngIf="approveRejectConfiguration">

    <div class="form-content-component">
        <app-form-builder-approve-reject></app-form-builder-approve-reject>
    </div>

</ng-container>

    <ng-container  *ngIf="!approveRejectConfiguration">

    <div *ngIf="!(this.isPreview || this.isFill)" class="card-preview"  [ngClass]="{ 'move-zoom-in': isFooterFixed$ | async }">
        <mat-checkbox class="check-inputs" [(ngModel)]="cardPreview">Card Preview</mat-checkbox>
    </div>

</ng-container>

    <div exaiMoveable [draggableOnly]="true" class="card-actions-general">

        <div class="minimize-button-icon">
            <mat-icon [matTooltip]="minimizeActions ? 'Maximize Actions' : 'Minimize Actions'" (click)="minimizeActions = !minimizeActions" fontSet="material-icons-outlined">
                {{ minimizeActions ? 'add' : 'minimize'}}
            </mat-icon>
        </div>
        <ng-container *ngIf="!minimizeActions">

            <button mat-raised-button class="ml-3" (click)="printFile()">
                <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
                    print
                </mat-icon>
                <span>Print</span>
            </button> 
            <button [style.display]="'none'" #buttonPrint mat-raised-button class="ml-3"  styleSheetFile="assets/print-styles/print-styles-card.css"  [useExistingCss]="true" printSectionId="card-print-section" ngxPrint>
                <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
                    print
                </mat-icon>
                <span>Print</span>
            </button> 

        <button *ngIf="!(isFill || isPreview)" mat-raised-button class="ml-3"
            (click)="approveRejectConfiguration = !approveRejectConfiguration">
            <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
                {{ !approveRejectConfiguration ? 'check_circle' : 'credit_card' }}
            </mat-icon>
            <span> {{ !approveRejectConfiguration ? 'Approve/Reject' : 'Card Builder' }} </span>
        </button>

        <button *ngIf="!(isFill || isPreview)" mat-raised-button class="ml-3" (click)="cloneForm()">
            <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
                copy_all
            </mat-icon>
            <span>Clone</span>
        </button>

        <button *ngIf="!isCreate" class="ml-3 mr-3" (click)="backForm()" mat-stroked-button color="warn">
            <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
                not_interested
            </mat-icon>
            <span>Cancel</span>
        </button>

        <div class="flex justify-center items-center" *ngIf="!(isFill || isPreview)">

            <button *ngIf="isCreate" (click)="cancelForm()" mat-stroked-button color="warn">
                <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
                    not_interested
                </mat-icon>
                <span>Cancel</span>
            </button>

            <mat-progress-spinner  *ngIf="loading$ | async"  [diameter]="25" class="spinner ml-4" color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
    
    
    
          <button class="ml-3"  *ngIf="!(loading$ | async)"  (click)="save()" mat-raised-button color="primary">
            <mat-icon fontSet="material-icons-outlined" class="material-icons-outlined mr-3">
              save
            </mat-icon>
            <span>Save</span>
          </button>
    
        </div>

    </ng-container>
    </div>
</div>

<ng-template #loadingForm>
    <div class="loading-spinner">
        <mat-spinner [diameter]="70"></mat-spinner>
    </div>
</ng-template>

<div [hidden]="true">
<ng-template (attached)="cardPrintPortalAttach($event)" [cdkPortalOutlet]="cardPrintPortal"></ng-template>
</div>