<div class="hero-copy">
    <div class="main-body mat-elevation-z15" style="padding:5rem 3rem 0rem;">
        Super Admin Dashboard
        <div style="display:flex;flex-direction:column;margin:1.7 0rem;">
            <div>Super Admin Actions:<br>
                <button matRipple matButton (click)="createNewTest()"
                    class="button button-primary button-shadow mat-elevation-z2">
                    Create New Test
                </button>
            </div>
        </div>
        <div style="display:flex;flex-direction:column; width:-webkit-fill-available;margin:1.7rem 0rem;overflow-y:auto!important;height:70vh">
            Created Tests:
            <div><br>
                <mat-accordion [displayMode]="'flat'" [multi]="true" #accordion="matAccordion">
                    <mat-expansion-panel class="eventExpansion" *ngFor="let test of tests;let i = index"
                        class="mat-elevation-z5" style="width:92%; margin:0.7rem 1.4rem">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="title">
                                {{test.testName}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><span class="title">Item Set Name </span> : {{test.questionItemSet?.questionItemSetName}}
                        </p>
                        <p><span class="title">Item Set Calibrated</span> : {{test.questionItemSet?.isCaliberated ?
                            "Yes" : "No"}} </p>
                        <p><span class="title">Next Step</span> : Unknown</p>
                        <p><span class="title">Actions</span> :
                            <button style="margin-left:1rem" matRipple matButton
                                class="button button-primary button-shadow mat-elevation-z2">
                                View Complete Details
                            </button>
                            <button style="margin-left:1rem" matRipple matButton
                                class="button button-primary button-shadow mat-elevation-z2">
                                Go to Next Step
                            </button>
                            <button style="margin-left:1rem; background:rgba(146, 21, 21, 0.87)"
                                (click)="deleteTest(test)" matRipple matButton
                                class="button button-primary button-shadow mat-elevation-z2">
                                Delete Complete Test Data
                            </button>
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>