<div class="p-4">
    <div class="card">
        <exai-basic-table [layoutCtrl]="layoutCtrl" [isLoading]="isLoading" [searchValues]="searchValues"
            [searchCtrl]="searchCtrl" [dataSource]="dataSource" [columns]="columns" [trackByProperty]="trackByProperty"
            [visibleColumns]="visibleColumns" tableTitle="Primary Keys" (removeEvent)="remove($event)"
            [downloadEnabled]="false" (addEvent)="add($event)" (appendToSearchEvent)="appendToSearch($event)"
            (dropEvent)="drop($event)" (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)"
            [reportsSearch]="false" [primaryKeyActions]="true" [addButtonTooltip]="'Add Primary Key'"
            (downloadWordEvent)="downloadWord($event)" [downloadEnabled]="true"
            (createPrimaryKeyEvent)="createPrimaryKey($event)" (updatePrimaryKeyEvent)="updatePrimaryKey($event)"
            (deletePrimaryKeyEvent)="deletePrimaryKey($event)">
        </exai-basic-table>
        <mat-paginator #paginator [length]="length" [pageSize]="10" [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </div>
</div>