:host {
  bottom: 0;
  display: block;
  width: 100%;
  z-index: var(--footer-z-index);
}

.footer {
  background-color: var(--toolbar-background)!important;
  color: var(--footer-color);
  height: var(--footer-height);
  // padding-left: var(--padding);
  // padding-right: var(--padding);
  position: relative;
  z-index: var(--footer-z-index);
}

.facebook {
  width: 2.1rem;
}