<!-- <div class="footer w-full jusify-between px-gutter shadow-none" fxLayout="row" fxLayoutAlign="start center"
  exaiContainer>

  <div class="flex absolute flex copy-left pt-0" fxFlex="auto" fxLayout="row" fxLayoutAlign="start center"
    exaiContainer>

    <a href="https://www.linkedin.com/company/examroomai">
      <img src="../../../assets/img/Icons/LinkedIn.svg" class="pl-14">
    </a>
    <a href="https://www.facebook.com/examroomai24x7/">
      <img src="../../../assets/img/Icons/FaceBook.svg" class="pl-4">
    </a>
    <a href="https://twitter.com/examroomai?lang=en">
      <img src="../../../assets/img/Icons/Twitter.svg" class="pl-4">
    </a>
 
  </div>

  <div class="absolute flex copy-right" fxHide fxShow.gt-xs>
    &copy; 2021 Copyright Protected
  </div>

</div> -->

<div class="footer w-full flex justify-end items-center w-full px-gutter shadow-none"
  exaiContainer>

  <div class="flex absolute flex copy-left pt-0" fxFlex="auto" fxLayout="row" fxLayoutAlign="start center"
    exaiContainer>

    <!-- <a href="https://www.linkedin.com/company/examroomai">
      <img src="../../../assets/img/Icons/LinkedIn.svg" class="pl-8 w-12">
    </a>
    <a href="https://www.facebook.com/examroomai24x7/">
      <img src="../../../assets/img/Icons/FaceBook.svg" class="pl-6 facebook">
    </a>
    <a href="https://twitter.com/examroomai?lang=en">
      <img src="../../../assets/img/Icons/Twitter.svg" class="pl-6 w-10">
    </a> -->
 
  </div>

  <div fxHide fxShow.gt-xs>
    &copy; 2021 Copyright Protected
  </div>

</div>