<div class="h-12 border-b flex items-center justify-between">
  <div class="h-full mb-2 flex items-center">
    <h2 *ngIf="showTitle" class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
      fxHide.xs>
      <span>{{ formName }}</span>
    </h2>

    <div *ngIf="showEditSelectedButton !== false && selection.hasValue()" class="mr-4 pr-4 border-r" fxFlex="none">
      <!-- <button (click)="itemsActionHandler(selection.selected, 'deleteSelected')" mat-icon-button
        matTooltip="Delete selected" type="button">
        <mat-icon>delete</mat-icon>
      </button> -->
      <ng-container *ngIf="showConfirmSelectedButton">
        <button (click)="itemsActionHandler(selection.selected, 'editSelected')" mat-icon-button
          *ngIf="!showEditSelected" matTooltip="Edit Selected Rows" type="button">
          <mat-icon>edit</mat-icon>
        </button>

        <button (click)="itemsActionHandler(selection.selected, 'confirmSelected')" mat-icon-button
          *ngIf="showEditSelected" matTooltip="Confirm Selected Rows" type="button">
          <mat-icon>check_circle</mat-icon>
        </button>
      </ng-container>

      <button mat-icon-button matTooltip="Delete Selected" type="button"
        (click)="itemsActionHandler(selection.selected, 'deleteSelected')">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <div class="h-full p-x-2 overflow-hidden w-80 w-700 child-pt-0 flex items-center">
      <mat-form-field class="w-700 py-0 border-y-0" appearance="fill">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let value of searchValues" (removed)="removeHandler(value)">
            {{value}}
            <button type="button" matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input [matMenuTriggerFor]="columnsForSearch" placeholder="Search..." class="p-2" [formControl]="searchCtrl"
            [matChipInputFor]="chipList" type="text" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addHandler($event)">
        </mat-chip-list>
      </mat-form-field>

      <mat-menu #columnsForSearch="matMenu">
        <button type="button" mat-menu-item *ngFor="let column of columns"
          (click)="appendToSearchHandler(column.label)">{{
          column.label }}</button>
      </mat-menu>
    </div>

    <button type="button" mat-button [matMenuTriggerFor]="tableColumns" *ngIf="allFilterValues.length >= 1">List of
      filters</button>
    <mat-menu #tableColumns="matMenu">
      <ng-container *ngFor="let column of columns; let columnIndex = index">
        <button type="button" *ngIf="column.filterRules && column.filterRules.length > 0" mat-menu-item
          [matMenuTriggerFor]="tableColumnName">{{ column.label }}</button>
        <mat-menu class="flex" #tableColumnName="matMenu">
          <ng-container>
            <mat-chip-list #chipList>
              <mat-chip class="flex justify-center items-center" mat-menu-item
                *ngFor="let item of column.filterRules; let filterIndex = index">
                {{item.filterType.label}} - {{ item.filterValue }}
                <button type="button" class="flex justify-center items-center" matChipRemove
                  (click)="clearFilterRulesHandler(item.columnProperty, item.filterType, column, filterIndex, false)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>
          </ng-container>
        </mat-menu>
      </ng-container>
    </mat-menu>

    <div class="mr-4 border-r">
      <button (click)="clearAllFiltersHandler()" mat-icon-button *ngIf="allFilterValues.length >= 1"
        matTooltip="Clear All Filters" type="button">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>

  <div class="flex items-center h-full ">
    <!-- <div class="flex ml-2">
      <label id="example-radio-group-label">Always Expand Rows</label>
      <mat-slide-toggle class="ml-2" color="primary" [(ngModel)]="summeryVisibility"
        (ngModelChange)="setSummeryVisibilityHandler()">
      </mat-slide-toggle>
    </div> -->

    <mat-menu #textAlignment>
      <button type="button" mat-button (click)="changeTableTextStyle('text-left')" matTooltip="Align Left">
        <mat-icon> format_align_left</mat-icon>
      </button>
      <button type="button" mat-button (click)="changeTableTextStyle('text-center')" matTooltip="Align Center">
        <mat-icon> format_align_center</mat-icon>
      </button>
      <button type="button" mat-button (click)="changeTableTextStyle('text-right')" matTooltip="Align Right">
        <mat-icon> format_align_right</mat-icon>
      </button>
      <button type="button" mat-button (click)="changeTableTextStyle('justify')" matTooltip="Align Justify">
        <mat-icon> format_align_justify</mat-icon>
      </button>
    </mat-menu>




    <!-- <div class="h-full flex self-end items-end"> -->
    <button type="button" class="ml-4 flex items-center h-full" matTooltip="Align Text"
      [matMenuTriggerFor]="textAlignment">
      <div class="flex" [ngSwitch]="textAlignmentSwitch">
        <mat-icon *ngSwitchCase="'text-right'"> format_align_right</mat-icon>
        <mat-icon *ngSwitchCase="'text-center'"> format_align_center</mat-icon>
        <mat-icon *ngSwitchCase="'justify'"> format_align_justify</mat-icon>
        <mat-icon *ngSwitchDefault> format_align_left</mat-icon>
      </div>
    </button>

    <!-- Merge Data Options -->
    <button type="button" *ngIf="showMergeButton" [matMenuTriggerFor]="mergeOptions" matTooltip="Merge Data"
      class="ml-4 flex items-center h-full" [disabled]="disableMergeButton">
      <span class="iconify" data-icon="icon-park:merge-cells"></span>
    </button>

    <mat-menu #mergeOptions="matMenu">
      <button type="button" mat-menu-item (click)="mergeDataHandler('headers')">Merge Table Header Rows</button>
      <button type="button" mat-menu-item (click)="mergeDataHandler('data')">
        Merge Table Rows
      </button>
    </mat-menu>

    <button type="button" [matMenuTriggerFor]="columnFilterMenu" class="h-full flex items-center justify-center ml-4"
      matTooltip="Filter Columns" type="button">
      <mat-icon>filter_list</mat-icon>
    </button>


    <!-- Adding columns and additional table rows with th elements -->
    <button type="button" *ngIf="showAddColumn" mat-button [matMenuTriggerFor]="addTableHeaderOrColumn">
      <mat-icon>add_circle</mat-icon>
    </button>
    <mat-menu #addTableHeaderOrColumn="matMenu">
      <button mat-menu-item type="button" (click)="createTableHeaderHandler()" matTooltip="Add Table Header"
        class="h-full ">
        Add Table Header
      </button>
      <button mat-menu-item type="button" (click)="createTableHandler(false)" matTooltip="Add Column" class="h-full">
        Add Column
      </button>
    </mat-menu>

    <!-- <div *ngIf="showAddColumn">
      <button type="button" (click)="createTableHandler(false)" matTooltip="Add Column"
        class="h-full flex items-center justify-center ml-4">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button type="button" (click)="createTableHandler(false)" matTooltip="Add Column Header"
        class="h-full flex items-center justify-center ml-4">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div> -->

    <button type="button" *ngIf="showAddRowButton" (click)="addRowHandler()" matTooltip="Save and Add New Record"
      class="h-full flex items-center justify-center ml-4">
      <mat-icon>add_circle</mat-icon>
    </button>

    <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
      <button type="button" (click)="toggleColumnVisibilityHandler(column, $event)"
        *ngFor="let column of columnsForFilter" class="checkbox-item mat-menu-item">
        <mat-checkbox style="pointer-events: none;" [(ngModel)]="column.visible" color="primary">
          <p *ngIf="column.label.length < 1; else checkboxColumn">Unset</p>
          <ng-template #checkboxColumn>
            <p>{{ column.label }}</p>
          </ng-template>
        </mat-checkbox>
      </button>
    </mat-menu>

    <!-- </div> -->
  </div>
</div>