td {
  padding-left: 0;
}

td p {
  overflow-wrap: anywhere;
}

textarea {
  height: 36px;
  min-width: 250px;
  padding: 0.5rem !important;
}

.mat-form-field-underline {
  display: none;
}

.transition {
  transition: all 0.25s ease;
}

::ng-deep .mb-1-3 {
  margin-bottom: -1.3rem;
}

table {
  width: 100%;
}

.example-list {
  width: 1000px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-menu-item .mat-icon {
  height: unset;
  margin-right: 0;
}

.mat-menu-panel {
  min-height: unset;
}

#rating-value {
  width: 110px;
  margin: 40px auto 0;
  padding: 10px 5px;
  text-align: center;
  box-shadow: inset 0 0 2px 1px rgba(46, 204, 113, 0.2);
}

/*styling star rating*/
.wrapper-star {
  border: none;
  float: left;
}

.wrapper-star > input {
  display: none;
}

.wrapper-star > label:before {
  content: "\f005";
  font-family: FontAwesome;
  margin: 5px;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.wrapper-star > .half:before {
  content: "\f089";
  position: absolute;
  cursor: pointer;
}

.wrapper-star > label {
  color: #ddd;
  float: right;
  cursor: pointer;
}

.wrapper-star > input:checked ~ label,
.wrapper-star:not(:checked) > label:hover,
.wrapper-star:not(:checked) > label:hover ~ label {
  color: #2ce679;
}

.wrapper-star > input:checked + label:hover,
.wrapper-star > input:checked ~ label:hover,
.wrapper-star > label:hover ~ input:checked ~ label,
.wrapper-star > input:checked ~ label:hover ~ label {
  color: #2ddc76;
}

::ng-deep .child-pt-0 .mat-form-field-flex {
  padding-top: 0 !important
}
 