<div class="settings-modal"  [@transformPopover]>
    <mat-tab-group>
        <mat-tab label="General Settings">
            <div class="settings-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Title</mat-label>
                    <input [disabled]="item.grouped || item.verticalGrouped" [required]="true" [(ngModel)]="item.groupName" type="text" matInput>
                </mat-form-field>

                <section class="example-section">
                    <mat-checkbox [disabled]="!item.groupName || item.verticalGrouped" [checked]="item.grouped" (change)="makeAsGroup($event)">Make as Group</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox [disabled]="!item.groupName || item.grouped" [checked]="item.verticalGrouped" (change)="makeAsVerticalGroup($event)">Make as Vertical Group</mat-checkbox>
                </section>

                <mat-error class="mt-5" style="font-size: 0.8rem;" *ngIf="item.grouped || item.verticalGrouped">You Can't Add Or Remove Items from this Group</mat-error>
            </div>

        </mat-tab>
    </mat-tab-group>
</div>