<div class="settings-modal" [@transformPopover]>
    <mat-tab-group>
        <mat-tab label="General Settings">
            <div class="settings-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Label ( Hidden but important for data storing )</mat-label>
                    <input [(ngModel)]="item.label" type="text" matInput>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Placeholder</mat-label>
                    <input [(ngModel)]="item.placeholder" type="text" matInput>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Mask</mat-label>
                    <input [(ngModel)]="item.mask" type="text" matInput>
                </mat-form-field>
                <div class="masks-options">
                    <div (click)="addMask('(000) 000-0000')" class="mask-option">
                        <mat-icon>phone</mat-icon>
                    </div>
                    <div (click)="addMask('d0.M0.0000')" class="mask-option">
                        <mat-icon>calendar_today</mat-icon>
                    </div>
                    <div (click)="addMask('0000 0000 0000 0000')" class="mask-option">
                        <mat-icon>credit_card</mat-icon>
                    </div>
                </div>
            </div>

            
        </mat-tab>

        <mat-tab label="Validations">
            <div class="settings-form">

                <div *ngIf="item.type === 'text' || item.type === 'textarea' || item.type === 'number' || item.type === 'email' || item.type === 'phone' || item.type === 'password'"
                    class="form-group">

                    
                <mat-checkbox style="margin-bottom: 0.5rem" class="example-full-width" [(ngModel)]="item.validators.required">Required</mat-checkbox>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Regex</mat-label>
                        <input [(ngModel)]="item.validators.pattern" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Min Length</mat-label>
                        <input [(ngModel)]="item.validators.minLength" type="number" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Max Length</mat-label>
                        <input [(ngModel)]="item.validators.maxLength" type="number" matInput>
                    </mat-form-field>
                </div>

            </div>
        </mat-tab>
        
        <mat-tab label="Styles">
            <div class="settings-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Font Size px</mat-label>
                    <input pattern="[0-9]*" [(ngModel)]="item.styles.fontSize" type="number" matInput>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Padding Size px</mat-label>
                    <input pattern="[0-9]*" [(ngModel)]="item.styles.paddingSize" type="number" matInput>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Border Radius px</mat-label>
                    <input pattern="[0-9]*" [(ngModel)]="item.styles.borderRadius" type="number" matInput>
                </mat-form-field>
                <div class="color-picker-filed">
                    <label>Background Color</label>
                    <div class="color-picker-field-part">
                        <div (click)="toggleBackgroundPicker = !toggleBackgroundPicker" [style.backgroundColor]="item.styles.backgroundColor" class="color-presentation"></div>
                        <input [(cpToggle)]="toggleBackgroundPicker" disabled [(colorPicker)]="item.styles.backgroundColor" type="text">
                    </div>
                </div>
                <div class="color-picker-filed">
                    <label>Border Color</label>
                    <div class="color-picker-field-part">
                        <div (click)="toggleBorderPicker = !toggleBorderPicker" [style.backgroundColor]="item.styles.borderColor" class="color-presentation"></div>
                        <input [(cpToggle)]="toggleBorderPicker" disabled [(colorPicker)]="item.styles.borderColor" type="text">
                    </div>
                </div>
                <div class="color-picker-filed">
                    <label>Text Color</label>
                    <div class="color-picker-field-part">
                        <div (click)="toggleTextPicker = !toggleTextPicker" [style.backgroundColor]="item.styles.textColor" class="color-presentation"></div>
                        <input [(cpToggle)]="toggleTextPicker" disabled [(colorPicker)]="item.styles.textColor" type="text">
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>