.settings-modal {
    width: 350px;
    min-height: 400px;
    background-color: var(--background-card);
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding-bottom: 1rem;
}

.settings-form {
    width: 100%;
    height: 350px;
    padding: 2rem 0.8rem;
}

.example-full-width {
    width: 100%;
}

.color-picker-filed {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    margin-bottom: 0.6rem;
}
.color-picker-field-part {
    display: flex;

    & input {
        // display: none;
        height: 0;
        width: 0;
    }
}

.color-presentation {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 50%;
}

.masks-options {
    display: flex;
    
    & .mask-option {
        border: 1px solid rgb(232, 232, 232);
        border-radius: 50%;
        margin-right: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            color: rgb(255, 131, 131);
        }

        & mat-icon {
            font-size: 1rem;
            height: 1rem;
            width: 1rem;
            color: rgb(146, 146, 146);
        }
    }
}