.mat-icon,
.mat-icon-button .mat-icon {
    font-size: var(--default-icon-size);
    height: unset;
    width: unset;
}

.ic-inline>svg {
    display: inline-block;
}

ic-icon:not(.ic-inline)>svg,
.iconify:not(.ic-inline)>svg {
    margin: 0 auto;
    vertical-align: middle;
}

.exai-scrollblock {
    position: fixed;
    width: 100%;
}

.paginator .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}

.paginator .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0.25em 0 0.25em 0;
}

.paginator .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    padding-top: 1em !important;
}

.table {
    .cardBorder {
        border: var(--border);
        border-radius: var(--border-radius);
        th {
            background-color: var(--table-header);
            color: var(--header-font);
            border-radius: var(--border-radius);
            font-size: medium;
            // position: sticky;
        }
    }
    .card {
        justify-content: space-between !important;
    }
}

.mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.edit-dropdown .mat-form-field-wrapper {
    padding-bottom: 0em !important;
    background-color: white;
}

.edit-dropdown .mat-form-field {
    margin-bottom: 0px;
}

.filter .mat-select-arrow-wrapper {
    display: table-cell;
    vertical-align: middle;
    margin-top: 1rem;
    padding-right: 1.25rem;
}

.basic-card .mat-tab-body-wrapper {
    position: relative;
    /* overflow: hidden; */
    display: flex;
    transition: height 500ms cubic-bezier(0.35, 0, 0.25, 1);
    width: 100% !important;
}