
<div class="card">
    <exai-basic-table
    [layoutCtrl]="layoutCtrl"
    [searchValues]="searchValues"
    [searchCtrl]="searchCtrl"
    [dataSource]="dataSource"
    [isLoading]="isLoading"
    [columns]="columns"
    [trackByProperty]="trackByProperty"
    [visibleColumns]="visibleColumns"
    [tableTitle]="this.languageService.language?.editform.Published_Submitted_Forms"
    [publishFormsActions]="true"
    (removeEvent)="remove($event)"
    (addEvent)="add($event)"
    (downloadWordEvent)="downloadWord($event)"
    (appendToSearchEvent)="appendToSearch($event)"
    (dropEvent)="drop($event)"
    (openEditEvent)="openEdit($event)"
    (toggleColumnVisibilityEvent)="toggleColumnVisibility($event)"
    ></exai-basic-table>
    <mat-paginator #paginator [length]="length" [pageSize]="10"
    [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
</div>