<h1 mat-dialog-title>Please enter your wanted number of columns </h1>
<div mat-dialog-content>
  <mat-form-field class="w-full mb-0">
    <input matInput cdkFocusInitial type="number" min="1" [(ngModel)]="data.enteredNumberColumns">
  </mat-form-field>
</div>
<div mat-dialog-actions class="w-full flex justify-end">
  <button type="button" mat-button (click)="onNoClick()">Close</button>
  <button type="button" mat-button [mat-dialog-close]="data.enteredNumberColumns" >Ok</button>
</div>