<div #container [ngClass]="{ 'focus': focusCardSide === part.type }" [style.width]="cardSizeConfiguration.width + 'mm'"
  [style.height]="cardSizeConfiguration.height + 'mm'" [style.borderRadius]="cardSizeConfiguration.borderRadius + 'mm'"
  class="card-front" [style.backgroundRepeat]="part.imageData.imageRepeat"
  [style.backgroundPosition]="part.imageData.imagePosition"
  [style.borderColor]="part.borderColor"
  [style.borderWidth.px]="part.borderWidth"
  [style.backgroundSize]="part.imageData.imageSize"
  [style.backgroundImage]="'url('+ part.imageData?.imageContent +')'">

  <mat-checkbox *ngIf="focusCardSide === part.type" class="check-inputs" [(ngModel)]="allowInputTyping">Allow Input</mat-checkbox>

  <ng-container *ngFor="let element of part.elements">

    <ng-container [ngSwitch]="element.elementType">
      <ng-container *ngSwitchCase="'form'">

        <exai-card-builder-input (duplicateElementEmitted)="duplicateElement($event)" (removeEmitted)="removeElement($event)" [allowInputTyping]="allowInputTyping"
          [item]="element" [container]="container"></exai-card-builder-input>

      </ng-container>
      <ng-container *ngSwitchCase="'card-image'">

        <exai-card-builder-image (duplicateElementEmitted)="duplicateElement($event)" (removeEmitted)="removeElement($event)" [item]="element" [container]="container">
        </exai-card-builder-image>

      </ng-container>

      <ng-container *ngSwitchCase="'editor'">

        <exai-card-builder-html (duplicateElementEmitted)="duplicateElement($event)" (removeEmitted)="removeElement($event)" [item]="element" [container]="container">
        </exai-card-builder-html>

      </ng-container>

      <ng-container *ngSwitchDefault>This is Default</ng-container>
    </ng-container>

  </ng-container>

</div>
<div class="informations" *ngIf="focusCardSide === part.type">
  <span>{{ part.title }}</span>

  <div class="informations-actions">
    <mat-icon (click)="openImageDialog()">add_photo_alternate</mat-icon>
    <mat-icon exaiPopoverDirective [popoverTrigger]="popover">settings</mat-icon>
  </div>

  <ng-template #popover>
    <exai-card-builder-part-settings style="position: relative;" exaiMoveable [draggableOnly]="true" [item]="part">
    </exai-card-builder-part-settings>
  </ng-template>

</div>