
.card-front-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 2rem;

    &:hover .informations {
        display: flex;
    }
}


.focus {
    outline: 1px solid rgb(144, 189, 227);
    outline-offset: 5px;
}

.informations {
    position: absolute;
    bottom: -3.5rem;
    left: 0;
    border-bottom: 1px solid rgb(221, 221, 221);
    width: 100%;
    font-size: 0.7rem;
    color: rgb(115, 115, 115);
    padding: 0.1rem;
    display: flex;
    justify-content: space-between;

    & mat-icon {
        font-size: 1rem;
        height: 1rem;
        width: 1rem;
        cursor: pointer;
        margin-left: 0.5rem;
    }
}   

.card-front {
    background-color: #fff;
}
.card-back {
    background-color: #fff;
}

.movableObject {
    position: relative;
    width: 100%;
}

.card-input {
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.check-inputs {
    position: absolute;
    right: -20px;
    transform: translateX(100%);
    font-size: 0.8rem;
    color: rgb(87, 87, 87);
}