<div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" [class.collapsed]="collapsed"
  [class.open]="collapsed && collapsedOpen$ | async" class="sidenav cardBorder flex flex-col">

  <div class="px-4 w-full sidenav-toolbar flex-none flex items-center">
    <img class="select-none flex-none mt-4 nav-icon" src="../../../assets/img/demo/kp-logo.png">
    <h2 class="title ltr:pl-4 rtl:pr-4 mt-6 select-none flex-auto">{{ roleName }}</h2>

    <button (click)="toggleCollapse()" *ngIf="showCollapsePin$ | async"
      class="w-8 h-8 -mr-2 leading-none flex-none hidden lg:block" color="primary" mat-icon-button type="button">
      <mat-icon *ngIf="!collapsed" size="14px">
        radio_button_checked
      </mat-icon>
      <mat-icon *ngIf="collapsed" size="14px">
        radio_button_unchecked
      </mat-icon>
    </button>

  </div>

  <exai-scrollbar class="flex-auto">
    <div class="sidenav-items">
      <exai-sidenav-item *ngFor="let item of items; trackBy: trackByRoute" [item]="item" [level]="0">
      </exai-sidenav-item>
    </div>
  </exai-scrollbar>
</div>