<h1 mat-dialog-title>Please enter hyperlink data</h1>

<div mat-dialog-content>
    <mat-form-field class="w-full" appearance="fill">
        <mat-label>Hyperlink name</mat-label>
        <input matInput [(ngModel)]="data.name" #nameError="ngModel" required pattern=".*\S.*">
        <mat-error *ngIf="nameError.invalid && nameError.touched">
            <div *ngIf="nameError.errors.required || nameError.errors.pattern">
                Name is required
            </div>
        </mat-error>
      </mat-form-field>

    <mat-form-field class="w-full mt-2" appearance="fill">
        <mat-label>Link URL</mat-label>
        <input matInput [(ngModel)]="data.link" (ngModelChange)="check($event)" #urlError="ngModel" required [pattern]="urlRegex" placeholder="http://...."
        >
        <mat-error *ngIf="urlError.invalid && urlError.touched">
            <div *ngIf="urlError.errors.required">
                URL is required
            </div>
            <div *ngIf="urlError.errors.pattern">
                Invalid URL
            </div>
        </mat-error>
      </mat-form-field>
</div>

<div class="w-full flex items-center mt-4 justify-end">
  <button type="button" mat-stroked-button color="accent" class="mr-2" mat-dialog-close>Close</button>
  <button type="button" mat-stroked-button color="primary" [disabled]="nameError.invalid || urlError.invalid" [mat-dialog-close]="data">Confirm</button>
</div>