<h1 mat-dialog-title>Record Name: {{ data.recordName }} </h1>
<div mat-dialog-content>
    <h4>Comment: </h4>
  <p>{{ data.comment }}</p>
</div>
<div mat-dialog-actions class="flex justify-end">
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</div>