<div class="user">

    <div class="flex justify-between" fxLayout="auto">
        <div class="flex justify-start">
            <h1 mat-dialog-title>{{this.languageService.language?.popup.enter_details}}</h1>
        </div>
        <div class="flex justify-end" (click)="onCancel()">
            <mat-icon class="cursor-pointer">close</mat-icon>
        </div>
    </div>

    <div mat-dialog-content>
        <div class="add-new-form">
            <div class="display " *ngFor="let control of data.controls.controls; let i = index">

                <!-- <ng-container *ngIf="data.labels[i].type == 4">
                    <input visibility="hidden" [formControl]="control" type="text">
                </ng-container> -->

                <ng-container  *ngIf="data.labels[i].type != 4" >

                <mat-label >{{data.labels[i].label}}</mat-label>

                <mat-form-field class="relative" appearance="outline">

                    <input *ngIf="data.labels[i].type == 1" [formControl]="control" matInput
                        [placeholder]="data.labels[i].label" required
                        [readonly]="data.labels[i].readonly && !data.editing"
                        [disabled]="data.labels[i].disable && !data.editing">
                    <mat-error *ngIf="control.hasError('required')">
                        This Field is Required
                    </mat-error>

                    <!-- <mat-select *ngIf="data.labels[i].type == 2"
                        (selectionChange)="getOptionsForChild($event,data.labels[i].dependentIndex)"
                        [multiple]="data.labels[i].multiple" [placeholder]="data.labels[i].label"
                        [formControl]="control">
                        <mat-checkbox class="select-all" *ngIf="data.labels[i].type == 2"
                            (change)="selectAll($event,i,data.labels[i].dependentIndex)">Select All</mat-checkbox>
                        <a-ng-container *ngIf="this.options[i]">
                            <mat-option *ngFor="let option of this.options[i]" [value]="option">{{option?.value}}
                            </mat-option>
                        </a-ng-container>

                    </mat-select> -->

                    <mat-select [compareWith]="selectComparision" *ngIf="data.labels[i].type == 2"
                        [multiple]="data.labels[i].multiple" [placeholder]="data.labels[i].label"
                        [formControl]="control">
                        <mat-checkbox class="select-all" *ngIf="data.labels[i].type == 2"
                            (change)="selectAll($event,i,data.labels[i].dependentIndex)">Select All</mat-checkbox>
                        <a-ng-container *ngIf="this.options[i]">
                            <mat-option *ngFor="let option of this.options[i]" [value]="option">{{option?.value}}
                            </mat-option>
                        </a-ng-container>

                    </mat-select>

                    <mat-select *ngIf="data.labels[i].type == 3" [multiple]="data.labels[i].multiple"
                        (ngModelChange)="setValue(control)" [placeholder]="data.labels[i].label" [formControl]="control"
                        required>
                        <mat-option *ngFor="let option of data.labels[i].options" [value]="option">{{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
            </div>
            <mat-form-field *ngIf="isTabular" class="w-full" appearance="fill">
                <mat-label>Enter number of columns</mat-label>
                <input type="number" min="1" matInput [formControl]="colNumber">
            </mat-form-field>
        </div>
        <!-- (change)="getOptionsForChild($event,data.labels[i].dependentIndex)"  -->
    </div>


    <div class="flex justify-center" mat-dialog-actions>
        <button mat-button (click)="onCancel()">{{this.languageService.language?.popup.cancel}}</button>
        <button mat-button color="primary"
            [disabled]="data.controls.invalid && (data.colNumber ? data.colNumber.invalid : true)"
            (click)="onSubmitForm()">{{data.editing ?
            this.languageService.language?.button.update :this.languageService.language?.popup.submit}}</button>

        <mat-progress-spinner *ngIf="isLoading" [diameter]="30" class="spinner ml-4" color="primary"
            mode="indeterminate">
        </mat-progress-spinner>
    </div>

</div>