.exai-style-light {
  $sidenav-background: white;

  --navigation-background: var(--background-card);
  --sidenav-background: #{$sidenav-background};

  // Sidenav
  --toolbar-background: var(--background-card);
  --sidenav-color: var(--text-color);

  // Sidenav Item
  --sidenav-item-background-active: #{darken($sidenav-background, 2)};
  --sidenav-item-color: var(--text-color);
  --sidenav-item-color-active: var(--text-color);
  --sidenav-item-dropdown-background: #{darken($sidenav-background, 2)};
  --sidenav-item-dropdown-background-hover: #{darken($sidenav-background, 3)};
  --sidenav-item-icon-color: #494B74;
  --sidenav-item-icon-color-active: rgb(var(--color-primary));
  --sidenav-toolbar-background: #{$sidenav-background};

   // Toolbar
   --toolbar-height: 75px;
   --toolbar-background: white;
   --toolbar-color: #{$dark-primary-text};
   --toolbar-icon-color: rgb(var(--color-primary));
 
   // Secondary Toolbar
   --secondary-toolbar-background: var(--background-card);
   --secondary-toolbar-height: 54px;
 
   // Navigation
   --navigation-height: 64px;
   --navigation-background: var(--background-card);
   --navigation-color: var(--text-secondary);
 
   // Footer
   --footer-height: 56px;
   --footer-z-index: 100;
   --footer-background: var(--background-card);
   --footer-color: var(--text-color);
   --footer-elevation: 0 -10px 30px 0 rgba(82, 63, 104, .06);
 
   // Page Layouts
   --page-layout-header-height: 200px;
   --page-layout-toolbar-height: 64px;
 
   // Misc
   --blink-scrollbar-width: 12px;
   --default-icon-size: 24px;
   --border-radius: 4px;
 
   // Border
   --border: 1px solid #7d7d7d66;
   --border-radius: 4px;
   --btn-border: 1px solid #209E91;
   --mat-border-color: black;
 
   // table
   --theader :#cdcdcd;
   --table-header:#F1F2F2;
   --text-register: #7D7D7D;
   --header-font:#11263C;
 
   // button
   --button-background: #209E91;
   --button-color: #FFFFFF;
 
 
   // icon
   --icon-color: #c4c4c4;
   --mat-icon-color : #209E91;
 
   // mat-check-box
   --check-box-color: #005691;
   
   // stroke-button
   --change-request: #EE9400;
   --change-request-border : 1px solid #EE9400;
   --delete: #E80400;
   --delete-border : 1px solid #E80400;
 
 
   //mat-expansion
   --dropdown-color: #11263C;
}
