.col-indicator {
    height: auto !important;
}


.row-indicator {
    height: auto !important;
}

.e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content {
    height: auto!important;
}

.mat-form-field-outline {
    opacity: 0;
    }

    
.file-drop-area button {
    display: none;
}

.file-drop-area span {
    display: none!important;
}

.file-drop-area .delete-btn {
    display: none;
}

.form-content-component {
    padding: 0;
    /* width: 700px; */
}

.generalDropzone {
    padding: 0;
    pointer-events: none;
}

textarea.mat-input-element {
    overflow: visible;
}

.mat-form-field-label-wrapper {
    overflow: visible;
}

/* ISO Paper Size */
@page {
    size: A4;
  }
  
/* @media print {
    .textarea-value {
      display: block!important;
  
  }
  
  .textarea-value-hidden {
      display: none!important;
  }
  
  } */

.field.textarea .e-richtexteditor.e-rte-tb-expand .e-rte-content, .e-richtexteditor.e-rte-tb-expand .e-source-content {
    border: none!important;
    border-radius: 7px;
}

.submit-button-form {
    display: none;
}

.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
    border: 0.2px solid #666;
    opacity: 1;

}