<div>
    <div class="flex justify-between" fxLayout="auto">
        <div class="flex justify-start">
            <h1 mat-dialog-title>{{ dialogTitle }}</h1>
        </div>
        <div class="flex justify-end" (click)="onCancel()">
            <mat-icon class="cursor-pointer">close</mat-icon>
        </div>
    </div>
    <div class="center-loading" *ngIf="loadingDataForDropdown">
        <mat-progress-spinner [diameter]="30" class="spinner" color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <form *ngIf="!loadingDataForDropdown" class="add-new-form" [formGroup]="formGroup">
        <mat-label>Division <span class="required-star">*</span></mat-label>
        <mat-form-field class="w-full" appearance="outline">
            <mat-select formControlName="division" [placeholder]="'Select Division'" required>
                <mat-option *ngFor="let option of divisionOptions$ | async" [value]="option.id">{{option.value}}
                </mat-option>
            </mat-select>
            <mat-error>
                <div *ngIf="formGroup.get('division').touched && formGroup.get('division').invalid"
                    class='invalid-feedback'>
                    <div *ngIf="formGroup.get('division').errors.required">
                        Division is required.</div>
                </div>
            </mat-error>
        </mat-form-field>
        <mat-label>Sub Division <span class="required-star">*</span></mat-label>
        <mat-form-field class="relative w-full" appearance="outline">
            <input [maxLength]="64" formControlName="name" matInput [placeholder]="'Enter Name Of Sub Division'"
                required>
            <mat-hint [class.required-star]="this.formGroup.get('name').value?.length > 64">
                {{this.formGroup.get('name').value?.length || 0}}/64</mat-hint>
            <mat-error>
                <div *ngIf="formGroup.get('name').touched && formGroup.get('name').invalid" class='invalid-feedback'>
                    <div *ngIf="formGroup.get('name').errors.required">
                        Name is required.</div>
                </div>
                <div *ngIf="formGroup.get('name').touched && formGroup.get('name').invalid" class='invalid-feedback'>
                    <div *ngIf="formGroup.get('name').errors.noWhitespace">Only whitespace is not allowed.
                    </div>
                </div>
            </mat-error>
        </mat-form-field>
        <div class="flex justify-between w-full" mat-dialog-actions>
            <button type="button" mat-button (click)="onCancel()">{{this.languageService.language?.popup.cancel}}</button>
            <button  type="submit" *ngIf="!isLoading" mat-button color="primary" (click)="onSubmitForm()">
                {{data?.editing ?
                this.languageService.language?.button.update :this.languageService.language?.popup.submit}}
            </button>
            <mat-progress-spinner *ngIf="isLoading" [diameter]="30" class="spinner mr-4" color="primary"
                mode="indeterminate">
            </mat-progress-spinner>
        </div>
    </form>
</div>