      <div class="example-full-width  flex flex-col">
        <label class="material-divide-input">{{item.label}} <span *ngIf="item.validators.required">*</span></label>
        <div *ngFor="let v of item.values" class="flex flex-col">
          <mat-checkbox [disabled]="disabled" class="mb-2"  [(ngModel)]="v.checked" (change)="onToggle()">
            {{v.label}}
          </mat-checkbox>
        </div>
      </div>