<div class="dropdown-header">
    <h3>Columns Number</h3>
    
    <mat-icon mat-dialog-close class="close-icon">
      close
      </mat-icon>
    </div>
<div class="grid grid-cols-3">
    <div [mat-dialog-close]="column" class="column-border-dialog" *ngFor="let column of columns">
        {{ column }}
    </div>
</div>