.column-border-dialog {
    border: 1px solid rgb(229, 229, 229);
    padding: 1.5rem;
    margin-right: -1px;
    margin-bottom: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(89, 89, 89);

    transition: 0.2s all;

    cursor: pointer;

    &:hover {
        background-color: rgba(var(--color-primary), 0.5);
        color: #fff;
    }
}
.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    color: rgb(93, 93, 93);
}

.close-icon {
    color: rgb(93, 93, 93);
    cursor: pointer;
}